[2021-01-15 13:13] #186 closed

[2021-01-15 13:15] pineappleray66 opened #214 "Server discovery task"
Hello All

i am not able to find a server discovery task is there one avlible?

seems a fundimental task to be missing.

thank you

[2021-01-15 14:07] pineappleray66 opened #215 "Onboarding Task"
All

is it possible to create a single onboarding task via ansible?

thanks

[2021-01-20 10:41] jagadeeshnv commented on #214
@pineappleray66  This feature is not available as of now. Will update when we add it to the pipeline

[2021-01-20 13:24] #212 closed

[2021-01-25 12:03] #162 closed

[2021-01-27 18:31] grantcurell commented on #172
@TrevorSquillario I'd be willing to take this one!

[2021-01-27 18:52] TrevorSquillario commented on #172
@grantcurell I ended up writing this one and sending it over to the team. So this module should be included in the next release. I need to figure out unit testing before I submit pull requests here. Closing this issue.

[2021-01-27 18:52] #172 closed

[2021-01-27 19:49] grantcurell commented on #171
@anupamaloke I'd be willing to take this one. I think I know what the problem is

[2021-01-28 12:17] pineappleray66 commented on #214
thank you

[2021-01-28 17:24] grantcurell opened #234 "What docstring convention is in use?"
I'm writing my first contribution, but don't have a good read on how to format my docstring. What convention should I use?

Edit: My plan is to use Google format - happy to swap it if another type is preferred.

[2021-01-29 11:24] jagadeeshnv commented on #234
You can use reST

[2021-01-29 14:11] grantcurell commented on #234
Will do!

[2021-01-29 14:11] #234 closed

[2021-01-31 02:03] geeshans opened #235 "Update Fails with FTP"
I'm trying to upgrade idrac firmware using a repo in a FTP share. Both idrac and ftp share are in the same network with no firewall restrictions.

[code]

This fails and with the error:

_Start TimeNot Applicable
Expiration TimeNot Applicable
MessageRED016: Mount of remote share failed._

The example playbook is not clear on how to use a FTP share since it uses an HTTP location.

**Version Info:**

[2021-01-31 18:21] geeshans commented on #235
[code]

[2021-02-01 10:40] jagadeeshnv commented on #179
@MallocArray This has been addressed with latest release, please verify

[2021-02-01 10:42] jagadeeshnv commented on #180
@MallocArray now this module supports check mode. Thank You

[2021-02-01 10:42] #180 closed

[2021-02-01 10:47] jagadeeshnv commented on #169
@MallocArray Please let us know by reopening if not fixed

[2021-02-01 10:47] #169 closed

[2021-02-02 12:50] pineappleray66 commented on #215
HI
i have searched all the API areas but can still not locate anything to help with creating this task
can you help
thanks

[2021-02-02 15:22] grantcurell opened #237 "Where are AnsibleFailJson and AnsibleExitJson defined? Missing test dependencies?"
I'm spinning myself up on unit testing with Ansible and am struggling with the import nomenclature. I've been able to adjust a lot of it for my own environment to get it to work. However, one piece I'm missing are the following in common.py:

[code]

`MagicMock` I can just import separately with `unittest.mock import MagicMock`. It looks like in other collections it is bundled, but it's missing in

[2021-02-11 05:02] jagadeeshnv commented on #237
@grantcurell Please refer https://github.com/dell/dellemc-openmanage-ansible-modules/blob/collections/tests/README.md for the tests dependencies

[2021-02-11 16:22] woyteck1 opened #238 "Does this collection support Dell EMC PowerSwitch Nxx00 Series ?"
I am trying to find out if these modules support Dell EMC PowerSwitch N1100 Series switches...
These switches run DellEMC OpenManage.

Thanks
W.

[2021-02-11 17:54] MallocArray commented on #179
I just tried again after upgrading to the 3.0.0 collection and I still get the same message.  I switched from using variables to hard coded values to ensure I was giving proper data and still get the error

MX7000 running 1.20.10 with an existing Fabric named "Fabric A"

[code]

FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/libexec/platform-python"}, "changed": false, "msg":

[2021-02-12 04:02] jagadeeshnv commented on #179
@MallocArray Please try with the full collection path `dellemc.openmanage.ome_smart_fabric` in the above task and let us know

[2021-02-12 04:04] jagadeeshnv commented on #238
@woyteck1 These modules support DellEMC iDRAC and DellEMC OpenManage Enterprise configuration only. Not switches

[2021-02-12 04:04] #238 closed

[2021-02-12 17:55] TrevorSquillario opened #239 "ome_firmware - Filter updates by device and component"
Currently when you specify baseline_name it updates ALL devices in the baseline. This is creates a potentially disruptive situation for customers if they don't know this. Creating a separate baseline for each device is the current workaround and it's not the best way to do things, imo. This is not how you would do it in OME.

I would suggest making the module work like OME allowing you to filter t

[2021-02-12 20:34] MallocArray commented on #179
I did have the collection specified earlier in the playbook, but I changed that line to now have the FQCN and it did not make a change.  Same error.

I can open a full Dell TechDirect ticket if that is the best way to troubleshoot this particular situation.

[2021-02-15 11:14] anupamaloke commented on #235
@geeshans, I am guessing the issue could be due to how you are specifying the FTP share in the ```share_name``` parameter. The module will interpret this as a NFS share instead of a FTP share and consequently iDRAC will fail to communicate with the share using NFS protocol.

You need to specify the FTP share in the ```share_name``` argument as listed below:

[code]
Could you please try with the ab

[2021-02-16 17:17] anaterth opened #240 "idrac_firmware.yml HTTP firmware update fails to connect to HTTP server"
I am attempting to update the iDRAC via an HTTP server containing the catalog.xml and updates.

My playbook is as follows:

[code]

When I run this playbook, I get:

[code]
Note: When I run this playbook, I have TCPDump monitoring port 80 on the HTTP server.  I see no traffic.
Another Note: If I navigate to "http://<HTTP server>/updates/catalog.xml" via a browser, I see the catalog.

This seems to

[2021-02-16 18:53] davehouser1 opened #241 "Could not find device driver for iDRAC with IP address: <ip address>"
**Module:** dellemc.openmanage.idrac_lifecycle_controller_logs

**Problem:** I keep getting this error when trying to use the dellemc-openmanage-ansible-modules device driver

`Could not find device driver for iDRAC with IP address: <ip address>`

**Note:** This module worked fine a week ago. Recently we changed the IP addresses of our iDrac servers to a new network. What is odd is I am able to re

[2021-02-16 19:58] anaterth commented on #241
@davehouser1
I have encountered this issue when I provided the wrong password.  The error really doesn't indicate that is the issue, but I would double-check the credentials used.

[2021-02-16 20:14] davehouser1 commented on #241
@anaterth that was it.
The playbook was using active directory credentials to login. I changed it to root and it worked. Looking closer our migration did some AD / DNS ip & host changes. Misconfiguration on our part.
Yes that error is misleading. Maybe Dell can implement a conditional to check for login success first, then provide an error based on the results.

[2021-02-16 20:14] #241 closed

[2021-02-18 08:54] geeshans commented on #235
Hi @anupamaloke ,

Yes this fixed it. Also I had ` : ` in the share name between server and the path. Removing that and adding the protocol solved the issue.

Thank you!

[2021-02-18 08:54] #235 closed

[2021-02-24 17:01] jagadeeshnv commented on #237
@grantcurell Hope this solved the issue

[2021-02-24 17:20] grantcurell commented on #237
Ah sorry man. I'll just close this out - I had already seen that but I've been working other coding projects so I haven't circled back around to try it out again. I'll close this though - I don't want it cluttering your board 😂

[2021-02-24 17:20] #237 closed

[2021-02-25 08:47] jagadeeshnv commented on #187
@MallocArray This has been fixed with the latest release 3.1.0. please verify

[2021-02-25 09:27] jagadeeshnv commented on #171
@mrhollywoodgates This has been fixed with the latest release 3.1.0. Kindly Verify

[2021-02-25 15:00] aminastireanu commented on #98
Hi,
I have stumbled upon the same limitations of the ansible module: - unable to set fqdn for smtp server or set sender address (these can be done from iDRAC9 v 4.20.20.20 for eg.)

If it's not on the roadmap any time soon could anyone share with us the redfish API path for this? I couldn't find it myself in [this API guide](https://dl.dell.com/topicspdf/idrac9-lifecycle-controller-v4x-series_api-

[2021-03-01 19:34] akamac opened #243 "dellemc_idrac_storage_volume: Failed to perform storage operation"
Inventory:
[code]
Task:
[code]
Result:
[code]

`redfish_storage_volume` works fine.

[2021-03-02 12:01] jagadeeshnv commented on #179
@MallocArray Please raise a ticket

[2021-03-02 12:04] anupamaloke commented on #243
@akamac, can you try with ```raid_reset_config``` argument set to ```True``` in your playbook?

[2021-03-03 04:28] jagadeeshnv commented on #187
@MallocArray Hope this is fine, will be closing this.

[2021-03-03 04:28] #187 closed

[2021-03-03 08:34] akamac commented on #243
That did not help. How can I get a more verbose error output for the module?

[2021-03-03 09:39] aminastireanu opened #244 "idrac_bios: pxe boot and boot_sources"
Hi,
I didn't find a similar issue so I'm wondering if i'm the only one facing it.

r640 idrac 4.20.20.20 (tried 4.40.0.0 and 3.32.32.32) bios 2.6.4
Python 2.7.18
ansible                3.0.0
ansible-base           2.10.6
omsdk                  1.2.456
dellemc.openmanage 3.1.0  (tried 3.0 also)

Basically 2 problems:
- Fail to disable pxe boot:
[code]

And run:
[code]
idrac log:
[code]

According t

[2021-03-03 12:14] aminastireanu commented on #244
UPDATE:
I found that the old module 'dellemc_configure_bios' from collection version 2.1.5 and that one works!
Looking at source code in idrac_bios.py line 403 I can see boot_sources defined differently than it used to be in the deprecated module:
`            "boot_sources": {"required": False, "type": 'list', "elements": "str"}`

So I removed this part `, "elements": "str"`

And it seems to work

[2021-03-03 20:43] akamac opened #245 "redfish_storage_volume not idempotent"
Hi there,

I have a task:
[code]
When I run it for the first time, it works just fine.
Second time it fails with:
[code]

Anything I'm doing wrong?

[2021-03-04 19:26] MallocArray commented on #187
Confirmed as fixed.  Thank you.

[2021-03-04 19:37] MallocArray commented on #194
The parameter name "share_name" is incredibly misleading if it really just means a local path on the Ansible server, as anytime a share is mentioned, I immediately assume NFS or CIFS.

[2021-03-04 19:47] MallocArray commented on #179
I opened a TechDirect ticket and we found the cause.

In Ansible Inventory, I have a DNS name for the IP of the lead chassis (We can't use the VIP feature currently for other reasons).  So DellGroup1.domain.com is a DNS record for the IP of the Lead.
The Lead chassis itself has Settings>Network>DNS Name set to DellGroup1Chassis01, and all of the other chassis follow suit.

It appears that this is

[2021-03-05 05:24] jagadeeshnv commented on #179
@MallocArray Thanks for the details, this helped. we will definitely consider, and will update you soon on this thread when this module is modified

[2021-03-05 08:04] anupamaloke commented on #243
@akamac, I think I might have found the issue. Could you please change ```span_length``` to ```2```  in your playbook and try again? ```span_length``` is the number of disks that you want to use for virtual disk creation which will be ```2``` for a RAID 1 volume. Ideally, the module should take a look at the list of physical disks provided in the ```volumes``` argument and calculate it automatical

[2021-03-05 08:22] anupamaloke commented on #244
@aminastireanu, some of the Bios attributes are dependent on the Boot Mode. ```PxeDev1EnDis``` attribute will only show up in the list of bios attribute only when the Boot Mode is ```Uefi```. So, you first need to run the task to set the boot mode to ```Uefi```, and then run another task to configure the ```PxeDev1EnDis``` attribute.

[2021-03-09 13:26] akamac commented on #243
It is indeed. Thanks for looking into this!

[2021-03-09 13:26] #243 closed

[2021-03-09 13:37] aminastireanu commented on #244
I see.. I assumed it was controlling the pxe enable/disable option from within NIC's bios and would not be linked to uefi.

I ended up using boot sources to control this but still one's left to wonder why the modules marked as _deprecated_ actually work when the new _idrac__... ones seem to be more buggy..

I'm staying on collection version 2.1.5 for now as I feel that 3 was rushed, documentation

[2021-03-16 14:01] mdn19866 commented on #185
I found the same issue when using device ids. We have several OME installations in our landscape. For those with only a few servers connected it works flawlessly. But I found for OME instances with > 50 connected server that there is a pagination of which the underlying python plugin is not aware of.

In the output of the API call you can find it (`/api/DeviceService/Devices`):
[code]

Nothing men

[2021-03-16 20:02] matthewit2 opened #246 "idrac_firmware module errors with "msg": "'PercentComplete'" but still applies firmware updates"
I'm running the idrac_firmware module to update some new r640 servers and the task always fails with "msg": "'PercentComplete'". In the iDRAC I see the job goes through and applies firmware updates and even pauses for the required reboots. It's getting that job status back to Ansible that seems to be the issue.

TASK [config-dell_servers : Update firmware from repository on a Network Share] ******

[2021-03-19 19:36] leandrocarpenter opened #247 "Get system inventory - Error"
Hello good afternoon
I'm starting the creation of playbooks for idracs, when I'm going to run the playbook to collect information from systems, I get the error below:
"PLAY [Get system inventory]
skipping: no hosts matched "

Attached, prints of the playbook and inventory could help me locate my error?
![inventory](https://user-images.githubusercontent.com/76078156/111833622-32fe4880-88d1-11eb-97c

[2021-03-19 19:37] leandrocarpenter commented on #247
![image](https://user-images.githubusercontent.com/76078156/111833734-57f2bb80-88d1-11eb-8e7d-a6d62d814e43.png)

[2021-03-22 05:04] jagadeeshnv commented on #247
@leandrocarpenter Please check your inventory file, and update the "hosts" field in the playbook appropriately

[2021-03-23 11:58] jagadeeshnv commented on #246
Hi @matthewit2 Can you confirm the version of `dellemc.openmanage` collections in use? `ansible-galaxy collection list dellemc.openmanage`

[2021-03-23 11:59] jagadeeshnv commented on #171
@mrhollywoodgates Hope this is working fine with the latest

[2021-03-25 14:14] matthewit2 commented on #246
Hi Jagadeesh,

I have to apologize, this specific error was from the idrac_firmware module
included in the Ansible 2.9 baseline (v2.8), not the dellemc.openmanage
community collection.

I did pull down the community collection (v3.1.0) and have the same (but
more verbose) error. The idrac_firmware module is at version 2.1.0 (which
seems odd). I've attached that log here.

Matthew Meyer

Systems Ar

[2021-03-25 14:17] #246 closed

[2021-03-25 14:21] matthewit2 opened #250 "idrac_firmware module errors when no updates are applicable to the system"
I'm having an issue where the idrac_firmware module errors on any host that is fully up to date against our firmware repo. In the example below, two dell 640's were updated. ESXI01 was fully patched and received the error. ESXI02 had an applicable idrac upgrade and was successful.

idrac_firmware module version: "2.1.0"
dellemc.openmanage collection version: "3.1.0"

[root@WWTATC]# ansible-playboo

[2021-03-25 16:33] TrevorSquillario opened #251 "ome_firmware - Add ability to stage updates"
By default the module will reboot a server and install updates now. We need the option to stage updates for next reboot like OME does.

This is implemented in the PowerShell Module https://github.com/dell/OpenManage-PowerShell-Modules/blob/main/DellOpenManage/Public/OME/Update-OMEFirmware.ps1

[2021-03-25 16:36] GregBowersock commented on #239
Adding the ability for a single (or multiple) service tags to run against a baseline would be a huge help. This would allow for people to update a cluster one node at a time to make sure things are working and not require the entire cluster to be offline.

[2021-03-25 21:52] TrevorSquillario opened #252 "ome_firmware not idempotent"
When applying a firmware catalog that doesn't need any updates the module fails. This is not how ansible works. The module should return a success in this instance. When you are building automation to say provision a bare-metal server the tasks will fail at this module instead of continuing on to say import a template. There are workarounds but this needs fixed in the code.

Error
{"changed": fals

[2021-03-26 20:40] TrevorSquillario opened #253 "ome_smart_fabric_uplink not idempotent"
When running the module if the uplink exists it fails breaking the task sequence that follows. This does not follow the Ansible guidelines for module development. Need to check to see if this uplink exists and if it does return changed = false.

[code]

[2021-03-29 08:35] dwettstein commented on #239
Actually, I'm a bit surprised that filtering a baseline by device is not possible yet. For us this is absolutely crucial!

[2021-03-29 08:39] dperez-sct commented on #239
I have "found" that using idrac instead of openmanage you can upgrade standalone servers. I've used this, if it helps:

[code]

[2021-03-29 08:49] dwettstein commented on #239
Thanks for your suggestion. Unfortunately, this would imply that Ansible needs connectivity to all iDRACs directly, which we currently don't have, only OME has.

[2021-03-29 12:16] liamwh opened #254 ""Could not find device driver for iDRAC with IP Address" (idrac_os_deployment)"
### Scenario/Intent
Trying to attach an ISO over NFS to an iDRAC using idrac_os_deployment.

The iDRAC is accessible via web:
![image](https://user-images.githubusercontent.com/23312359/112834846-c76a6700-9098-11eb-8308-0f8e0441b2c5.png)

### Environment Details
 - **Module Version:** 6.0.0
 - **Ansible Version:** ansible 2.10.7
 - **iDRAC Server:** PowerEdge R740xd
 - **Python Version:** python v

[2021-03-29 12:22] #254 closed

[2021-03-29 20:45] TrevorSquillario opened #255 "ome_template not idempotent"
When running the module if the template exists it fails breaking the task sequence that follows. This does not follow the Ansible guidelines for module development. Need to check to see if a template by this name exists and if it does return changed = false. This would apply to the 'create' and 'import' actions.

```fatal: [MX7000-C38ZZZZ]: FAILED! => {"changed": false, "error_info": {"error": {"@

[2021-03-30 13:16] dwettstein commented on #239
Hey @Sajna-Shetty, @rajeevarakkal

Is someone currently working on that issue respectively feature? If yes, when can we expect it to be released? If no, I would offer to work on that and create a pull request.

Cheers

[2021-03-31 08:52] jagadeeshnv commented on #215
discovery module will be added in the coming month

[2021-04-02 19:17] liamwh opened #256 "Feature request: Add HTTPs boot option to idrac_os_deployment"
Or alternatively equivalent to selecting this option in the iDRAC console:

![image](https://user-images.githubusercontent.com/23312359/113446730-bb640980-93f8-11eb-8994-8ea3fec64350.png)

[2021-04-06 09:32] anupamaloke commented on #256
@liamwh, in order to boot from a virtual CD/DVD drive using an ISO file from a HTTP/S location, you can maybe use the virtual media. For e.g., following is the sample playbook:

[code]

[2021-04-06 17:52] grantcurell opened #257 "Documentation clarification - why is a share required?"
Hello - fellow Dell guy here. I've had a couple of customers ask me this question and while I can go read the source code and provide an answer they aren't sure how to figure it out. I had one ask me recently, "Why for enabling or disabling syslog is a share required?" Ex:

https://www.dell.com/support/manuals/en-lv/openmanage-ansible-modules/omam_ug_3/configure-syslog?guid=guid-4dc3797b-3981-4dec

[2021-04-08 10:40] sergiuser1 opened #260 "Catalog.xml missing from downloads.dell.com"
Using the `idrac_firmware.yml` playbook fails with the following error message:
[code]

That seems to be because the link `https://downloads.dell.com/Catalog.xml` returns 404.

[2021-04-08 15:36] anupamaloke commented on #257
@grantcurell, the syslog module uses a server configuration profile to update the iDRAC syslog attributes on iDRAC 7/8 and iDRAC 9. During the initial stages when the module was being developed, iDRAC7/8 only supported importing a SCP file from a remote network share (CIFS or NFS). Therefore ```share_name``` argument was added to specify the network share location that iDRAC will use to import the

[2021-04-08 16:19] #257 closed

[2021-04-08 16:19] grantcurell commented on #257
Ah that makes sense! Sounds good!

[2021-04-08 16:22] anupamaloke commented on #260
@sergiuser1, could you please list your playbook here? Also, what is the version of the iDRAC and the openmanage collection that you are running?
As per the [iDRAC EEMI guide](https://www.dell.com/support/manuals/en-us/openmanage-software-9.0.1/eemi_14g_1.70/sup-event-messages?guid=guid-37a27ddb-9228-49b6-aa6b-f4d0e21da8fb), the ```SUP028``` error code is when the GetRepoBasedUpdateList method was

[2021-04-11 09:02] markatdxb opened #261 "add documentation for new modules"
Hello. its great that you developed new modules configuration compliance.  Would be possible to add modules info into this page including some samples ?

https://docs.ansible.com/ansible/latest/collections/dellemc/openmanage/index.html#dellemc-openmanage

cheers

[2021-04-12 13:05] sergiuser1 commented on #260
The iDRAC I ran the playbook is an iDRAC 9, with Firmware Version 2.75.75.75. The dellemc.openmanage collection is version 3.0.0, and here is the playbook that I ran:
[code]

[2021-04-14 07:19] vzovko opened #262 "ImportError: Dell EMC OMSDK library is required for this module in virtual environment"
## Description

I ran into the issue `ImportError: Dell EMC OMSDK library is required for this module` while running the below playbook called `reproduce.yml`. I'm executing this playbook in a Python virtual environment. See below for details.

In this particulare scenario I'm executing the playbook with data produced from an internal ordering system. From this input an in-memory with `add_host`is

[2021-04-14 18:19] ryokubaka opened #263 "iDRAC network module halts"
Upon executing the idrac_network module, the execution fails with the message "Unable to complete application of configuration profile values." and a MessageId of "SYS067".  I cannot seem to find any additional feedback as to what the root cause of failure is.

@grantcurell on-site; asked us to make a ticket for the issue.

[2021-04-15 01:58] grantcurell commented on #257
@anupamaloke was asked about this today - just for tracking purpose do you happen to have the number for the enhancement request? I have an interested customer that would like to keep track of it

[2021-04-15 10:35] anupamaloke commented on #260
@sergiuser1, I guess you meant iDRAC 8 as 2.xx.xx.xx firmware is supported on older iDRAC 7/8 only. Anyway, I also tried the playbook on a iDRAC 8 but I could not reproduce this issue. Would it be possible for you to log in a support ticket with us so that the Dell support team can get in touch and collect necessary logs and information to debug this?

[2021-04-15 13:06] anupamaloke commented on #257
@grantcurell, I have this enhancement request added to our internal backlog. As of now, we still need to get this prioritized. I will keep you updated with the progress.

[2021-04-15 21:08] grantcurell opened #264 "Passing incorrect password produces erroneous error message"
I passed the following input to the `idrac_network.py` module:

[code]

This produces an erroneous error message that is misleading to the user:

`{"failed": true, "msg": "Could not find device driver for iDRAC with IP Address: 192.168.1.63", "invocation": {"module_args": {"idrac_ip": "192.168.1.63", "idrac_user": "root", "idrac_password": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER", "share_name": "some

[2021-04-15 21:57] grantcurell commented on #263
@ryokubaka I'm not getting the same output - sorry, I know you didn't want to have to find a way to copy and paste it over but I need to know what options you ran it with 😂

[2021-04-15 22:09] grantcurell opened #266 "idrac_network.py fails with `AttributeError: 'NoneType' object has no attribute 'iDRAC'`"
When attempting to update the idrac IP with input:

[code]

I receive:

[code]

I've run the error down and it occurs because my instance of `omdrivers.lifecycle.iDRAC.iDRACConfig.iDRACConfig` has no value `_sysconfig` in:

[code]

[2021-04-16 13:45] MallocArray opened #267 "ome_template_network_vlan against OME-M does not Propagate VLAN settings"
When using the ome_template_network_vlan module to add VLANs to a Template against an OME-M system in MX7000 chassis running firmware 1.20.10, the VLANs are not propagated, even if the Template has the checkbox set to "Propagate VLAN settings immediately"

The VLANs do show up in the template when viewing it in the GUI, but the propagation is not triggered when modified using the Ansible module.

[2021-04-16 14:26] sergiuser1 commented on #260
My bad, it is iDRAC 8, no 9. I tried the playbook again, but got the same resolt. Could you guide me on how to log in a support ticket? Thanks in advance.

[2021-04-16 15:42] grantcurell commented on #266
This happens because the liason share is required but there is no error handling in the event that a connection to the share fails. Since this is not handled it eventually results in the nonetype object. Specifically `_load_scp` in `iDRACConfig.py` fails but that failure is never accounted for.

[2021-04-16 17:37] ryokubaka commented on #263
Here is the task being executed (note, the somewhat odd way I am passing the idrac_password works in other playbooks, so this is fine):

- name: Configure iDRAC network settings
	idrac_network:
		idrac_ip: "{{ idrac_ip }}"
		idrac_user: "{{ idrac.idrac_user }}"
		idrac_password: "{{ idrac[hostname].idrac_password }}"
		share_name: "{{ share.share_name }}"
		share_mnt: "{{ share.share_mnt }}"
		reg

[2021-04-16 18:37] grantcurell commented on #263
@ryokubaka there's a problem with your share. That error occurs in [this function](https://github.com/dell/dellemc-openmanage-ansible-modules/blob/54eed8cd50980541d6e02ef56b2544aa40ef5862/plugins/modules/idrac_server_config_profile.py#L201)

I've PR'd instructions on how to deal with this easily. Trying using your playbook directory as described [here](https://github.com/dell/dellemc-openmanage-an

[2021-04-17 15:31] liamwh commented on #256
Hi there,

Unfortunately this does not work as we require authentication to the https source. See below:

Code:
![image](https://user-images.githubusercontent.com/23312359/115118202-643a6900-9fa2-11eb-912f-5d92a319833d.png)

Result:
![image](https://user-images.githubusercontent.com/23312359/115118271-ac598b80-9fa2-11eb-9e98-538cc230c3cf.png)

[2021-04-19 17:04] ryokubaka commented on #263
Unfortunately this did not fix the issue. I do see an xml generated starting with "scp" when I run, so it does recognize the playbook_dir appropriately, but I still get the same output.

[2021-04-19 23:43] grantcurell commented on #263
I'd put it in a debugger then. Unfortunately I wasn't able to replicate but I also haven't set up an environment to change everything in one go

PR #265 has detailed instructions if you want to go that route

[2021-04-19 23:44] grantcurell commented on #263
There's a lot of interdependent things in there, you might try breaking up the number of things you change into smaller groups and see if it fails on one thing or another

[2021-04-19 23:45] grantcurell commented on #263
Ex: if you change the IP and then change stuff after I didn't look at the source to see if it would sequence things to follow that change

[2021-04-20 07:06] liamwh commented on #214
Hi @jagadeeshnv,

I would like to upvote this request. I am unsure whether we can automatically deploy servers using Ansible at the moment? Can you please advise how we can automate the below manual process?

Our manual workflow to deploy a new server looks like so:

1. On iDRAC configure directory services (for AD login)
2. On OME trigger device discovery by:
Choosing "Device Type" as Server, Del

[2021-04-20 15:24] ryokubaka commented on #263
Found the issue - commenting out the following line allows the module to execute successfully:

`auto_detect: "{{ auto_detect }}"` - where the variable has been defined as "Disabled".

[2021-04-23 14:04] liamwh commented on #256
Hi there, I have worked around this issue using an unauthenticated HTTPS server. Closing request,

[2021-04-23 14:04] #256 closed

[2021-04-26 07:49] anupamaloke commented on #261
@markatdxb the documentation has now been updated on the Ansible documentation site.

[2021-04-26 07:49] #261 closed

[2021-04-26 07:56] anupamaloke commented on #260
@sergiuser1, sorry for a much delayed response. You can go to [Dell Support](https://www.dell.com/support), enter your ServiceTag and then raise a technical support request. You must have an existing and valid warranty on your server before you can raise a SR.

[2021-04-26 09:53] artemoz2021 opened #271 "OME not working"
Hello, what i've got:
ansible 2.10.8
python 3.8.2 or 2.7.16
Target server: PowerEdge R740xd
Target iDRAC firmware: 4.40.00.00

I'm trying to power off server remotely via ansible but the target machine reports with error. I've tryed to use module from collections and master branches, i've also tryed to use different version of python but with no luck.

**This is a part of my test playbook:**

The

[2021-04-27 09:40] anupamaloke commented on #271
@artemoz2021, ```ome_device_info``` and ```ome_powerstate``` are OpenManage Enterprise (OME) Ansible Modules. These modules work with OME only.  If you want to run a workflow on iDRAC directly, then you must use modules that are prefixed with ```idrac_``` or ```dellemc_idrac_``` or ```redfish_```. For e.g. the iDRAC modules for getting system inventory and performing powerstate operations are ```i

[2021-04-27 12:48] igorgolm opened #273 "All idrac modules give 400 StatusCode"
Hi,

When I try to use modules from dellemc.openmanage, I've got this error:

[code]
For idrac_network,idrac_timezone_ntp etc.

iDRAC9 - 4.40.00.00
ansible - 2.10.8

[2021-04-29 06:49] jagadeeshnv commented on #214
@pineappleray66  We have added the ome_discovery module.
@liamwh
On iDRAC configure directory services (for AD login)
_Will get back on this_
1. On OME trigger device discovery by:
2. Choosing "Device Type" as Server, Dell iDRAC
_The following features are available in the module_
Check "enable trap reception from discovered iDRAC servers and MX7000 chassis"
Check "Set Community String for trap de

[2021-04-29 06:52] jagadeeshnv commented on #214
@pineappleray66 @liamwh  will be closing this. Please provide your feedback if any, by reopening this

[2021-04-29 06:52] #214 closed

[2021-04-29 06:52] jagadeeshnv commented on #215
@pineappleray66 ome_discovery module has been added

[2021-04-29 07:11] #171 closed

[2021-04-29 11:24] jagadeeshnv commented on #185
@elikkayaemircan This has been addressed in the latest release 3.3.0 Please verify and provide your feedback

[2021-04-29 20:07] grantcurell commented on #263
I'll work on a PR for it

[2021-05-03 11:30] #215 closed

[2021-05-03 14:12] grantcurell commented on #194
@weili302

你会做这样就好了。用 {{ playbook_dir }} 替代 "share_name"
You can use the below instead. Replace share_name with {{ playbook_dir }}

{
  "ANSIBLE_MODULE_ARGS": {
      "idrac_ip": "<YOUR_IP>",
      "idrac_user": "root",
      "idrac_password": "password",
      "auto_detect": "Disabled",
      "share_name": "{{ playbook_dir }}",
      "share_user": "some_username",
      "share_password": "some_pa

[2021-05-03 14:16] grantcurell commented on #160
I believe this is the same problem as #266 .

[2021-05-04 14:10] mdn19866 commented on #185
At least for me it works. Thank you!

[2021-05-05 09:27] elikkayaemircan commented on #185
It worked for me as well. Thank you!

[2021-05-05 10:24] #185 closed

[2021-05-06 11:54] dwettstein opened #274 "ome_firmware doesn't support check mode"
Currently the module `ome_firmware` doesn't support Ansible's check mode.

While the module `ome_firmware_baseline_compliance_info` can be used to query if e.g. a device is compliant or not, and if not why respectively which components are not compliant, supporting the check mode in `ome_firmware` would allow to see what would be done/changed before actually doing anything.

[2021-05-19 13:59] #188 closed

[2021-05-19 13:59] #264 closed

[2021-05-21 09:16] sergiuser1 commented on #260
I think I figured out the problem, the iDRAC was firewalled from the outside internet and could not access dell.com

[2021-05-21 09:16] #260 closed

[2021-05-25 10:59] artemoz2021 commented on #271
Hello. It worked, Thanks for help!

[2021-05-25 10:59] #271 closed

[2021-05-25 12:20] artemoz2021 opened #279 "iDRAC: change BIOS settings error"
Hello.

### What i have:

iDRAC8, FW: 2.70.70.70, BIOS: 2.3.4, PowerEdge R530
iDRAC9, FW: 4.40.00.00, BIOS: 2.10.2, PowerEdge R740xd
Python: 3.8.2
ansible: 2.10.4, 2.9.18 (also tryed)
dellemc-openmanage-ansible-modules: collections branch (current), master branch (also tryed)
A user with the following privileges:
![image](https://user-images.githubusercontent.com/83214260/119493012-64c7db80-bd68-1

[2021-05-26 08:51] #179 closed

[2021-05-26 08:52] jagadeeshnv commented on #146
@MallocArray With the latest release this feature is added to the modules.

[2021-05-26 08:52] #146 closed

[2021-05-26 09:04] jagadeeshnv commented on #267
@MallocArray With the latest release propagate_vlan is a option with default true.

[2021-05-26 14:58] MallocArray opened #280 "ome_firmware_catalog in 3.4.0 not idempotent with CIFS password present"
In the 3.4.0 collection, the ome_firmware_catalog module became more idempotent, but if configuring a CIFS repository with the repository_password field, the task always returns "changed" instead of "ok" even if no changes to the configuration are being made.

I assume this is because the password cannot be checked if it is the same, or at least is not being checked, so the module is always pushin

[2021-05-26 15:14] MallocArray opened #281 "ome_firmware_catalog_with_job_tracking.yml example behaves unexpectedly"
In the current version of ome_firmware_catalog_with_job_tracking.yml example playbook, the line:
[code]
causes unexpected results if used in an actual playbook.

On the first run with the provided fields, the task returns a value of "ok" even when it is adding the new catalog as a brand new item.
On a second run, it will return a failure, stating:
 FAILED! => {"ansible_facts": {"discovered_interpr

[2021-05-26 15:58] MallocArray opened #282 "ome_template_network_vlan does not support check mode"
If this module (as of version 3.4.0) is used with check mode enabled, the entire task is skipped.

To follow standard Ansible practices, this module should support check mode and indicate if changes would be made or if things are already configured properly.  Module should be fully idempotent and reflect what would happen by using check mode.

[2021-05-26 16:00] MallocArray commented on #267
Confirmed that this is working as expected without needing to add extra parameters.

[2021-05-26 16:00] #267 closed

[2021-05-26 18:48] MallocArray opened #283 "ome_smart_fabric not idempotent"
With collection version 3.4.0 the ome_smart_fabric does not appear to be idempotent when ran against MX7000 with baseline 1.30.00.  When running in check mode against a configured environment with the same design and tags indicates a change will be made.  When running in run mode, it reports that something was changed and Monitor>Audit Log reports:

May 26, 2021 1:45:22 PM
domain\username
CDEV6047

[2021-05-27 05:12] jagadeeshnv commented on #280
@MallocArray  Its covered in the notes section of the module.
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/32abc4cea3cb102fab051408f327403bc9ae0683/plugins/modules/ome_firmware_catalog.py#L121

[2021-05-27 08:28] jagadeeshnv commented on #281
@MallocArray We have job tracking as part of the module now. We will update this example accordingly.
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/32abc4cea3cb102fab051408f327403bc9ae0683/plugins/modules/ome_firmware_catalog.py#L101

[2021-05-27 13:47] MallocArray commented on #280
Ah, so it is.  Can I suggest also adding a note to the repository_password  parameter in addition to the Notes section?

[2021-05-28 08:50] jagadeeshnv commented on #281
Job wait is enabled by default, probably we will discuss internally and can provide an explicit example on how to skip job tracking. That example will be taken care.

[2021-05-28 08:52] jagadeeshnv commented on #280
I think that would be good. Will discuss with my team and get back.

[2021-05-31 05:08] jagadeeshnv commented on #283
@MallocArray We were not able to reproduce this. Can you please clarify what the following line does?
`description: "{{ smart_fabric_description | default(omit) }}"`

[2021-05-31 08:35] kawalex opened #284 "VFlash support"
Hello,
Do you have some plans to add manipulation off vFlash ?

Today I need to activate and initialize it, and then to create partition on it and attach them. I'm doing this using RAW module via SSH to the idrac, but it is not the best solution.
So It would be great if you add such feature !
Thanks

[2021-06-01 17:41] MallocArray commented on #283
The section:
| default(omit)
just says, if the variable smart_fabric_description is not defined, which in my case it is not, then omit the parameter completely, like it was commented out or not listed at all in the playbook.  In the case that the variable is defined, it will use whatever value is assigned to it.

I just tried removing the description line entirely and it behaved the same, with mul

[2021-06-11 11:07] wioch opened #285 "iDRAC: Execute any ansible task via SSH tunnel"
Hello,

A theoretical question (for now).
I have a couple of servers that can be accessed only via SSH tunnel, something like below gives me access to iDRAC's ssh and https:
[code]

How should I set this variable:
```idrac_ip:   "{{ idrac_ip }}```
so playbooks like _dellemc_get_firmware_inventory_ can work correctly ?
If I try to provide localhost with port, I get following error:
[code]

Envirome

[2021-06-13 18:04] wioch commented on #285
```idrac_port:  "8889"``` solved my problem.
Damn, I totally forgot about this paramter.
Closing.

[2021-06-13 18:04] #285 closed

[2021-06-17 14:01] janr7 opened #286 "redfish_idrac_firmware iDRAC8: Target firmware version doesn't support HTTP protocol"
Hi Dell

Using this module to update Firmware on a server, R730, with 2.60.60.60 to 2.70.70.70 give me this error with either the .exe or .d7 firmware file.
This all works fine with updating iDRAC9
The tick in the iDRAC setup for Redfish is on.

Using: dellemc-openmanage-2.1.1

        "module_args": {
            "baseuri": "ltapp201k",
            "image_uri": "/global/instserv/packages/firmware

[2021-06-21 05:52] jagadeeshnv commented on #281
This example has been removed. This change will be part of ansible-galaxy collections by 6/28 this month.

[2021-06-21 05:52] #281 closed

[2021-06-22 12:02] jagadeeshnv commented on #279
@artemoz2021 The module requires administrator privilege level. Operator privilege level in not sufficient

[2021-06-22 12:06] artemoz2021 commented on #279
Thank you for the reply.
In my case there's a many engineers who need to use this role, but don't have admin privileges.
 Also we can't use the one ADMIN user because of the company policies.
I've implemented the solution via redfish modules that is included into standard ansible module library.

[2021-06-22 12:06] #279 closed

[2021-06-22 15:38] anupamaloke commented on #286
@janr7, I am guessing that the HttpPushUri support for Redfish Simple Update might not be available for iDRAC 2.60.60.60. Could you see please run the following cURL GET command (or from a Postman) on the ```/redfish/v1/UpdateService``` resource and check whether you see "HTTP" or "HTTPS" in the supported ```TransferProtocol@RedfishAllowableValues``` and the ```HttpPushUri``` attribute in the resp

[2021-06-23 07:52] janr7 commented on #286
Hi anupamaloke

On investigation we found that the message was merely a warning and that the update actually did happen.
Thank you for the attention you gave to this issue.

Below our output

curl -k -s 'https://Admin:C4****@ltapp201k/redfish/v1/UpdateService'| python -m json.tool
{
    "@odata.context": "/redfish/v1/$metadata#UpdateService.UpdateService",
    "@odata.id": "/redfish/v1/UpdateServi

[2021-06-23 07:52] #286 closed

[2021-06-23 09:11] anupamaloke commented on #286
@janr7, thanks for the update. I guess I was not clear in my response earlier. The ```redfish_firmware_update``` module supports the Pull or Push method to update the firmware.

- Pull method: Also called as ```SimpleUpdate```. You can provide a URL to the firmware binary hosted on a remote HTTP share. The ```redfish_firmware_update``` module checks  whether the path provided in the ```image_uri``

[2021-06-23 09:42] anupamaloke commented on #284
@kawalex, Could you please let us know the make and model of the Server and the iDRAC firmware version(s) for which you want this feature?

[2021-06-23 09:50] kawalex commented on #284
@anupamaloke , I'm mainly using Dell R640 server, the idrac current version is 4.40.10.00.

[2021-06-23 10:58] anupamaloke commented on #284
@kawalex, thanks for providing the information. I am just curious to understand your reasons for using vFlash and list the use-cases that you want automated. Just so you know, [BOSS (boot-optimized storage solution)](https://www.dell.com/support/manuals/en-sg/boss-s-1/boss-s2_ug/features-of-boss-s2-card?guid=guid-88e49bb8-6677-457c-991e-310d42e31c2d&lang=en-us) provides an excellent alternative to

[2021-06-23 11:01] anupamaloke commented on #274
Corollary of #252

[2021-06-23 11:02] anupamaloke commented on #247
Closing this issue.

[2021-06-23 11:02] #247 closed

[2021-06-25 05:02] #194 closed

[2021-06-25 05:02] #266 closed

[2021-06-25 05:02] #160 closed

[2021-06-25 13:04] kawalex commented on #284
@anupamaloke. we are using the vflash on the R640 to store local backup of the system made using REAR. We do not have BOSS on our servers, but for sure if we had this, we would use it instead.

For the feature list:
1. Enable vFlash, if not already enabled
2. Initialize vFlash if not already initialized
3. Create partition - Current use case is "hard disk" partition type, and we could have the use

[2021-06-29 05:27] jagadeeshnv commented on #280
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/f161c6789bdd3c1d81d6b442af65db56a9de7930/plugins/modules/ome_firmware_catalog.py#L122
The required note has been added

[2021-06-29 05:27] #280 closed

[2021-06-29 15:39] MallocArray commented on #283
I have opened Dell support case 115784155 in reference to this which has additional details.

[2021-06-30 13:31] kunista opened #293 "When deploying a template, attributes are not being modified on the target device."
Tried to modify attributes during deployment, but the attributes were not modified. Am I missing something? It works fine when modifying a template, but not when deploying.
[code]

[2021-07-02 05:19] jagadeeshnv commented on #283
ok thank you @MallocArray, we are on it

[2021-07-05 09:02] jagadeeshnv commented on #293
@kunista Which attribute are you modifying? were you able to find the ID for it?

[2021-07-08 11:52] sdx23 commented on #130
We're as well missing that feature and would be glad to see it available.

[2021-07-19 15:34] kunista commented on #293
I was modifying DNS of the IPv4 network, so we can cut down the amount of templates to maintain, as that is the only change between our templates. I got the ID for it from the API.

[2021-07-21 09:52] ImranJMughal opened #294 "ome_firware - service tag and baseline name interop"
Hi

Is there a way to remediate firmware and use both a system tag and a baseline name?

In device clusters we want the ability to remediate a single device only even if others in the group also are not at the baseline level.

Thanks

Imran

[2021-07-21 09:54] ImranJMughal commented on #294
not sure if this is the same as #239

[2021-07-22 13:27] ImranJMughal opened #295 "ome device inventory missing"
So I cant remediate config compliance once a new server has been added to OME

My process is: -

Discover (ome_discovery)
add to device group (ome_device_group)
remdiate via (ome_configuration_compliance_baseline)

The problem is that the server configuration collection has happened so the server in OME is at an unknown state.

If I manually do an inventory job (collect configuration inventory and

[2021-07-22 15:10] ImranJMughal commented on #295
Ok so it seems i can only do a config inventory on the device group according to the API? Which module can I use for this?

![image](https://user-images.githubusercontent.com/22365085/126662945-58de236f-58aa-44c4-968d-1fa454e592e9.png)

[2021-07-23 13:01] ImranJMughal opened #296 "idrac_network"
changing an IP on a idrac from one static address to another fails the task although the Idrac configuration works. Is there a network requirement for the module?  ICMP is not available on our idrac network from the host running the ansible code.

`TASK [Configure the iDRAC network from static/dhcp pool to static] ************************************************************************************

[2021-07-23 15:25] ImranJMughal commented on #296
I've tried this on a idrac that is pingable and it works as expected. Is there a flag on the module where we can define the success instead of icmp

[2021-07-29 06:13] jagadeeshnv commented on #283
@MallocArray This issue has been fixed, thank you for the support. Please verify and let us know

[2021-07-29 07:24] jagadeeshnv commented on #294
@ImranJMughal This is in the pipeline, will update whenever this is planned

[2021-07-29 09:45] anupamaloke commented on #296
@ImranJMughal, what are the iDRAC firmware versions? ```idrac_network``` module uses SCP to configure the iDRAC network settings. This module fails if you set the ```job_wait``` option to True since after importing the SCP, it polls iDRAC to check whether the import SCP job has finishes successfully or not. Instead, the best way would be set the ```job_wait``` argument to ```False```, register the

[2021-07-29 14:18] MallocArray commented on #283
Confirmed, running the same playbook with the 3.6.0 collection now returns an OK state instead of Changed like it was previously.

Closing issue.

[2021-07-29 14:18] #283 closed

[2021-07-29 14:31] jagadeeshnv commented on #293
Is deployment job successful. and what is the ID1 and ID2 value you used? /TemplateService/Templates(<ID1>)/Views(<ID2>)/AttributeViewDetails

[2021-07-29 14:41] MallocArray commented on #282
This nearly became a big issue as I was testing some new variables and running the playbook in check mode and it finished showing that nothing was in a changed state, but I had missed/forgotten that in check mode the ome_template_network_vlan was skipped entirely.

When I ran the playbook in Run mode, it started changing templates that was unexpected despite trying to verify any modifications with

[2021-07-29 15:23] jagadeeshnv commented on #295
@ImranJMughal There is no module for this as of now.

- But once the job is run in UI. You can rerun the job using uri module REST API /api/JobService/Actions/JobService.RunJobs

 https://www.dell.com/support/manuals/en-in/dell-openmanage-enterprise/ome-3.5_omem-1.20.10_apiguide/post-method-for-jobservice.runjobs?guid=guid-0413e3f0-cd5e-4335-b42d-36f0f4d9fda8&lang=en-us

- To get the JobIds use om

[2021-07-30 13:52] alxlcr opened #300 "idrac_firmware"
##### Question
Hi there, I am trying to run the firmware update from the unpack SUU ISO over an NFS share. I was able to do this in previous versions, however, I get the error below using the latest collection.

##### Details

Error:
Unable to access the share. Ensure that the share name, share mount, and share credentials provided are correct.

The server is a PowerEdge R620, IDRAC version 2.65.6

[2021-08-02 19:51] randy-randerson opened #301 "idrac_firmware fails when using NFS"
##### Question
When trying to update iDRAC firmware using the idrac_firmware ansible module I get the below error:

[code]

##### Details
I'm connecting to a PowerEdge FC640 iDRAC 9 system with a perpetual enterprise license. I just created a updates repository using the Dell Repository Manager and when I try to connect through the iDRAC web interface to perform a manual update it is able to conne

[2021-08-03 10:39] anupamaloke commented on #300
@alxlcr, the  ```idrac_firmware``` module has not been modified since the last major release v3.0.0 in Jan earlier this year. Would it be possible for you to also log a Service Request (SR) with Dell Support as that would then help us to collect diagnostics information to troubleshoot this issue?

[2021-08-03 12:45] alxlcr commented on #300
sure, pls see below. I am not sure if I can open an SR, the R620's I am working on are way past their warranty...

TASK [Update firmware from repository on a NFS Share] ***********************************************************************************
task path: /var/PROJECTS/G12_BMTL/g12_idrac_firmware_notworking.yml:10
Tuesday 03 August 2021  11:24:55 -0400 (0:00:00.040)       0:00:00.040 *****

[2021-08-04 08:24] anupamaloke commented on #300
@alxlcr, could you please try commenting out the following lines of code from ```idrac_firmware.py``` module and try it out once:

_**line# 418-420**_
[code]

[2021-08-04 10:42] ImranJMughal commented on #294
Thanks - We really could do with this, as we group hosts in clusters and cant remediate a cluster group as OME is not aware of cluster services on the host. Therefore a new host may end up remediating the whole cluster group and bringing services down. We could have workaround to add to temp groups etc but that is messy.

[2021-08-04 10:44] ImranJMughal commented on #295
Any idea of when you can implement it? It means we cant update new servers as they have unknown config and driver inv.

[2021-08-04 10:52] ImranJMughal commented on #296
Ok thanks - yes idrac9  - ok i will test both options. Thanks

[2021-08-04 12:58] alxlcr commented on #300
Hi there, I get a bit further by commenting those, pls see below; one thing I noticed in my copy of idrac_firmware.py the lines you pointed out were actually 414 - 416.
Interestingly, the IDRAC reports the job is completed now:

JID_280810514755	Repository Update	Completed (100%)
Start Time:	Not Applicable
Expiration Time:	Not Applicable
Message:	RED001: Job completed successfully.

(It doesn't do

[2021-08-06 09:13] jagadeeshnv commented on #295
@ImranJMughal Currently we dont have this in the pipeline. Will discuss with team and let you know

[2021-08-09 23:13] anupamaloke commented on #295
@ImranJMughal, I have just added an ansible role [ome_device_inventory](https://github.com/dell/redfish-ansible-module/tree/master/roles/ome_device_inventory) to run the inventory task for a Device ID or a Device Service Tag or a OME group name. Could you please try it out and let me know whether it works for you or not?

* Run inventory task for a server device using device ID
[code]
* Run invent

[2021-08-10 13:20] markatdxb commented on #262
Im having very similar issue - exact same error message.

[2021-08-16 09:16] anupamaloke commented on #300
@alxlcr, sorry for delayed response. Could you please let us know whether you were able to proceed further? Also, would it be possible for you to download the latest collection version, comment out the lines listed in above message and try it out?

[2021-08-18 12:03] ImranJMughal commented on #296
I mm using the redfish and it seems stable so will continue to use that

[2021-08-25 10:36] anupamaloke commented on #300
@alxlcr, this issue should have been fixed now with the latest 4.0.0 release. I am closing this issue for now. Please re-open this issue or a new issue in case you are still running into this error.

[2021-08-25 10:36] #300 closed

[2021-08-25 10:37] anupamaloke commented on #301
@randy-randerson, could you please try with the latest release (4.0.0) and report whether you are still running into this error?

[2021-08-25 15:33] randy-randerson commented on #301
@anupamaloke Unfortunately still getting the same error on 4.0.0:

[code]

[2021-08-26 00:43] nstallons opened #306 "ome_template.yml cifs share"
##### Question
I don't see any options for using CIFS with the ome_template.yml file?

##### Details
I see options for using NFS in the ome_template.yml file and CIFS in the ome_profile.yml file but there is no explanation in the ome_template.yml file.

[2021-08-26 13:13] stroobl opened #307 "Idrac_bios: Unable to access the share errors"
##### Summary

I'm testing to modules to switch some new servers to uefi mode with the idrac_bios module and the only output I can get is unable to access the share. As far as I see the share is not required for many tasks and the share variables are optional.

##### Component Name
idrac_bios

##### Ansible Version
[code]

##### iDRAC or OpenManage Enterprise version
PowerEdge R740
BIOS Version |

[2021-08-26 17:24] MallocArray opened #308 "ome_diagnostics to support debug logs"
##### Description
ome_diagnostics supports starting a SupportAssist Collection from a MX blade, but does not currently have a "log_selectors" entry to enable "Debug Logs" when collecting.
Support has told me in the past to always collect Debug Logs when doing a collection, as it doesn't add much time and prevents them from coming back to ask for it later.

##### New or existing component
ome_diagn

[2021-08-26 18:29] MallocArray opened #309 "ome_diagnostics and support_assist_collection under log_type"
##### Summary

In all of Dell's applications and marketing, SupportAssist is one word.  In the module ome_diagnostics, under log_type, one of the option is "support_assist_collection" which treats it as two words with _ separating each one.  Ideally, the option should be named supportassist_collection, but since the module has been released with it being treated as two words, can it be made into a

[2021-08-26 18:33] MallocArray opened #310 "ome_diagnostics option to extract log from lead chassis only"
##### Description

In ome_diagnostics, if log_type is set to 'application', then logs are extracted from all chassis in an MX7000 group.  This is fine as a default, but many times Support only requests logs from the Lead chassis.  By having all chassis logs saved, the end user must find which of the multiple files are from the Lead.

Suggestions to have an optional parameter to request only the Le

[2021-08-31 10:15] anupamaloke commented on #307
@stroobl,  I am guessing this could be due to the user permission issue. By default, the module tries to the use the ```tempfile.gettempdir()``` for storing the temporary SCP file before importing it to the iDRAC.   It seems that the linux username you are using does not have permissions to access the ```/tmp``` directory.

[code]

Could you please try with the following small modification to your

[2021-08-31 11:10] jagadeeshnv commented on #309
support_assist would be the snake_case of SupportAssist. Moreover this is the format recommended by Ansible though not mandatory.

[2021-08-31 18:05] MallocArray commented on #309
Maybe it depends on what your definition of snake_case is, but according to Wikipedia:
https://en.wikipedia.org/wiki/Snake_case
each space is replaced with _

In this case, SupportAssist is always documented across Dell as a single word, so in my eyes, would not fall under the convention of putting an underscore between them, hence my consideration of supportassist_collection.

Ultimately, this is

[2021-09-02 01:55] markatdxb opened #311 "4.0 modules missing in Ansible documentation"
##### Question

Hi , do you have any plans to update https://docs.ansible.com/ansible/latest/collections/dellemc/openmanage/index.html#plugins-in-dellemc-openmanage with info about all new modules ?

##### Details

[2021-09-02 09:40] stroobl commented on #307
The problem stays the same when I add the share_name (and I can write in /tmp):
[code]

[2021-09-03 11:00] anupamaloke commented on #311
@markatdxb, the Ansible documentation get automatically updated with every minor or major Ansible community release. The latest documentation for dellemc.openmanage collection version 4.0.0 will be picked up as part of the Ansible community release 4.6.0 around last week of September. Ansible community release follows a 3 week release cadence, whereas dellemc.openmanage collection follows a 4 week

[2021-09-03 11:04] #311 closed

[2021-09-03 11:09] anupamaloke commented on #307
@stroobl, I think I might have found as to why it is not working. Could you please open the file ```/.ansible/collections/ansible_collections/dellemc/openmanage/plugins/modules/idrac_bios.py``` in a editor and comment out the following lines 263-265:

[code]

Once you do that, save the file and re-run the playbook. Let me know if you still see the issue.

[2021-09-03 11:40] stroobl commented on #307
@anupamaloke Still exactly the same error. Maybe I end up on the same message at line 417?

[2021-09-03 12:16] anupamaloke commented on #307
@stroobl, may be you are right. A last throw of dice from my end. Could you please may be try with a new python virtual environment and see if this error this persists? If yes, then it would be good to open a SR with us.

Also, what is the version of the ```omsdk``` python library that is installed in your environment?
[code]
I just tried in my environment by configuring a BIOS attribute and it wo

[2021-09-03 12:21] stroobl commented on #307
I'm on that omsdk version: omsdk==1.2.478. Only started testing recently with these modules. I'll try a new virtualenv, but I don't expect it to help...

Could it be related to the fact that we don't have full OME access? Our user is somewhat limited since we only manage a couple of servers from this larger OME setup.  I am able to switch from BIOS to UEFI and set PXE configuration in the web inte

[2021-09-03 12:23] anupamaloke commented on #306
@nstallons, I am assuming you meant no examples of deploying an OS ISO image from a CIFS share using a CIFS share. If yes, then see below. I will also ask maintainers to update the template examples to add CIFS as well:

[code]

[2021-09-03 12:30] anupamaloke commented on #123
@muffetman, closing this as this issue has been fixed in ```idrac_system_info```. ```dellemc_get_system_inventory``` module has been deprecated in the v3.0.0 release of the dellemc.openmanage collection.

[2021-09-03 12:30] #123 closed

[2021-09-03 12:33] anupamaloke commented on #97
Closing this issue as it has been fixed in dellemc.openmanage collection version 3.0.0. Please reopen a new issue if you are still running into this problem.

[2021-09-03 12:33] #97 closed

[2021-09-03 12:56] anupamaloke commented on #309
@jagadeeshnv, I am also somewhat aligned with @MallocArray in that we should be using "supportassist" as a single word. It would be good to have another choice named ```supportassist_collection``` for the ```log_type``` module argument and may be alias it.

[2021-09-03 13:07] liamwh opened #312 "HTTP request fails for all ansible modules to OME"
##### Summary
HTTP request fails for all ansible modules to OME on version 3.7.0 build 82 from Ansible version 2.10.11 using versions 4.0.0 and 3.5.0 of dellemc.openmanage.

All ansible modules were working when OME was using version 3.5.0. Stopped working after upgrade to 3.7.0.

##### Component Name
dellemc.openmanage.ome_template_info:
Using version 4.0.0

##### Ansible Version
[code]

##### iD

[2021-09-06 11:02] markatdxb opened #313 "idrac_firmware - failing on the iDrac 9 latest fimrware release 5.0"
##### Summary

i have spotted that module is failing on the idrac 9 with installed Firmware version 5.0
exactly the same playbook works fine on lower idrac fw version 4.x and also on idrac 8

##### Component Name

idrac_firmware

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

##### Steps to Reproduce

run the simple playbook to update idrac from web https://download.d

[2021-09-07 07:45] anupamaloke commented on #307
@stroobl, oh yes. This completely escaped me when I responded last. You must have permissions to export and import SCP. Alternatively, you can use the redfish modules from the ```community.general``` collection:

[code]

[2021-09-07 09:07] anupamaloke commented on #312
@liamwh, are you experiencing this timeout issue with OME AD accounts or with a OME local account as well?

[2021-09-08 10:19] anupamaloke commented on #250
@matthewit2, this issue has been fixed. Could you please try with the latest version of the ```dellemc.openmanage``` collection? Please reopen this issue if you are still running into this same issue.

[2021-09-08 10:19] #250 closed

[2021-09-08 11:09] stroobl commented on #307
Thanks for the info, I'll give that a try. I was not aware that I could use that redfish module for bios configuration (I already found out about the redfish module for the storage config included in the collection). I think it would be good to add some pointers on which modules to use for which use case in the documentation.

[2021-09-08 15:24] vzovko commented on #262
I’m having this issue in an AWE execution environment too.

OMSDK version 1.2.478
OpenManage Ansible Modules 4.0.0

Even that approach doesn’t help: https://github.com/dell/dellemc-openmanage-ansible-modules/issues/112
@grantcurell Did this permanently resolved this issue for you?

Template Run of `pip --version` and `pip list -v` shows that omsdk is installed.

[code]

Template Run with `dellemc.

[2021-09-09 08:39] liamwh commented on #312
We've experienced this issue using AD authentication, however we've identified the issue only occurs when running our Ansible Docker image (RedHat ubi8) on OSX, the issue does not occur when using the same docker image running on Windows... so it's most likely not a direct issue with OpenManage/the Ansible collection itself.

However, it is strange that all other ansible collections & modules are

[2021-09-09 10:10] anupamaloke commented on #312
@liamwh,  that is indeed interesting. Any chance you could open a support request with us so that the support team can investigate and collect diagnostics logs to help troubleshoot the issue?

Are other ansible collections and modules that you are using from this image on OSX use REST APIs (i.e. run locally on the Ansible control node) or use SSH to login and execute tasks remotely on target nodes

[2021-09-09 10:12] liamwh commented on #312
Everything via API, no SSH.  Also communicating to vCenter, iDRAC, iLO, OneView etc all totally fine.

I'm a bit busy for a support request at the moment but if you send me instructions on how to collect the logs I'll be happy to share them with you.

[2021-09-09 11:33] anupamaloke commented on #312
@liamwh, thanks for sharing that information. So from what you just described, this issue manifests only when authenticating to OME using an AD account using Ansible modules running in a RHEL UBI container on OSX. I checked internally and they haven't seen this issue with OME Ansible modules.

I am not sure about what logs you need to collect on OME, but one test you could do is to check whether y

[2021-09-10 11:26] vzovko commented on #262
The issue in AWX is resolved. I had to add the following to the localhost inventory object in AWX.

[code]

[2021-09-10 11:26] #262 closed

[2021-09-10 12:31] liamwh commented on #312
@anupamaloke, thanks so much for your support. I was able to validate it was actually an invalid username/password configuration and bad luck that myself and another engineer made the same mistake. I apologise very much for wasting your time, and would advise including a bad auth response from OME if the username and password is incorrect!

[2021-09-10 12:31] #312 closed

[2021-09-14 19:15] nstallons commented on #306
Correct, if you would like I can do a pull request and update this to be merged so we don't have to wait?

[2021-09-15 09:40] anupamaloke commented on #306
@nstallons, please go ahead and submit a PR.
@jagadeeshnv, @sachin-apa, FYI.

[2021-09-15 11:49] sachin-apa commented on #313
@markatdxb

share_name you mentioned has a typo, it should be "http://downloads.dell.com"
Can you please confirm, if it was used correctly?

[2021-09-15 13:20] markatdxb commented on #313
yes it was just a type in here - in our environment we use correct URL

[2021-09-16 21:24] MallocArray opened #315 "ome_domain_user_groups unable to import new directory groups with credential error"
##### Summary

Using the module ome_domain_user_groups, we are able to manage existing imported directory groups and the module properly is able to change roles if the group has already been imported.

Attempting to import a new group from Active Directory, the task fails with an error
 "Unable to complete the operation because the entered domain username or domain password are invalid."

If the s

[2021-09-17 16:24] MallocArray commented on #315
Closing issue.  I had misread what this module was used for and thought it was adding groups OR users to OME/OME-M so I was leaving out the domain_username and domain_password fields, thinking they were used when adding a user.

I now see those fields are used for authentication to AD when adding a group.  Once I added those parameters, it started working as expected.  I'm using the same credentia

[2021-09-17 16:24] #315 closed

[2021-09-20 12:00] sachin-apa commented on #313
@markatdxb we tried this on our end the module seems to be working fine ..
Can you please install 4.0.0 version of collection run the playbook with -vvv option and also with the below changes at Line no 638 and 639.
[code]
This should hopefully give us more idea on the error information. Please share the complete command output.

[2021-09-21 09:38] anupamaloke commented on #274
Closing this and tracking this as part of #252

[2021-09-21 10:56] dwettstein commented on #274
Hello @anupamaloke. It might be that this issue relates #252, but in my opinion it is not the same.
For sure idempotence needs to be fixed, but fixing it doesn't mean that [Ansible's check mode](https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html) is then available as well. This needs to be implemented additionally.

[2021-09-21 11:14] anupamaloke commented on #274
@dwettstein, I agree.

[2021-09-22 04:33] #313 closed

[2021-09-24 09:16] anupamaloke commented on #240
@anaterth, this should have been fixed with latest release of the collection. I am closing this issue. Please reopen a new issue if you are still facing this error whilst updating the firmware using a catalog & repository hosted on a HTTP/S location.

[2021-09-24 09:16] #240 closed

[2021-09-24 09:23] anupamaloke opened #317 "NEW Feature: Add support for detaching an ISO image to the idrac_os_deployment module"
##### Description

Add support for detaching and disconnecting an ISO image to the ```idrac_os_deployment``` module. At present, the only way to disconnect an ISO image is to either reboot the iDRAC or wait for the expose duration to expire. Both of these approaches are not optimal.

##### New or existing component

```idrac_os_deployment```

#### Community Note

* Please vote on this issue by add

[2021-09-24 21:22] smaug9 opened #321 "idrac_user not idempotent"
##### Summary
When adding a user, receive 'changed=1'  every time.

##### Component Name
idrac_user

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

VxRail P570F
BIOS Version | 2.8.2
iDRAC Firmware Version | 4.22.00.201

##### Steps to Reproduce
[code]

##### Playbook used

[code]

##### Expected Results
I expect the play recap to report 'changed=0' on successive repla

[2021-09-28 16:38] MallocArray commented on #321
I would suspect it is the user_password field, as Ansible probably can't tell if the password you are defining is the same as what is already set, which I would expect to be the case.  It looks like it is an optional parameter.  Try commenting out that line only and see if it starts returning OK.

[2021-09-28 17:38] MallocArray opened #324 "ome_identity_pool support OME-M"
##### Description

ome_identity_pool only works when ran against the full OpenManage Enterprise and fails with the error  "HTTP Error 400: Bad Request" when ran against OpenManage Enterprise Modular in a MX7000 system with firmware 1.30.00

##### New or existing component

ome_identity_pool

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-1

[2021-10-05 09:58] anupamaloke opened #325 "NEW FEATURE: Add OME-M module for configuring device settings for chassis"
##### Description

Add support for configuring following device settings for chassis:

- Devices>Chassis>Network Services
- Devices>Chassis>Settings>Power
- Devices>Chassis>Settings>Location

##### New or existing component

New modules

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)

[2021-10-05 09:59] #239 closed

[2021-10-05 09:59] #294 closed

[2021-10-05 09:59] #282 closed

[2021-10-05 09:59] #251 closed

[2021-10-05 10:00] #252 closed

[2021-10-09 12:05] smaug9 commented on #321
@MallocArray : I'll give that a go.

[2021-10-13 12:01] kmerachev opened #326 "How to set HBA mode on RAID controller"
##### Question
How can be set HBA mode on RAID controller?

##### Details
I'm writing automation using ansible and need to be able to set HBA mode on RAID controller (PERC H730P Mini), but I don't see any parameter for this neither in dellemc_idrac_storage_volume or idrac_redfish_storage_controller.
The only thing I found is that the mode is present in the output of idrac_server_config_profile, bu

[2021-10-19 10:36] Sin317 opened #327 "idrac_firmware - failing on the iDrac 9 latest fimrware release 5.0"
##### Summary

i have spotted that module is failing on the idrac 9 with installed Firmware version 5.0

##### Component Name
idrac_firmware

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version
iDRAC 5.0.0

##### Steps to Reproduce

run the simple playbook to update idrac from our internal repo http://x.x.x.x/drmdell/export/

##### Playbook used

[code]

##### Expected Resu

[2021-10-21 07:42] Sin317 commented on #327
@anupamaloke i ran that command
[code]
**but still getting this error on re-run of playbook:**

[code]

[2021-10-21 20:09] #324 closed

[2021-10-21 20:31] MallocArray opened #328 "ome_identity_pool does not support check mode"
##### Summary

If using check mode in a playbook that uses module ome_identity_pool, the entire task is skipped, rather than evaluate if changes would be made without actually changing them.

##### Component Name

ome_identity_pool

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

OME-M version 1.30.10

##### Steps to Reproduce

Add task to playbook that calls ome_ident

[2021-10-21 21:22] MallocArray opened #329 "ome_identity_pool requires iscsi iqn_prefix while GUI does not"
##### Summary

Using the ome_identity_pool to create iSCSI settings, the iqn_prefix of initiator_config is required to be completed or the task fails.  Same with the initiator_ip_pool_settings.

In the OME-M GUI (1.30.00) , the only required fields are "Starting virtual MAC Address" and "Number of iSCSI MAC addresses", while the other two options can remain unchecked (Configure iSCSI Initiator and

[2021-10-27 07:41] markatdxb opened #332 "Boot order - new module"
##### Description

Would be great if you could develop module which would be able to change boot order on the servers

##### New or existing component

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help the community and maintainers prioritize this request

[2021-10-27 12:09] MallocArray opened #334 "Valid values in documentation of ome_device_power_settings"
##### Summary

In the rst file for ome_device_power_settings
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/v4.2.0/docs/modules/ome_device_power_settings.rst
The valid values for some parameters are not listed

redundancy_policy:
    .rst file only lists NO_REDUNDANCY as the default and the examples show GRID_REDUNDANCY, but the correct value for the equivalent GUI setting of "PSU

[2021-10-29 07:45] kmerachev opened #335 "Ability to create query device group in OME"
##### Description
I need the ability to create query device group, because we use query device groups based on naming convention for servers or IP subnets.

##### New or existing component
ome_device_group

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help

[2021-11-03 10:13] Eladpriel opened #336 "quick deploy networking config"
##### Description
Would be great if you could develop module which allowing quick deploy configuration like IP address, vlan and etc

##### New or existing component
I would like to have the capability to configure quick deploy on the MX, to set the IP address of the sled before it is being deployed.

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com

[2021-11-03 21:51] singhs11 opened #337 "The error was: AttributeError: iDRAC"
##### Question

I am attempting to use "dellemc.openmanage.idrac_os_deployment" to mount an ISO for ESXi build, but getting the below error.  I tried the following version of Ansible collections:

dellemc-openmanage-2.1.5
dellemc-openmanage-4.2.0

I received the same error with both.  What am I missing?  Or is this a bug?

##### Details

An exception occurred during task execution. To see the full

[2021-11-09 16:32] Klaas- opened #338 "How to disable ssl verification for idrac modules?"
##### Question
Hi,
I am trying to disable ssl verification on invocations of dellemc.openmanage.dellemc_configure_idrac_eventing -- how is that supposed to be done? Usually I would either expect a switch as module parameter or a environment variable I can set. I found neither in the docs.

Greetings
Klaas

##### Details
ansible [core 2.11.6]
python version = 3.6.8
omsdk              1.2.478

[2021-11-10 07:37] Klaas- commented on #257
I am not sure I am fully understanding this. Do you need to put in the share name a valid path? Or why do you use `"{{ playbook_dir }}"` ? From your answer it reads more like the share_name is not used at all during normal operations?

Does this also apply to all other uses of share_name? For example in `dellemc_configure_idrac_eventing` it doesn't seem needed either if I just want to configure a

[2021-11-10 08:49] Klaas- commented on #338
The error message was just distracting me :D You do not have ssl verification enabled at all :)

Just for completeness if anyone stumbles up on this problem:
Error message: `Unable to communicate with iDRAC hostname.tld.com. This may be due to one of the following: Incorrect username or password, unreachable iDRAC IP or a failure in TLS/SSL handshake.`

But the actual problem was that the module d

[2021-11-10 08:49] #338 closed

[2021-11-10 17:04] Klaas- commented on #257
I played around, it seems the module needs a writeable directory to the user executing the task. the directory is used to store temporary files

[2021-11-11 14:38] anupamaloke commented on #337
@singhs11, could you please try it out in a new python3 virtualenv and report whether you are still facing this issue?

[2021-11-15 07:28] vzovko commented on #154
I'm having the same issue. In my case even when I try to create a new RAID 1 on a BOSS controller without any preexisting virtual disk.

My current workaround is using `dellemc.openmanage.redfish_storage_volume` to either create or initialize a virtual disk RAID 1 on a BOSS controller.

[code]

[2021-11-15 07:36] vzovko commented on #307
I'm have the same issue as @stroobl but the workaround mentioned by @anupamaloke in https://github.com/dell/dellemc-openmanage-ansible-modules/issues/307#issuecomment-914071063 is working fine. In my case I'm disabling the internal SD card.

[2021-11-16 15:28] ImranJMughal commented on #295
Hi @anupamaloke - Work well thanks

[2021-11-16 15:32] ImranJMughal opened #339 "OME Configuration Compliance Template"
##### Question
Is there any playbook for configuration compliance templates. I want to import a template from an XML file to each of our OME instances. To confirm this isn't the same as ome_template.

##### Details

![image](https://user-images.githubusercontent.com/22365085/142015348-7b7df015-c3e1-47f2-876b-ab16c41c136c.png)

![image](https://user-images.githubusercontent.com/22365085/142015412-6

[2021-11-22 18:29] scottgiff commented on #307
I ran across this issue as well. I found in my case there was an orphaned job in the idrac jobqueue that was blocking the BIOS attribute update.  I had to do a racadm jobqueue -i JID_CLEARALL_FORCE and then the error was gone.

[2021-11-23 17:35] MallocArray opened #341 "ome_device_location forces everything to lower case"
##### Summary

Despite the casing of a string given to the parameters of ome_device_location, everything is applied to an MX7000 chassis in lower case

##### Component Name

ome_device_location

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

      OME-M version 1.30.00

##### Steps to Reproduce

Provide parameters such as
data_center: My Datacenter
rack: Rack1_B234

O

[2021-11-25 07:41] #306 closed

[2021-11-25 07:43] #334 closed

[2021-11-26 07:52] anupamaloke commented on #337
@singhs11, I will be closing this issue. Please reopen the issue or create a new one in case you are still running into same error.

[2021-11-26 07:52] #337 closed

[2021-11-26 08:24] anupamaloke commented on #339
@ImranJMughal, you can use ```ome_template``` module to create the configuration compliance template. See below example playbook that uses a reference device to create a configuration compliance template. You can also choose to import a SCP XML file to create a compliance template. In order to create a compliance template, you will have to set the ```template_view_type``` to ```Compliance```.

[co

[2021-11-26 09:15] anupamaloke commented on #339
@sachin-apa, @jagadeeshnv it would be good to update the ```EXAMPLES``` section in the module documentation as well as the example playbooks on how to create configuration compliance templates from a reference device or by importing a SCP file.

[2021-11-26 10:37] ImranJMughal commented on #339
Hey thanks guys, i was just testing it with Anupam.

So this works for import from a reference device

[code]

For import from XML you need to use Type instead of TypeId. This should be standardised to avoid confusion

[code]

[2021-11-26 16:11] singhs11 commented on #337
Thanks @anupamaloke.  A new virtualenv with python3 resolved the issue.

[2021-11-27 08:56] Klaas- opened #342 "Manage EventFilters"
##### Description
I would like to use ansible to manage the EventFilters

##### New or existing component
I think it's a new component, it is exported in SCPs.

`"FQDD": "EventFilters.*"`

Direct use case for me, I want to configure memory mail warnings. so `MEM_1_2#Alert#Email` I want to set to enabled.

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github

[2021-11-29 20:30] MallocArray opened #345 "ome_diagnostics does not respect check_mode"
##### Summary

When using the ome_diagnostics module and running the playbook in check mode, the full task is ran, logs are extracted, when the expectation is that in check_mode it would not actually run the task the results in files being created.  Same happens with log_type: application or support_assist_collection

##### Component Name

ome_diagnostics

##### Ansible Version

[code]

##### iDRA

[2021-12-06 09:36] noesberger opened #347 "Failed Task when configuring boot_sources"
##### Summary
When trying to configure boot_sources, we get always the following error message.
[code]

##### Component Name
idrac_bios

##### Steps to Reproduce
Use the module dellemc.openmanage.idrac_bios and try to change only the boot_sources.
[code]

##### Playbook used
[code]

##### Expected Results
Scheduled Job on idrac is created and as result we get the JOB ID used on idrac.

##### Actua

[2021-12-06 09:38] noesberger commented on #347
Here the full error output

[code]

[2021-12-08 21:21] pyfontan opened #348 "Is there a way to convert to RAID a drive ?"
##### Question
Hello, I'm trying to use this collection to create virtual drive, but dellemc.openmanage.redfish_storage_volume or dellemc_idrac_storage_volume always fail when drives state is "Non-RAID".

So i would like to first "convert to raid" the drives.

##### Details
Error returned by dellemc.openmanage.redfish_storage_volume
"error_info": {
        "error": {
            "@Message.Extended

[2021-12-13 08:36] pyfontan commented on #348
@anupamaloke : you relabeled this issue as an enhancement.
But, do you think i should also open an issue on DELL omsdk repository as it seems that this feature is not available in SDK either !

Thank you.

[2021-12-13 11:32] anupamaloke commented on #348
@pyfontan, ansible team will automatically take care of it based on whether they would directly call the OEM REST API from the module or use omsdk. BTW, what all generations of servers (12G, 13G and/or 14G) do you have in your environment?

[2021-12-13 12:30] pyfontan commented on #348
@anupamaloke We have all 3 generations in our environment. R720xd / R730xd / R740xd2

Thank you for your answer.

[2021-12-21 09:54] anupamaloke commented on #321
@smaug9, I will close this issue. As @MallocArray mentioned, if you are passing in the ```user_password``` argument, then the module will not treat that as idempotent case and will always send an update request to the iDRAC.

[2021-12-21 09:54] #321 closed

[2021-12-21 14:36] cheppsr opened #350 "Firmware.yml is not working."
##### Summary

##### Component Name
ome_firmware.yml not working

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

##### Steps to Reproduce

##### Playbook used

[code]

##### Expected Results

##### Actual Results

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comme

[2021-12-22 10:08] anupamaloke commented on #350
@cheppsr, could you please post the playbook and the error that you are receiving?

[2021-12-29 23:40] ImranJMughal commented on #255
@anupamaloke - Hi Anupam - Do you know when this will be looked at?

Thanks

Imran

[2022-01-04 09:39] #274 closed

[2022-01-04 09:57] #339 closed

[2022-01-04 09:58] #341 closed

[2022-01-04 11:44] anupamaloke commented on #255
@ImranJMughal, it is in the list of our To-Do items. We will be prioritizing it for next couple of minor releases.

[2022-01-06 09:06] anupamaloke commented on #327
@Sin317, as there have been no updates since last time, I am closing this issue. Please open a new issue in case you are still running into the same error.

[2022-01-06 09:06] #327 closed

[2022-01-12 11:38] anupamaloke commented on #350
@cheppsr, closing this issue as there have been no updates since long. Please feel free to reopen this issue if you run into any issue with ```ome_firmware``` module.

[2022-01-12 11:38] #350 closed

[2022-01-17 21:39] MallocArray opened #353 "OME-M 1.40.10 breaks ome_device_power_settings"
##### Summary

Existing playbook using ome_device_power_settings to configure MX7000 chassis power settings works fine on 1.30.00 until upgraded to 1.40.10 when the same playbook fails with "msg": "'PowerBudgetOverride'"

Collection version 4.4.40

##### Component Name

ome_device_power_settings

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

OME-M 1.40.10

##### Step

[2022-01-18 09:42] anupamaloke commented on #353
@MallocArray, this will be fixed with v5.0.0 that will be released in a couple of weeks down the line.

[2022-01-20 14:33] MallocArray commented on #353
@anupamaloke  If there is a known fix coming, could the changed lines be made available or point to a commit that will resolve it?  Since I've already upgraded the firmware, my playbooks will continue to fail for this chassis group unless I disable the task entirely.  If I could change my local copy of the module to have the fix, I could limp along until the 5.0.0 release officially comes out

[2022-01-20 15:22] anupamaloke commented on #353
@MallocArray, let me check internally to find out if we can share the code-snippets.

[2022-01-20 15:27] sachin-apa commented on #353
@MallocArray  Please make the changes in a module as below.
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/e10c98ed6a414d15a0920fa2c51c3760d3efc5ec/plugins/modules/ome_device_power_settings.py#L228

Assign the _power_data_ variable as below
` power_data = {"PowerCap": loc_data.get("PowerCap"), "MinPowerCap": loc_data["MinPowerCap"],
                  "MaxPowerCap": loc_data["MaxPo

[2022-01-26 09:41] Andersson007 opened #356 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 17:03] ImranJMughal commented on #296
I need to reopen this as we need to run this on idrac8.

When the IP is changed , it completes the task but gives this error

 {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python3"}, "changed": false, "msg": "'StatusCode'"}

 there is no job_wait in this module.

[2022-01-27 14:46] MallocArray opened #357 "validate_certs defaulting to true is a breaking change"
##### Summary

In the 5.0.0 release, it was noted that all modules support SSL over HTTPS, but did not make clear that validate_certs now defaults to true on modules.  In addition, when validate_certs is true, it REQUIRES ca_path to be filled out or the task will fail.  This is ultimately a breaking change as playbooks that worked without specifying validate_certs in the past now do not work at al

[2022-01-28 09:24] anupamaloke commented on #357
@MallocArray, I will check internally and get back on this on whether we will revert the default to `False`.  For now, I would recommend to make the default value as `False` for the `validate_certs `module argument.

[2022-01-31 15:29] howezies commented on #357
I am getting an error on the `dellemc.openmanage.dellemc_configure_idrac_services` module. I now have `validate_certs: false` but get this error:
`"msg": "Unable to communicate with iDRAC 10.0.0.0. This may be due to one of the following: Incorrect username or password, unreachable iDRAC IP or a failure in TLS/SSL handshake."`

[2022-01-31 15:40] jagadeeshnv commented on #357
@howezies update omsdk to latest, if issue still persists, open a separate issue for the same, we will look into it

[2022-01-31 18:37] MallocArray commented on #255
+1 to this as it also applies to the modify command, always showing it changed something, even if the template had the modifications already in place

[2022-01-31 18:44] MallocArray opened #358 "ome_template modify attributes by name"
##### Description

Feature Request for the ome_template module to support modifying a template based on the attribute names instead of the ID.  It is cumbersome on the end user to have to look at the API response to find the attribute Id to modify and not sure if these IDs may change between firmware versions, but the names are not likely to change or at least easier to access

Consider reading th

[2022-01-31 18:57] anupamaloke commented on #353
@MallocArray, this isssue is fixed as part of #355. Please reopen if you still run into this issue.

[2022-01-31 18:57] #353 closed

[2022-01-31 18:58] anupamaloke commented on #347
@noesberger, it has been fixed by #355. Please reopen if the issue still persists.

[2022-01-31 18:58] #347 closed

[2022-01-31 19:00] anupamaloke commented on #336
@Eladpriel, quick deploy configuration is now available as part of #355

[2022-01-31 19:00] #336 closed

[2022-02-01 09:55] anupamaloke commented on #357
@MallocArray, I had a discussion internally. There were suggestions on keeping the ```validate_certs``` to ```False``` initially, but later due to mandatory security requirements, it was decided to keep this as ```True``` by default. I agree that this is a breaking change in the sense that you will have to modify each and every task in your playbook to add this new argument.

I need to discuss thi

[2022-02-01 14:29] MallocArray commented on #357
I'm mostly concerned with these 2 points:
1. Why was this major of a change not called out in the release notes? It does say that it supports SSL over HTTPS, but not that it now defaults to true or that a new parameter ca_path is required.  Either way, you have to update every task because either you have to set `validate_certs: false` or 'ca_path: whatever' and I can't think of a circumstance whe

[2022-02-04 16:10] fputs commented on #357
Ran into this issue today as well, had to downgrade to 4.4.0 to get my work done.

[2022-02-04 19:45] MallocArray opened #360 "Collection 5.0.0 breaking ome_application_network_time and ome_application_network_proxy"
##### Summary

After upgrading to collection 5.0.0 and adding validate_certs: false, these two modules continue to fail with an unhelpful message.
ome_application_network_time
ome_application_network_proxy
[code]
I've confirmed that validate_certs is set to false and all other tasks in my playbook can run if I skip these two.

##### Component Name

ome_application_network_time
ome_application_netw

[2022-02-04 21:53] MallocArray commented on #310
Anything I can do to request a priority bump on this one?

[2022-02-07 09:48] anupamaloke commented on #360
@MallocArray, there is a patch coming soon that will fix this issue.

[2022-02-10 11:36] sachin-apa commented on #357
All, we are having a patch release 5.0.1 targeted for 11 Feb 2022 with the following changes.

- Based on the security team recommendations we need to ensure all the modules validates SSL certificates by default and hence  `validate_certs` will remain `True` by default and users need to explicitly set it to False if SSL validation has to be disabled.
- If users choose to validate SSL, we are intro

[2022-02-11 07:04] #357 closed

[2022-02-11 07:04] #360 closed

[2022-02-12 11:23] Bart97 opened #362 "Add an ability to update iDRAC SSL vertificates"
##### Description
It would be quite useful to be able to update the SSL certificates by using those modules in Ansible instead of having to hack around and use `sslkeyupload` & `sslcertupload` in idracadm.

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help

[2022-02-16 08:04] ranguitamartin opened #363 "How install collection release 5.0.1"
##### Question
What method should I follow install release 5.0.1?

##### Details

I have installed module using ansible-galaxy, but this method instaled master branch with version 3.5.0, if i specify collection same release installed and if I try install manually with  install.py  in branch collection , this is not posible because some files and folder not is found, merged is required?

What step

[2022-02-16 08:51] sachin-apa commented on #363
@ranguitamartin it is a standard steps that is mentioned as part of the [Readme](ansible-galaxy collection install dellemc.openmanage) should install 5.0.1 patch release packages.

[2022-02-16 09:22] ranguitamartin commented on #363
I follow this steps installing download tarball and installing with ansible-galay collection install too, in both cases release installed was 3.5.0, because when i launch playbook
y have error with SSL. I put validation_certs: False, following instruction and this parameter is ignore.
I see dellemc_idrac.py installed and this py is version 3.5.0, no is indicated in commit 14064b24e4,  this commit

[2022-02-16 09:28] sachin-apa commented on #363
Just tried installing in my machine it seems to install correctly
Galaxy Instaltiom`ansible-galaxy collection install dellemc.openmanage -f
Starting galaxy collection install process
Process install dependency map
Starting collection install process
Downloading https://galaxy.ansible.com/download/dellemc-openmanage-5.0.1.tar.gz to /root/.ansible/tmp/ansible-local-1726443vpo4ljix/tmp4jvi_4qw/dellem

[2022-02-16 10:41] ranguitamartin commented on #363
hi have installed again and show version 5.0.1 but validate_cert is ignored in playbook

[2022-02-16 10:43] ranguitamartin commented on #363
So installation version is resolved, fail with validation issue is other issue

[2022-02-16 11:11] sachin-apa commented on #363
@ranguitamartin parameter is `validate_certs` can you please confirm if you have used the same not `validate_cert` ?

[2022-02-16 13:02] ranguitamartin commented on #363
yes, sorry i use validate_certs: False in playbook, but is ignored

[2022-02-17 04:20] sachin-apa commented on #363
@ranguitamartin  Sorry I'm not clear on whether issue is resolved or not .. if issue resolved please let us know if can close or please reply with the sample playbook, module that you are trying to execute.

[2022-02-17 07:59] ranguitamartin commented on #363
I open this issue asking installation 5.0.1, this is resolved, but i cannot use this module because validation_certs is ignored and  this collection check SSL certification in url.

[2022-02-17 11:04] sachin-apa commented on #363
@ranguitamartin Can you please post the playbook you are trying to run ?
Also , please post output of the command `env` from the linux CLI.

[2022-02-17 15:55] remkolodder opened #364 "playbooks are not idempotent"
##### Summary
We are using the OpenManage / iDrac solutions from Dell in our ansible code. We are trying to apply a template to a machine via automation. That fails because a profile is already applied. This should instead result in: already applied -> skipping.

##### Component Name
ome_template / ome_profile

##### Ansible Version

[code]

##### Expected Results
Template applied to the machine o

[2022-02-18 22:25] MallocArray opened #365 "Request: Certificate validation to use OS trusted root certificates first"
##### Description

The updated notes about what types of certificates are expected for the ca_path parameter was helpful in getting me going with them.
I do still have concerns about the overall burden needed to manage these certificates, when other Ansible modules can validate certs without needing to specify a path to specific files.

Ideally, if the host that is running Ansible already trusts t

[2022-02-23 14:50] grantcurell commented on #257
Hey @anupamaloke! I'm still getting questions about this from pretty much every customer who is new to our Ansible modules and they routinely confuse it with other things.

For example: Right now I am working with a customer who wants to enable syslog but can't figure out where to set the remote server (I haven't either actually - looks like you have to push it via SCP separate from the Ansible mo

[2022-02-28 09:41] anupamaloke commented on #310
@MallocArray, we will be picking this up for 5.2.0 release

[2022-03-01 16:25] MallocArray commented on #365
certifi is interesting, but looks like it is its own copy of trusted certs and not directly connected to the OS current list of trusted certs.  I already have a step where I copy our personal trusted roots to the ca-certificates or trust anchor folder and run the required commands to have the OS update the list.  With this proposed solution of using certifi, I would also need to append it's cacert

[2022-03-01 18:38] #329 closed, assigned to nobody

[2022-03-01 18:38] #328 closed, assigned to nobody

[2022-03-02 11:20] sachin-apa commented on #365
@MallocArray

OS list of certificate **path** varies and depends on different OS and hence we cannot decide on path, in this case I believe it is better to set the env variable with a path.

After a patch `ca_path` parameter is made optional and the priority is from playbook param `ca_path `and then the `env ` variable.

Enhancement will be to check certifi path if `ca_path` is not passed as a par

[2022-03-07 20:35] MallocArray commented on #365
I agree with this plan.  Certifi should be able to take care of many cases, especially if we add custom certs to the file certifi uses, but can also add a static path with ca_path if needed.

[2022-03-07 20:40] MallocArray opened #367 "ome_diagnostics with MX7000 may not pull all needed files"
##### Summary

I have opened support cases for an MX7000 chassis and used the  ome_diagnostics module to collect logs from the chassis to a CIFS share using `log_type: support_assist_collection`
In several cases, Support says the files I uploaded were incomplete and did not include all needed information.  I then used the web interface to manually create a log bundle for the chassis using the "loc

[2022-03-09 09:02] rht-rkaruppu opened #368 "Unable to communicate with iDRAC"
##### Question
Issue while using idrac module

##### Details
playbook:
#ansible-playbook idrac.yml -i ../inventory/inventory-waldorf-ipmi-ceph.yaml -vvv
cat  iddrac.yml
[code]
[rkaruppu@builder-dagoba-dfw3 play]$ cat ../inventory/inventory-waldorf-ipmi-ceph.yaml
[code]

Error:
[code]
Manual test result which is working:
############################

[rkaruppu@builder-dagoba-dfw3 play]$ ping 10.222

[2022-03-09 11:51] anupamaloke commented on #301
@randy-randerson, I am closing this issue due to inactivity. Please raise a new issue if you run into the same error.

[2022-03-09 11:51] #301 closed

[2022-03-09 12:18] anupamaloke commented on #273
@igorgolm, I am closing this issue due to inactivity for long. Please feel free to raise a new issue if you run into the same error.

[2022-03-09 12:18] #273 closed

[2022-03-09 12:19] anupamaloke commented on #293
@kunista, I am closing this issue due to inactivity for a long time. Please feel free to raise a new issue if you run into the same error.

[2022-03-09 12:19] #293 closed

[2022-03-09 12:23] anupamaloke commented on #109
Most probably this issue has already been addressed in one of the multiple releases related to idrac_firmware module. So, I am closing this for now. Please feel free to create a new issue if you run into the same error.

[2022-03-09 12:23] #109 closed

[2022-03-09 12:24] anupamaloke commented on #118
Closing this issue as 11G is EOL and there are no plans to support it with Ansible modules. Best course of action would be to use `racadm` CLI commands with Ansible for 11G servers.

[2022-03-09 12:24] #118 closed

[2022-03-09 12:25] anupamaloke commented on #152
Closing this issue due to inactivity for long. Please feel free to create a new issue.

[2022-03-09 12:25] #152 closed

[2022-03-09 12:26] anupamaloke commented on #150
Closing this issue due to inactivity for long. Please feel free to create a new issue if you run into same error.

[2022-03-09 12:26] #150 closed

[2022-03-09 12:30] anupamaloke commented on #143
Closing this and will track this requirement as part of feature #317 open to detach the OS ISO image.

[2022-03-09 12:30] #143 closed

[2022-03-09 12:31] anupamaloke commented on #131
Closing this due to inactivity for long. Please feel free to create a new issue if you run into the same error.

[2022-03-09 12:31] #131 closed

[2022-03-09 12:32] anupamaloke commented on #122
Closing this issue due to inactivity for long.

[2022-03-09 12:32] #122 closed

[2022-03-09 12:33] anupamaloke commented on #61
Closing this issue due to inactivity for long. Please create a new issue if you run into this error.

[2022-03-09 12:33] #61 closed

[2022-03-09 12:57] sachin-apa commented on #368
@rht-rkaruppu : All module now validate SSL certificates by default, Please look at the [SSL Validation](https://github.com/dell/dellemc-openmanage-ansible-modules#ssl-certificate-validation) for more information.
if you wish to disable SSL validation please add `validate_certs` module argument to `False`

[2022-03-09 12:58] sachin-apa commented on #363
@ranguitamartin I'm closing the issue, please reopen if you are still facing the issue with the details

[2022-03-09 12:58] #363 closed

[2022-03-09 15:29] rht-rkaruppu commented on #368
Thanks for the quick response..!  It works after adding `Validate_certs: False` in the play.

[2022-03-09 15:41] anupamaloke opened #369 "NEW FEATURE: Add support for configuring OME console preferences"
##### Description

Configure OME console preferences settings.
It should support all the configuration settings that are possible using OME GUIs.

##### New or existing component

A new OME ansible module

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help

[2022-03-09 15:51] anupamaloke commented on #317
There is currently an [idrac_os_deployment](https://github.com/dell/redfish-ansible-module/tree/master/roles/idrac_os_deployment) ansible role that supports following workflows:

- **Boot to Network ISO** : similar to what idrac_os_deployment ansible module supports
- **Get attach status**: ISO attach status (attached/unattached)
-  **Detach ISO image**

[2022-03-10 03:21] sachin-apa commented on #368
@rht-rkaruppu : Thanks for the update, I'm now closing this issue as the playbooks are working fine after the playbook update.

[2022-03-10 03:21] #368 closed

[2022-03-14 18:37] t-readyroc opened #370 "dellemc.openmanage.ome_application_certificate - "padding error""
I'm using the below code to generate the CSR:

[code]

The template only has one line, & has the variable in it:

[code]

The resulting file looks like:

[code]

I then pass this file to IPA like so:

[code]

The playbook results in the following output:

[code]

The error, in `/var/log/httpd/error_log` is the following:

[code]

I'm wondering if I'm missing a formatting step here that may be caus

[2022-03-14 18:42] t-readyroc commented on #370
Get the following error  when attempting to validate that file:

[code]

[2022-03-14 20:19] t-readyroc opened #371 "device group creation: "target group name is invalid""
##### Summary

Attempting to create a static group according to the documentation.

##### Component Name

dellemc.openmanage.ome_device_group (5.1.0)

##### Ansible Version

[code]

##### iDRAC or OpenManage Enterprise version

OME Version 3.8.3 (Build 8)

##### Steps to Reproduce

Run the playbook below. Inventory group is the list of the associated IP addresses. I've tried names both with and wi

[2022-03-14 20:52] t-readyroc commented on #371
To add: "RedCluster" also didn't work.

[2022-03-16 05:08] jagadeeshnv commented on #371
For new group creation use module 'ome_groups'. For adding devices to the group use 'ome_device_group'

[2022-03-16 07:30] anupamaloke opened #372 "[NEW FEATURE]: Add support for deleting a device from OME"
##### Description

Add support for deleting a device from OME.

##### New or existing component

A new module for deleting a device from OME. It would be good to maybe have a module called `ome_device` that will:

- allow to rediscover a device
- refresh inventory
- delete the device

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-r

[2022-03-17 20:22] t-readyroc commented on #371
Got it, that makes sense knowing that & re-reading the documentation.

[2022-03-17 20:22] #371 closed

[2022-03-28 08:11] #310 closed

[2022-03-28 08:11] #345 closed

[2022-03-28 08:11] #358 closed

[2022-03-28 08:11] #364 closed

[2022-03-28 08:11] #369 closed

[2022-03-29 09:07] sachin-apa commented on #245
This was added to list of release by mistake, reopening the issue

[2022-03-29 09:09] sachin-apa commented on #348
Merged as part of the PR #[391](https://github.com/dell/dellemc-openmanage-ansible-modules/pull/391) Release 5.2.0

[2022-03-29 09:10] sachin-apa commented on #255
Merged as part of the PR #[391](https://github.com/dell/dellemc-openmanage-ansible-modules/pull/391) Release 5.2.0

[2022-03-29 09:10] #255 closed

[2022-03-30 09:18] netmonk opened #393 "update doc on how to use with ansible"
##### Description
first time using those modules today to export log from idrac with ansible.
Documentation is not really clear about how to really use it.
First of all the module doesnt connect directly to idrac using ssh like we all (sysadmin) are used to.
So basically ansible is not using idrac_ip as a direct connexion.
In fact it need a linux (or any machine capable to run python ) to run the

[2022-04-01 16:16] MallocArray opened #394 "ome_diagnostics result status misleading"
##### Summary

Using 5.2.0 and the ome_diagnostics module.
When running in Run mode, after successfully extracting logs to a CIFS share, the result status shows OK.  This is misleading as OK with Ansible should indicate that no change was made because it was already in the state requested.  In this situation, logs were successfully created, so a change was made to the system, so the result should

[2022-04-06 02:41] dafoyiming opened #395 "Run idrac_server_config_profile on playbook failed in error "Dell EMC OMSDK library is requried for this module""
##### Question
Run idrac_server_config_profile on playbook failed in error "Dell EMC OMSDK library is requried for this module"
##### Details
I am sure I can import OMSDK anywhere in my virtual envirionment
Version:
omreivers 1.2.456
omsdk 1.2.456

Error :
The full traceback is:
File "/tmp/ansible_idrac_server _config _profile_pavload_sompb54u/ansible_idrac._ server-.config_profile_payload.zip/ans

[2022-04-06 04:20] dafoyiming commented on #395
Have some typos in question description due to I OCR the error messages from picture.

[2022-04-06 07:29] rht-rkaruppu opened #396 "Fatal error while using `idrac_os_deployment` module"
##### Question
Issue while deploying `OS`  using `idrac_os_deployment module `

##### Details
playbook:
#[rkaruppu@builder-dagoba-dfw3 play]$ ansible-playbook  -i ../inventory/inventory-devaron-ipmi-ceph.yaml idrac_os_deployment.yml -vvv
#cat  idrac_os_deployment.yml
[code]
Inventory file:

[rkaruppu@builder-dagoba-dfw3 play]$ cat ../inventory/inventory-devaron-ipmi-ceph.yaml

[code]
Error details

[2022-04-06 08:30] dafoyiming commented on #395
fixed with append extra parameter  -e 'ansible_python_interpreter=~/venv/bin/python'

[2022-04-06 08:30] #395 closed, assigned to nobody

[2022-04-06 10:06] anupamaloke opened #397 "[NEW FEATURE] Add a new OME module for iDRAC reset"
##### Description

An OME module for resetting the iDRACs for a:
- a server, or
- list of servers, or
- a OME group

##### New or existing component

New OME module

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help the community and maintainers prioritize

[2022-04-06 10:11] anupamaloke opened #398 "[NEW FEATURE] Add OME module for clearing the iDRAC job queue"
##### Description

An OME module for clearing the Lifecycle Controller job queue for:
- server
- a list of servers
- OME group

##### New or existing component

New OME module

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help the community and maintainers

[2022-04-07 06:20] rht-rkaruppu opened #399 "idrac_os_deployment module - error"
##### Summary

Issue while deploying OS using idrac_os_deployment module

Details
playbook:
[code]
Inventory file:
[code]
Error details:
[code]

[2022-04-20 22:48] sysadm24 opened #401 "IDRAC9 get local user list"
##### Description

##### New or existing component

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)
  to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions,

[2022-04-24 14:08] dk-rbrown opened #403 "Share Name required but not being used by Org when using iDRAC Network Module"
Hello.

I am attempting to configure my org's idrac's through the [iDRAC network module playbook](https://docs.ansible.com/ansible/latest/collections/dellemc/openmanage/idrac_network_module.html).
The "share name" value is required for this playbook to run. However; our org does not use this with our configurations.
What null value is acceptable for the playbook to run successfully?
Thank you.

[2022-04-26 15:43] MallocArray commented on #393
You can also add
[code]
at the top of your playbook so you don't have to add the delegate_to on each task, although this gets complicated with Ansible Execution Environments and python modules, so I also add the delegate_to on each task as a general rule.

On all of my Dell related playbooks, I just have the `connection: local` at the top.

But you are right, this isn't in the examples, and it wou

[2022-04-26 15:46] MallocArray commented on #403
It is complicated and very confusing to still have that as a required field, but here is a discussion about it:
https://github.com/dell/dellemc-openmanage-ansible-modules/issues/257

Basically, it can be any folder on your Ansible host and it doesn't have to actually be a share, which is why the parameter name is horrible.  The discussion link has an option, but for my tasks, I just use:
[code]
an

[2022-04-26 15:48] MallocArray commented on #362
@anupamaloke I didn't see this in the release notes for 5.3.0.  Was it pushed to a later release?

[2022-04-26 15:51] MallocArray commented on #367
@anupamaloke Was this addressed in 5.3.0 as indicated by the milestone? I didn't see a release note about anything changing for MX7000 chassis logs.  I did see the option for DEBUG_LOGS for iDRACs, but this issue is related to the Chassis logs not containing everything support needed, and there is no option to enable/disable debug logs when extracting logs from a chassis

[2022-04-26 15:53] MallocArray commented on #309
Addressed in 5.3.0

[2022-04-26 15:53] #309 closed

[2022-04-27 04:59] jagadeeshnv commented on #399
Check if this is the issue - misspelt
**idrc_password**: "{{ ansible_password }}" - idr**a**c

[2022-04-28 04:58] jagadeeshnv commented on #253
@TrevorSquillario this has been fixed with the 5.3.0 release, kindly confirm if its fixed

[2022-04-29 10:25] anupamaloke commented on #367
@MallocArray, I believe we had pulled it out of the 5.3.0 as further investigation were needed after discussing with the Dell Support team (based on the SR# that you mentioned above). We will pick this up in future releases (yet to be determined).

BTW, would it be possible for you to see whether you are still facing this issue on latest OME-M firmware version 1.40.00?

[2022-04-29 15:03] MallocArray opened #404 "Module to manage Alert Policies in OME/M"
##### Description

There does not appear to be a module to manage Alert Policies in OME or OME-M.  I ran into this when using the module to configure Syslog Forwarder destination but without the associated policy, nothing was being sent

##### New or existing component

ome_alert_policies

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-

[2022-05-02 12:26] tholeb opened #405 "503 on SCP import"
##### Question
Hello, i'm working on a DELL T130 _(PLC7)_ iDRAC/8 server, and I try to import a SCP file to the server through Ansible but in vain. When I import the file (locally), I always receive a status 503 (Service Unavailable). I tried using cURL in case the task's attributes were incorrect, but I have the same error.

I can confirm that the `/tmp/dell_model.xml` is present _(if not, anothe

[2022-05-05 21:00] dbond007 commented on #403
Thanks for this, I have been looking into using these modules and reading through the documentation shows that its a required value, but I could not understand what it was used for and what it should be set to, I have been wondering why do I need to provide a share when setting an IP, whats in that share.
The documentation, well the module really, needs updating and these things removed if they ar

[2022-05-06 13:30] anupamaloke commented on #403
@dk-rbrown, thank you for the feedback. It is one of the top priority items on the roadmap and we will be doing this in phases over the next few months.

[2022-05-06 15:08] dieuvolkanos opened #406 "Use jump server to connect to an iDrac"
##### Question
Hi, The playbook works fine without the bastion but I'm trying to connect to a idrac using a bastion. Anyone have a solution? I tried with a variable in the inventory file and a ssh config file.

##### Details
[code]
Variable in the inventory file:
`ansible_ssh_common_args= '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand="ssh -W %h:%p -q bastion"'`

Ssh

[2022-05-11 07:13] anupamaloke commented on #405
@tholeb, you need iDRAC Enterprise license to perform import/export SCP operation. Could you please check whether you have iDRAC Enterprise license deployed on your iDRAC?

[2022-05-11 07:21] anupamaloke opened #407 "[NEW Feature]: Add support for OperationApplyTime for redfish_storage_volume"
##### Description

Add support for OperationApplyTime.
I would like to specify the operation apply time such as for e.g. "Immediate", "OnReset", "AtMaintenanceWindowStart" or "InMaintenanceWindowOnReset" while creating, modifying or deleting the RAID volumes.

##### New or existing component

redfish_storage_volume

#### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://

[2022-05-11 10:28] anupamaloke commented on #401
@sysadm24, you should be able to get a list of all local users by making a direct call to iDRAC REST API using the `ansible.builtin.uri` module.

[code]

[2022-05-12 14:36] tholeb commented on #405
Hello, thank you for your answer, I wasn't aware that we needed to have an Enterprise license to import the SCP (I have the "basic" plan), and there is nothing about license in the [Ansible's idrac_server_config_profile page](https://docs.ansible.com/ansible/2.9/modules/idrac_server_config_profile_module.html#idrac-server-config-profile-module).
Also, it seems there is a mistake on that page, it s

[2022-05-20 15:53] anupamaloke commented on #405
@tholeb, I checked internally and for iDRAC 8, Import SCP is supported for both **_iDRAC Express and Enterprise license_**.

[2022-05-23 08:34] tholeb commented on #405
@anupamaloke It seems that export SCP is available via any plan, I can export on a T130 with a "Basic" plan.

[2022-05-25 11:57] ghost opened #409 "NTP - network share required"
##### Question
Why is network share required?!
##### Details

[2022-05-25 14:33] anupamaloke commented on #409
@nikoloskid, it is a legacy argument that was added in v1.0 since that supported legacy iDRAC firmware versions that did not support importing a SCP using a import buffer but only from a remote file share (NFS, CIFS etc.).

You can simply set it to `{{ playbook_dir }}` or any other local file path in your task:

[code]

[2022-05-25 14:34] anupamaloke commented on #405
@tholeb, you are correct. Only import operation requires an Express or Enterprise license.

[2022-05-25 18:28] ghost commented on #409
@anupamaloke, I understand now, thank you for the reply. I was not planning to set a NFS...

[2022-05-25 18:28] #409 closed, assigned to nobody

[2022-05-26 14:48] lianzxu opened #413 "Does idrac_os_deployment support HTTP boot?"
I can do http boot from iDRAC by setting remote file share in this format: http://<ip address>/name.iso. But it doesn't seem to work with dellemc.openmanage modules. Can you please confirm?

I installed the Ansible module with the following command a few weeks ago:

ansible-galaxy collection install dellemc.openmanage

Thanks.

[2022-05-26 19:24] lianzxu opened #414 "idrac_os_deployment failed to boot the host"
Here is my task:

- name: Boot to ISO
  dellemc.openmanage.idrac_os_deployment:
    idrac_ip: "{{hostvars[sno_node].sno_idrac_ip}}"
    idrac_user: "{{hostvars[sno_node].sno_idrac_user}}"
    idrac_password: "{{hostvars[sno_node].sno_idrac_pw}}"
    share_name: "{{ansible_default_ipv4.address}}:{{nfs_dir}}"
    iso_image: "{{rhcos_live_iso}}"
    expose_duration: 120
    validate_certs: False
  de

[2022-05-29 11:57] mogamal1 opened #415 "idrac_bios module doesn't change BIOS attributes on Dell R750"
### How can the team help?
Support on **idrac_bios** module and Bios Version relation or dependency

**Details: ?**
I'm trying to change BIOS Attributes on my DELL R750 using Ansible with module **idrac_bios** , no action taken however  the attribute value doesn't match.

R750 BIOS Version | 1.3.8
R750 iDRAC Firmware Version | 5.10.10.00

For more clarification ==>
Changing **OsWatchdogTimer** fro

[2022-05-30 11:16] mogamal1 commented on #415
@sachin-apa , Appreciate your reply

[2022-05-30 11:41] sachin-apa commented on #415
@mogamal1 the module is not dependent on the Model of a server.
From the output I see that, the changes you are trying to apply is same as in the server and hence the message "No changes found to commit!"

Can you please check from the R750 iDRAC console if the **OsWatchdogTimer** value is already set to Disabled

[2022-05-30 11:50] mogamal1 commented on #415
@sachin-apa
I'm using Redfish API for checking and still the value Enabled
https://xx.xx.xx.xx/redfish/v1/Systems/System.Embedded.1/Bios

and the playbook report "No changes found to commit

[code]

[2022-05-30 13:23] sachin-apa commented on #415
@mogamal1 ok Thanks for checking on that.. let me check on this and get back to you.

[2022-05-31 06:20] sachin-apa commented on #415
@mogamal1 I did try the module on R750 Model and it seems to be working fine on both ways (Enabling and disabling).

Tried on the below versions
BIOS Version | 1.4.4
iDRAC Firmware Version | 5.10.10.05

[2022-05-31 06:36] sachin-apa commented on #413
@lianzxu : Thanks for submitting a question.
**idrac_os_deployment** module doesn't support HTTP boot yet and it is part of our todo items.
it is currently being tracked under issue [# 153](https://github.com/dell/dellemc-openmanage-ansible-modules/issues/153)
Closing this issue, please reopen if necessary.
@anupamaloke

[2022-05-31 06:36] #413 closed, assigned to nobody

[2022-06-01 19:58] fawu007 opened #416 "[QUESTION]: idrac_os_deployment with cifs share"
### Hello, I am getting the error following error when trying to boot to network iso using a cifs share.
I am able to get firmware inventory using the same playbook variables. Thanks

Error message:
 "msg": {
    "Key": "<null_index>",
    "DeleteOnCompletion": "false",
    "InstanceID": "DCIM_OSDConcreteJob:1",
    "JobName": "BootToNetworkISO",
    "JobStatus": "Failed",
    "Message": "General

[2022-06-02 18:47] markatdxb opened #417 "[BUG]: dellemc.openmanage.ome_discovery timeout"
### Bug Description

Issue started with OME upgrade to the latest version 3.9.0 build 55
when running discovery module to delete discovery job the process times out randomly
is there any way to increase the read timeout of the module ?

### Component or Module Name

dellemc.openmanage.ome_discovery

### Ansible Version

Ansible 2.10.10

### Python Version

Python 3.6.8

### iDRAC/OME/OME-M version

[2022-06-03 04:20] sachin-apa commented on #417
@markatdxb Thanks for submitting the issue.

1. API timeout is defaulted to 30 sec, you can increase the value by sending the parameter **timeout** in the playbook.
2. Job wait logic has the job wait timeout defaulted to 10800 in the playbook, this means that the module will wait for the specified amount of time to check for the completion, if job is talking more time for completion then the param

[2022-06-03 05:51] #417 closed, assigned to nobody

[2022-06-03 05:52] markatdxb commented on #417
Great thanks for hint.

[2022-06-03 16:41] fawu007 commented on #416
Update: Looks like the OpenManage Enterprise Advanced or Advanced Plus license is required on the server. I tested with another server and it worked as expected. Thanks

[2022-06-03 16:41] fawu007 commented on #416
Would be good to add this check in the playbook. Thanks

[2022-06-03 16:41] #416 closed, assigned to nobody

[2022-06-10 06:36] anupamaloke commented on #245
Closed #402

[2022-06-10 06:36] #245 closed

[2022-06-10 06:36] anupamaloke commented on #253
Closed #402

[2022-06-10 06:36] #253 closed

[2022-06-10 06:37] anupamaloke commented on #308
Closed by #402

[2022-06-10 06:37] #308 closed

[2022-06-10 06:42] anupamaloke commented on #362
@MallocArray, this is being worked as part of v5.5.0 release

[2022-06-10 06:53] anupamaloke commented on #414
@lianzxu, `expose_duration` argument controls the amount of time the ISO is attached to the iDRAC licecycle controller. After expiry of `expose_duration`, idrac will automatically disconnect the ISO.

As to why the idrac_os_deployment module is failing, it could be that an ISO image is already attached. You will have to detach the ISO image before attempting another run. At present, `idrac_os_depl

[2022-06-14 18:30] lianzxu commented on #414
Thank you very much for the information. It is very helpful.

[2022-06-14 18:30] #414 closed, assigned to nobody

[2022-06-20 12:19] anupamaloke opened #418 "[FEATURE]: Add support for import SCP preview"
**Describe the solution you'd like**
**_Add support for import SCP preview feature._**
Before importing the SCP file, it is not required, but is recommended, that you execute the import preview operation. By executing this operation first, you validate your SCP file format, and that the current values of Server configuration profile (SCP) operations attributes that you changed are passed upon appl

[2022-06-20 12:20] anupamaloke commented on #418
Closed by #410

[2022-06-20 12:20] #418 closed, assigned to nobody

[2022-06-20 12:23] anupamaloke opened #419 "[FEATURE]: Add check_mode support for idrac_server_config_profile"
**Describe the solution you'd like**
Add check_mode support for `idrac_server_config_profile` module.

**Describe alternatives you've considered**
Call REST APIs directly using `ansible.builtin.uri` module.

**Additional context**
Describe any relevant context or add any relevant screenshots about the feature request.

**Community Note**

* Please vote on this issue by adding a 👍 [reaction](https:

[2022-06-20 12:24] anupamaloke commented on #419
Closed by #410

[2022-06-20 12:24] #419 closed, assigned to nobody

[2022-06-20 12:35] anupamaloke opened #420 "[BUG]: Job polling fails with 404 Error for idrac_redfish_storage_controller"
### Bug Description

I am using  `idrac_redfish_storage_controller` module for assigning a dedicated hotspare. However, it intermittently fails with a 404 not found error stating that the job ID that it has just created doesn’t exist. The task does create and complete but at this point the play has already failed.

Having looked at little more closely, it looks like the module uses Task Monitor UR

[2022-06-20 22:21] 00-eight opened #421 "idrac_server_config_profile 5.4 export w/ jobwait is broken [BUG]:"
### Bug Description

# Summary
OMAM 5.4 contains issue betwen /modules/idrac_server_config_profile.wait_for_response() and /module_utils/idrac_redfish.wait_for_job_complete() where one is expecting bytes object but instead receives a string.

**idrac_server_config_profile** - dellemc-openmanage-5.3.0.tar.gz  [WORKING]
**idrac_server_config_profile** - dellemc-openmanage-5.4.0.tar.gz  [FAILING]

#

[2022-06-21 05:02] sachin-apa commented on #421
@00-eight Thanks For reporting the issue.
We will have this fixed as part of the current month release . ETA 6/29 - 6/30

[2022-06-23 18:18] lianzxu opened #422 "idrac_os_deployment: Unable to boot to service partition because the target service partition was not found in the boot list"
I used module idrac_os_deployment to bootstrap two DELL poweredge R630 servers. The first one worked just fine. But I got error when bootstapping the second server: "Unable to boot to service partition because the target service partition was not found in the boot list.".

I compared iDRAC firmware and other setting but didn't find anything obviously different. And the boot sequence is the same on

[2022-06-28 16:10] Wal-E9871 opened #424 "[FEATURE]: Remove Device from an openmanage static group"
I am trying to remove a device from a static group and add it to another one however the parameter state : absent is not supported.

ome_device_group:
        hostname: '{{ ome_ip }}'
        username: '{{ ome_user }}'
        password: '{{ ome_pass }}'
        validate_certs: no
        name: '{{ static_group }}'
        state: "absent" # not yet supported
        device_service_tags:
          -

[2022-06-30 07:25] sachin-apa commented on #420
This is Fixed with Release 5.5.0

[2022-06-30 07:25] #420 closed, assigned to nobody

[2022-06-30 07:25] sachin-apa commented on #362
This is Fixed with Release 5.5.0

[2022-06-30 07:25] #362 closed

[2022-06-30 07:25] sachin-apa commented on #421
This is Fixed with Release 5.5.0

[2022-06-30 07:25] #421 closed, assigned to nobody

[2022-06-30 10:13] anupamaloke commented on #424
@Wal-E9871 , removal of devices from OME static group is not supported in ansible module because there is no REST API support in OME. Also, I am not sure you can remove a device from a custom static group using WebUI in OME as well. One workaround you can use in meantime is to create a new static group with the right set of devices and delete the old  static group.

[2022-06-30 10:26] anupamaloke commented on #422
@lianzxu, Ansible modules will only make a REST API call to iDRAC to boot from a network ISO image. Do you see this error even when manually deploying the ISO image using iDRAC GUI?

[2022-06-30 10:30] Wal-E9871 commented on #424
@anupamaloke : Removing a device from a group can be done from GUI by editing the static group and then deselect the device from the list.
if I am not wrong there is a REST API to remove a device from a static group using below:
https://www.dell.com/support/manuals/en-uk/dell-openmanage-enterprise-tech-release/lex_techrel_pub/groups-service?guid=guid-894c21ef-14f8-44ea-9e98-9e4e613ca4a3
The issue

[2022-06-30 12:15] anupamaloke commented on #424
@Wal-E9871, I stand corrected. Thank you for sharing the REST API documentation. I have added this requirement to the backlog.

[2022-06-30 12:16] anupamaloke commented on #424
@Wal-E9871, also let me know if this is something that you would like to submit a PR for :-)

[2022-06-30 13:41] noesberger opened #425 "[BUG]: ome_configuration_compliance_info with device_id specified is giving back an empty list"
### Bug Description

When specifying an device_id. The given output for the compliance is empty.

### Component or Module Name

ome_configuration_compliance_info

### Ansible Version

2.10.17

### Python Version

3.6.8

### iDRAC/OME/OME-M version

OME: Version 3.9.0 (Build 55)

### Operating System

Red Hat Enterprise Linux Server release 7.9

### Playbook Used

- name: Retrieve compliance report

[2022-07-01 07:41] noesberger commented on #425
I've just done some more tests.
I looks like the compliance report is having some paging of 20 devices. When I run the Report for all devices I get only 20 devices back:
[code]

So I've put over 40 Servern in a group, when I then run the report with a device_id specified. And I get an empty Report:
![image](https://user-images.githubusercontent.com/8112638/176847866-c41d5645-756b-4a72-960b-8de35ae

[2022-07-01 08:25] sachin-apa commented on #425
@noesberger Thanks for reporting the issue.

Checked the module , looks like there are two different API calls on the same URI for the below two actions.
1. To fetch report there is no pagination added and same is returned back from the module as output by cheking the device_is/device_service_tag.
2. To validate the device_id or device_service_tag where there is a pagination added.
And hence the m

[2022-07-01 09:15] #405 closed, assigned to nobody

[2022-07-08 15:52] lianzxu commented on #422
We had to reset iDRAC twice. The issue is gone now. Thank you.

[2022-07-08 15:52] #422 closed, assigned to nobody

[2022-07-08 19:24] lianzxu opened #427 "Question: How to set Boot Sequence with idrac_bios module?"
I can't find any example to set boot_sequence other than some notes in the use's guide (Dell EMC OpenManage Ansible Modules Version 5.0.0).

Ensure that I(boot_mode) option is
provided to determine which boot
sequence is applied.
NOTE: This option is deprecated,
and will be removed in later version.
Use I(attributes) for configuring the
BIOS attributes.
NOTE: I(boot_sequence) is mutually
exclusive

[2022-07-20 17:44] farhadsaifuddin opened #428 "Template deployment is failing when deployed on host"
### Bug Description

Trying to deploy template on the host and it is failing

- name: Deploy template on one or multiple devices.
      dellemc.openmanage.ome_template:
        validate_certs: False
        hostname: "{{ome_hostname}}"
        username: "{{ome_user}}"
        password: "{{ome_password}}"
        command: "deploy"
        #template_id: 12
        template_name: "Ansible Demo Templa

[2022-07-21 05:55] anupamaloke commented on #428
@farhadsaifuddin, could you also please post the version of the dellemc.openmanage collection that you are using in your environment?

[code]

[2022-07-21 14:43] farhadsaifuddin commented on #428
we are on dellemc-openmanage-5.0.0

btw collection list command is failing , there is no list option

[ansiblesvc@rhp0stl0 ~]$ ansible-galaxy collection list dellemc.openmanage
usage: ansible-galaxy collection [-h] COLLECTION_ACTION ...
ansible-galaxy collection: error: argument COLLECTION_ACTION: invalid choice: 'list' (choose from 'init', 'build', 'publish', 'install')
[ansiblesvc@rhp0stl0 ~]$

[2022-07-28 06:08] #98 closed

[2022-07-28 06:08] #263 closed

[2022-07-28 06:08] #296 closed

[2022-07-28 06:08] #403 closed, assigned to nobody

[2022-07-28 14:15] dk-rbrown opened #431 "[QUESTION]: SMTP Still Requires IP Address"
After 6.0 release the idrac alerting and eventing was supposed to accept FQDN as a parameter to allow for the setup of alerting from an SMTP server. This would allow Amazon SES and other in house smtp servers whose ip changes quite frequently to be setup.
However the playbook is still failing because it require an IP.
Was this missed?

[2022-07-28 20:07] anupamaloke commented on #431
@dk-rbrown, could you please confirm whether you are using the new `idrac_attributes` module for configuring the SMTP server?

[code]

[2022-07-29 11:31] sshnaidm commented on #396
Make sure `10.222.8.47` is not IDRAC, but usual linux machine. You can't run ansible on IDRAC itself.

[2022-08-01 14:40] dk-rbrown commented on #431
Thank you for pointing me in this direction. I did not see this new module. After updating my EE and using these new modules I can set the parameters. Thank you again.

[2022-08-01 14:40] #431 closed, assigned to nobody

[2022-08-01 15:30] anupamaloke commented on #428
Just to keep everyone in the community up-to-date, @farhadsaifuddin and I talked over email. Updating to latest dellemc.openmanage collection version gets rid of the HTTP 400 error.

[2022-08-01 16:03] dafoyiming opened #432 "[QUESTION]: How can I enable virtual disk encrypted with module "redfish_storage_volume""
### How can the team help?

**Details: ?**

Team,

I am using the module redfish_storage_volume to create volume and I suppose the encrypted shall be enabled too while my playbook ran, but it doesn't work.

VD can be created successfully, but not any encryption job be scheduled. Please advise if this is a bug and what next step if I want to achieve this within one task.

- name: Create a volume wi

[2022-08-03 04:19] dafoyiming commented on #432
@meshuga any idea? THX

[2022-08-05 01:45] dafoyiming commented on #407
Team,

I am using the module redfish_storage_volume to create volume and I suppose VD encrypted shall be enabled after raid config is complete since  I set the variable "encrypted: true"

Unluckily, VD can be created successfully but VD encryption doesn't trigger any new job instead of pending on change.

Please advise if this is a bug and what next step if I want to achieve this within one task.

[2022-08-05 07:35] anupamaloke commented on #432
@dafoyiming, thank you for submitting the question.
You need to enable the encryption on the storage controller. See [iDRAC 9 Encrypting virtual disks](https://www.dell.com/support/manuals/en-in/poweredge-r640/idrac9_5.00.00.00_ug/encrypting-virtual-disks?guid=guid-59faf90a-4171-4e2c-bf83-10519dd0c0ca&lang=en-us) for details.

You can use the `idrac_redfish_storage_controller` module to set the en

[2022-08-05 07:37] anupamaloke commented on #428
@farhadsaifuddin, please feel free to create a new issue or reopen this one if you are still running into the same error. Closing this issue for now.

[2022-08-05 07:37] #428 closed, assigned to nobody

[2022-08-05 09:25] dafoyiming commented on #432
@anupamaloke . thank you!

I had enabled the encryption key on its PERC. But, right now, I am trying to enable encryption on the virtual disk which I have created with this module "redfish_storage_volume". I can see the VD can be created without problem but the encryption is NOT even though I set the parameters as 'encrypted: true' BTW, I tested with 3 different choices with "encryption_types", bu

[2022-08-05 11:09] anupamaloke commented on #432
@dafoyiming , let me check it internally and come back to you.

[2022-08-10 07:06] anupamaloke commented on #432
@dafoyiming, In iDRAC firmware versions < 6.00.00.00, there is no one single action to do both create VD and secure it.  So you'll have to execute to create VD, and then use iDRAC OEM extension to secure the VD.
iDRAC firmware version >=6.00.00.00, which just got released, supports virtual drive encryption. So Step 2 listed below is not needed. The `redfish_storage_volume` module will create and e

[2022-08-10 11:29] anupamaloke opened #433 "[FEATURE]: Add support for encrypting virtual disk for iDRAC FW < 6.00.00.00"
**Describe the solution you'd like**
`redfish_storage_volume` and/or `idrac_redfish_storage_controller` module should support encyrpting of volumes even for firmware version < 6.00.00.00

With FW version 6.00.00.00, support has been added to encrypt the VD using by passing in `encrypted: True` in the body of the standard POST operation itself. However, the iDRAC 9 with FW version < 6.00.00.00 requ

[2022-08-10 11:30] anupamaloke commented on #432
Created #433 to add support for encyrpting VD for iDRAC FW versions < 6.00.00.00

[2022-08-12 17:26] t-readyroc opened #434 "[FEATURE]: extend AD modules to accept LDAP params"
**Describe the solution you'd like**
Now that we've successfully worked with both Dell & Red Hat to get OME authenticating against IdM, I'm hoping you might see your way to extending the ome_active_directory & ome_domain_user_groups modules to accept LDAP server params.

**Describe alternatives you've considered**
Doesn't look like the current modules' states accept anything but AD inputs. Not sur

[2022-08-13 08:17] kendrew71 opened #435 "[BUG]: idrac_os_deployment : IP Address format is invalid"
### Bug Description

When running this module, it returns "IP Address format is invalid" after about half a minute.

### Component or Module Name

idrac_os_deployment

### Ansible Version

Ansible 2.12.2
dellemc.openmanage v4.4.0

### Python Version

Python 3.8
omsdk 1.2.490

### iDRAC/OME/OME-M version

iDRAC 5.10.10.00

### Operating System

RHEL 8.6

### Playbook Used

[code]

### Logs

[code]

[2022-08-15 19:18] kendrew71 commented on #435
I'm really hoping to find an answer to this (even if it's not a solution). It looks like this issue has been brought up twice before, with no resolution (at least, nothing posted).

It looks like the error is coming from iDRAC, and not the Ansible module directly, but I don't understand why it would be giving this error, since there doesn't seem to be anything incorrect about the IP address. Is th

[2022-08-16 06:05] dafoyiming commented on #432
@anupamaloke thank you for your support and I have encrypted the VD with your suggestion on step2.
Looking forward to the module can be workable with no compatibility issue with iDrac<6.0 on #433
BTW, I think here is typo "//" in the URL you provided  "https://{{ idrac_ip }}/redfish/v1/Systems/System.Embedded.1/Oem/Dell/DellRaidService/Actions/DellRaidService.LockVirtualDisk"

[2022-08-16 14:45] anupamaloke commented on #435
@kendrew71, any chance you could raise a Support Request (SR) with Dell Tech Support so that we can track this closely.

The module uses the WS-Man API provided by iDRAC to Boot to the remote network ISO.
Other option that you can use is to use a virtual media. Following link has example playbooks on how you can insert a ISO image as a virtual media device and then boot from it: https://github.com

[2022-08-16 14:47] anupamaloke commented on #434
@t-readyroc, thank you for submitting the feature request. This has been added to the TO-DO list.

[2022-08-17 05:59] anupamaloke commented on #432
@dafoyiming, thanks for pointing out the typo 👍 I have corrected it now.

[2022-08-17 18:30] kendrew71 commented on #435
I spent some time yesterday digging into the underlying omsdk python. It looks like this specific problem (invalid IP format) is caused by ShareType processing in "omsdk/sdkfile.py". It loops over the "share_type" enum to determine what type of share is being passed to it by using pre-determined regex patterns.

The trouble (for me) is two-fold. First, apparently http URLs are not supported by the

[2022-08-17 21:40] kendrew71 commented on #435
I tried letting it run boot_to_network_iso, and as I expected, that does it's own checking of the share path. In this case, it returns immediately with the error "OSD74: Unable to invoke the method because the mandatory input parameter 'ShareType' is invalid". It looks like it uses the same Share class and ShareType enum from "omsdk/sdkfile.py", so it doesn't seem like it should be throwing an err

[2022-08-24 08:35] #425 closed, assigned to nobody

[2022-08-25 11:07] anupamaloke opened #439 "[FEATURE]: idrac_bios module enhancements"
**Describe the solution you'd like**

- Remove deprecated module arguments - boot_mode, nvme_mode, secure_boot_mode, onetime_boot_mode, boot_sequence
- Use standard Redfish APIs for configuring the BIOS attributes
- Add support for following Bios actions:
  - Clear pending attributes
  - Reset Bios
- Add support for operation apply time - immediate, on reset, maintenance window
- Remove dependency

[2022-08-25 11:08] anupamaloke commented on #427
@lianzxu, a new `idrac_boot` has been added in the latest 6.1.0 release. Please use this module for configuring the boot sources. Let me know if you run into any issue. I will keep this issue open for some time till we get your feedback.

[2022-08-25 11:10] anupamaloke commented on #424
Closed by #438

[2022-08-25 11:10] #424 closed, assigned to nobody

[2022-08-25 11:12] anupamaloke commented on #372
Closed by #438

[2022-08-25 11:12] #372 closed

[2022-08-25 11:13] anupamaloke commented on #397
Closed by #438

[2022-08-25 11:13] #397 closed, assigned to nobody

[2022-08-25 11:13] anupamaloke commented on #398
Closed by #438

[2022-08-25 11:13] #398 closed, assigned to nobody

[2022-08-25 11:14] anupamaloke commented on #332
A new module `idrac_boot` has been added into the 6.1.0 release. Closed by #438

[2022-08-25 11:14] #332 closed

[2022-08-25 11:16] anupamaloke commented on #295
A new module `ome_devices` has been added using which you can:

- Refresh inventory for a device or a list of devices in OME
- Reset iDRAC for a device or a list of devices in OME
- Clear iDRAC job queue for a device or a list of devices in OME

[2022-08-25 11:17] anupamaloke commented on #295
Closed by #438

[2022-08-25 11:17] #295 closed

[2022-08-30 07:00] clintonkavai opened #440 "[QUESTION]: Getting error "msg": "invalid literal for int() with base 10: when using DELL IDRAC user module"
The full traceback is:
  File "/tmp/ansible_dellemc.openmanage.idrac_user_payload_3is0c1ft/ansible_dellemc.openmanage.idrac_user_payload.zip/ansible_collections/dellemc/openmanage/plugins/modules/idrac_user.py", line 401, in main
  File "/tmp/ansible_dellemc.openmanage.idrac_user_payload_3is0c1ft/ansible_dellemc.openmanage.idrac_user_payload.zip/ansible_collections/dellemc/openmanage/plugins/modul

[2022-08-30 07:03] clintonkavai commented on #440
Here's the yaml i used:

- hosts: PowerEdge
  connection : local
  name : Test
  gather_facts: False

  tasks:
  - name: Modify existing iDRAC user username and password
    dellemc.openmanage.idrac_user:
      idrac_ip: "3f34:0fbc::0"
      idrac_user: "root"
      idrac_password: "calvin"
      validate_certs: "false"
      state: present
      user_name: "user"
      new_user_name: "admin"

[2022-08-30 09:37] SeiketsuJael opened #441 "[QUESTION]: Are there any option to use one session ID for authentication"
### How can the team help?
I would like to know if there are any  options to use a config file that has the authentication/sessionID instead of initiating an session on every ansible task for OME?
**Details: ?**
Currently we are foreseeing an issue when it comes to hitting the maximum API sessions if we have multiple tasks that will use the ansible modules for OME. We can probably increase the thr

[2022-09-07 08:42] markatdxb opened #442 "[QUESTION]: Module to get all LC jobs"
### How can the team help?

**Details: ?**
Hello, is there any module which is able to pull the list of all LC jobs ?
thanks

[2022-09-07 09:38] anupamaloke commented on #441
@SeiketsuJael, at present this is not supported by the modules. However, I agree that it could become an issue in future when you have multiple tools requesting user sessions from OME. One way to do it would be to have a new module to create user sessions and then modify existing set of modules to have an additional argument to accept x-auth tokens.

[2022-09-15 13:37] anupamaloke commented on #442
@markatdxb, the `idrac_lifecycle_controller_job_status_info` module currently supports getting details of a specific job only. Going forward, it can be extended to return all the jobs. Meanwhile, you can make a direct API call using the `ansible.builtin.uri` module:

[code]

[2022-09-20 05:40] SeiketsuJael commented on #441
@anupamaloke Thank you for the response, we will look forward to this feature. For the meantime we will increase the session threshold just to avoid future issues since we have multiple tools.

[2022-09-21 19:38] Mixer9 commented on #262
I fixed this error by simply adding `delegate_to: localhost` to my playbook task to update the iDRAC firmware.

[2022-09-21 19:40] Mixer9 commented on #112
I fixed this issue by adding `delegate_to: localhost` to my playbook task to update the firmware.  I did not have to do any manual install of omsdk, I just used `pip3 install omsdk`.

[2022-09-26 15:46] Mixer9 opened #443 "[BUG]: Catalog.xml no longer at web location https://downloads.dell.com/Catalog.xml"
### Bug Description

The file Catalog.xml is no longer provided at the url https://downloads.dell.com/Catalog.xml The file is compressed now and appears to be located at http://downloads.dell.com/catalog/Catalog.xml.gz .  The code should be updated to handle the compressed file at the new location.

### Component or Module Name

idrac_firmware

### Ansible Version

ansible [core 2.12.2]

### Pytho

[2022-09-26 20:37] Mixer9 opened #444 "[FEATURE]: Add HTTP proxy parameter to idrac_firmware to download update files via proxy."
**Describe the solution you'd like**
There needs to be an option for the idrac_firmware module to use a proxy to download update files.

**Describe alternatives you've considered**
I tried setting the proxy environment variables for my user and for root, I thought maybe since it was using "become" that it might need the variables in roots environment, but alas that didn't work.  I also tried setti

[2022-09-28 09:36] anupamaloke commented on #444
@Mixer9, thanks for submitting this feature request. It has been added to backlog.

[2022-09-28 20:33] Mixer9 commented on #117
How was this resolved???

[2022-10-12 09:48] anupamaloke commented on #439
Closed by #445

[2022-10-12 09:48] #439 closed, assigned to jagadeeshnv

[2022-10-12 09:49] anupamaloke commented on #307
Closed by #445

[2022-10-12 09:49] #307 closed

[2022-10-12 09:50] anupamaloke commented on #432
Closing this issue. The support for encrypting the virtual disk is going to be tracked with #433

[2022-10-12 09:50] #432 closed, assigned to nobody

[2022-10-12 09:52] anupamaloke commented on #244
Closing this issue. With the `idrac_bios` module enhancement that has gone in v6.2.0, this issue should be fixed.

[2022-10-12 09:52] #244 closed

[2022-10-12 09:55] anupamaloke commented on #427
@lianzxu, I am closing this issue for now. Please open a new issue if you are still facing this error.

[2022-10-12 09:55] #427 closed, assigned to nobody

[2022-10-12 09:56] anupamaloke commented on #415
@mogamal1, I am closing this issue, Please feel free to re-open this issue if you are still running into the same error.

[2022-10-12 09:56] #415 closed, assigned to nobody

[2022-10-22 17:16] tperrindell opened #447 "[FEATURE]: Inventory plugin from OME"
**Describe the solution you'd like**
Create an inventory in AAP2 or AWX using OME data

**Describe alternatives you've considered**
This plugin from an external dev : https://gitlab.com/keiran.steele/dell-openmanage-ansible-inventory

**Additional context**
I think it is relevant when creating playbooks to manage an OME installation and/or iDRAC not to maintain an inventory manually when OME is a

[2022-10-25 11:33] TylerChecchia opened #448 "[BUG]: Issue with Importing SCP with RAID components in JSON format from a local path"
### Bug Description

I've created a task which imports SCP with RAID components in a JSON format and this is the task:

[code]
however, once I run the task I get this error message:

[code]

### Component or Module Name

dellemc.openmanage.idrac_server_config_profile

### Ansible Version

Ansible 2.13.1

### Python Version

Python 3.8.10

### iDRAC/OME/OME-M version

not specified

### Operating S

[2022-10-27 14:32] TrevorSquillario opened #449 "[FEATURE]: Change Chassis Name"
This feature could be added to the `ome_chassis_slots` module. Add a `name` or `chassis_name` parameter to be used with `chassis_service_tag`. This requires a separate job to be submitted.

Job Payload example:

[code]

[2022-10-27 14:38] TrevorSquillario opened #450 "[FEATURE]: Create MCM Group"
We need a new module `ome_mcm_group` to create an MCM Group with multiple chassis.

Required parameters:
* `name`: MCM Group Name
* `backup_chassis`: Service Tag of Backup Chassis
* `vip_ipv4_address`: VIP IPv4 Address (Optional)
* `vip_subnet`: VIP Subnet (Optional)
* `vip_gateway`: VIP Gateway (Optional)

If `vip_ipv4_address` not specified do not create VIP.

[2022-11-02 05:56] anupamaloke commented on #433
Closed by #451

[2022-11-02 05:56] #433 closed, assigned to felixs88

[2022-11-03 12:20] #448 closed, assigned to nobody

[2022-11-03 12:21] TylerChecchia commented on #448
Issue found, was using wrong IP address

[2022-11-03 16:06] ykorzikowski commented on #85
Hi there,

we are trying this role to install our server. The issue we are getting now: The server is booting in loop from the installation iso. Only when you eject it manually, Its booting from the harddisk again. Does anybody know how to solve this issue?

[code]

[2022-11-09 12:27] cnf opened #454 "Hardcoded api_timeout value makes updating firmware impossible."
### Bug Description

Trying to use redfish_firmware in ansible, I get a `<urlopen error The write operation timed out>` error.

Changing the api_timeout to 300 makes it work

https://github.com/dell/dellemc-openmanage-ansible-modules/blob/collections/plugins/modules/redfish_firmware.py#L179-L180

### Component or Module Name

redfish_firmware

### Ansible Version

Ansible 2.13.5

### Python Versio

[2022-11-15 06:36] anupamaloke commented on #454
@cnf, thank you reporting this bug. I have added it to the backlog and we will fix this as part of 7.1.0 release in Dec.

[2022-11-19 20:35] amitchettri commented on #94
@rajeevarakkal How do we calculate then span length and depth. Example if I have 14, 12, 10, 8, 6

For 4 drive it's 2,2

[2022-11-19 21:00] amitchettri opened #456 "dellemc_idrac_storage_volume -> span length and depth value calculation"
Hello All,

can anyone kindly help me understand the value of span length and depth for RAID 10 when we want to create the raid using drives such as 6, 8, 10, 12, 14 etc?

for 4 drives it's 2,2 how is that calculated?

I tried for 14drive value using the below but it does not work
length = 14, depth 2
length = 14, depth 7

[2022-11-19 21:29] amitchettri commented on #456
@rajeevarakkal can you help with this?

the error that I get is invalid physical drive slot or span length or span depth

[2022-11-19 22:36] amitchettri commented on #456
- name: Create single volume.
     dellemc_idrac_storage_volume:
       idrac_ip:    "{{ idrac_ip }}"
       idrac_user:  "{{ idrac_user }}"
       idrac_password:   "{{ idrac_password }}"
       state: "create"
       raid_reset_config: "True"
       controller_id: "RAID.Integrated.1-1"
       volumes:
         - name: "Virtual-Disk-0"
           volume_type: "RAID 10"
           disk_cache_polic

[2022-11-23 19:28] squigit opened #457 "[FEATURE]:Virtual Media support in idrac_boot"
**Describe the solution you'd like**
The idrac_boot module supports a number of static sources and pxe, but does not support virtual cd as a section choice for boot source override.  This would be useful now that the virtual_media module has been released in 6.3.0.

[2022-11-28 08:06] anupamaloke commented on #444
Closed by #458

[2022-11-28 08:06] #444 closed, assigned to nobody

[2022-11-28 08:07] anupamaloke commented on #401
Closed by #458

[2022-11-28 08:07] #401 closed, assigned to nobody

[2022-11-28 08:08] anupamaloke commented on #130
Closed by #458

[2022-11-28 08:08] #130 closed

[2022-11-28 12:39] ffirg opened #459 "[BUG]: https://github.com/dell/dellemc-openmanage-ansible-modules/blob/collections/docs/EXECUTION_ENVIRONMENT.md"
### Bug Description

Formatting and syntax of the example AAP custom credential doesn't work OOTB

Suggest changing the *input configuration* to this (AAP 2.3 pre-GA validates this) under https://github.com/dell/dellemc-openmanage-ansible-modules/blob/collections/docs/EXECUTION_ENVIRONMENT.md#create-credential-types:

[code]

### Component or Module Name

EE readme

### Ansible Version

n/a

### P

[2022-11-28 13:04] ffirg opened #460 "[BUG]: syntax for example playbook https://github.com/dell/dellemc-openmanage-ansible-modules/blob/collections/docs/EXECUTION_ENVIRONMENT.md#use-ansible-runner-to-verify-the-execution-environment"
### Bug Description

Example under 3. Create a playbook. has syntax problems and also doesn't pass ansible-lint checks.

Suggest changing to:

[code]

### Component or Module Name

n/a

### Ansible Version

n/a

### Python Version

n/a

### iDRAC/OME/OME-M version

n/a

### Operating System

n/a

### Playbook Used

n/a

### Logs

n/a

### Steps to Reproduce

n/a

### Expected Behavior

runs succes

[2022-11-28 14:06] ffirg opened #461 "[BUG]: https://github.com/dell/dellemc-openmanage-ansible-modules/blob/collections/docs/EXECUTION_ENVIRONMENT.md#use-ansible-runner-to-verify-the-execution-environment"
### Bug Description

According to https://github.com/dell/dellemc-openmanage-ansible-modules#prerequisites you now need python 3.9 do the docs needs to be updated as it currently states 3.8 under 2. Create a host file with the following entries:

### Component or Module Name

n/a

### Ansible Version

n/a

### Python Version

n/a

### iDRAC/OME/OME-M version

n/a

### Operating System

n/a

### Pl