[2018-06-20 02:55] kanapuliAthavan opened #1 "idrac command processing failed"
I am trying to change the SNMP community name using dellemc_configure_idrac_services module and my playbook is as follows

[code]

When I try to run this play , I always get the following error as Command Processing Failed,

[code]

What could be the actual problem here?

[2018-06-21 10:50] anupamaloke commented on #1
I believe the issue is that you are using "become" and "become_sudo" with your playbook. The OpenManage Ansible Modules for iDRAC need to be executed on Ansible controller and they uses REST APIs to communicate with iDRAC.
So you need to remove "become" and "become_sudo" from your playbook or use "delegate_to" in your tasks to run them locally. For e.g.

`
- name: setup idrac community name
  dell

[2018-06-27 00:54] alexskrc opened #2 "scp export"
Hi there, I am trying to run the SCP export to an nfs share (hosted actually on the same CentOS7 vm where I am running Ansible from) and it always comes up with an "Exception 'content-type'". I used the examples here to build the playbook, the only difference is the share name: "server.ip://nfs/share/path", which is what works in the eport lc logs task (as opposed to "server.ip:/nfs/share/path"),

[2018-06-27 15:23] rajeevarakkal commented on #2
Dear Alex,

We are looking into this issue your are facing. It will be great if you can clarify below points

1. I believe your facing issue with [dellemc_export_server_config_profile](https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/blob/master/library/dellemc_export_server_config_profile.py) module.
2. The NFS share details you have provided is in the format of "server.ip://nfs/share/p

[2018-06-27 17:38] alexskrc commented on #2
ok, more info: I set the ANSIBLE_KEEP_REMOTE_FILES=1 and picked up the script to run manually; it actually gets a reply:
omsdk.http.sdkhttpep:175 - Received SOAP reply:
<?xml version="1.0" encoding="UTF-8"?>
<s:Envelope xmlns.........

but then it comes up with:

ERROR - ansible.module_utils.dellemc_idrac:190 -  : EXCEPTION: Exporting Server Configuration Profile Method: 'NoneType' object has no a

[2018-06-28 02:59] alexskrc commented on #2
I think I found the issue, I was at iDRAC 2.4, installed 2.52.52.52 and it exports fine now to the nfs share, when I try to export to the local path I get an error "Error: 'NoneType' object has no attribute 'format'", but I'm ok with nfs. Thanks for the quick reply!
Alex

[2018-06-28 02:59] #2 closed

[2018-06-28 03:36] rajeevarakkal commented on #2
Thank you Alex & Good to know the issue is resolved.

Unfortunately I couldn't respond  to your updates in time as it is midnight for me.

Let us in case any further support required.

With Regards
Rajeev

[2018-07-19 07:55] anupamaloke commented on #1
Closing the issue as this is not a bug and can be fixed by making a playbook change to use local connection.

[2018-07-19 07:55] #1 closed

[2018-07-23 15:37] feisa opened #3 "Error messages"
Hello,

im receiving the following error when running my playbooks

setting up inventory plugins
Parsed /home/feisa/git/network/hosts inventory source with ini plugin
Loading callback plugin default of type stdout, v2.0 from /usr/lib/python2.7/site-packages/ansible/plugins/callback/default.pyc

PLAYBOOK: idrac_ntp_setup.yaml *************************************************************************

[2018-07-26 12:18] feisa commented on #3
I see my error there. Now I get

fatal: [10.9.245.105]: FAILED! => {"changed": false, "msg": "'Status'"}
fatal: [10.9.245.110]: FAILED! => {"changed": false, "msg": "returned status code doesn't match with the expected success code"}
fatal: [10.9.245.113]: FAILED! => {"changed": false, "msg": "returned status code doesn't match with the expected success code"}
fatal: [10.9.245.116]: FAILED! => {"c

[2018-07-26 13:44] LangeshDharmalingam commented on #3
Hi Feisa,
 Thankyou to write to us. We will help you to fix the issue

Need following information to debug better:
- Ansible Version
- Server Model
- iDRAC Firmware version

By the way above playbook is partial. We do support nfs share path or local path. If you want to use nfs fileshare provide share_name, share_mnt, share_user & share_pwd or incase of local share_name along is good.

[2018-07-26 16:10] feisa commented on #3
Ansible Version
ansible 2.6.1
  config file = /home/feisa/git/network/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Jul 13 2018, 13:06:57) [GCC 4.8.5 20150623 (Red Hat 4.8.5-28)]

Ansible Server Model
Dell r620 and Dell r

[2018-07-27 12:12] anupamaloke opened #4 "Export SCP using local SCP file does not return the exported SCP filename"
(1) I ran a playbook with ‘job_wait: False’ using Local file streaming and it does not return me the JOB ID and file name (see below):
[code]
(2) When digging deeper into the omsdk, I find that ```job_wait``` module argument is not at all used in ```scp_export_to_local_share_redfish``` method. Copy pasting from the iDRACConfig.py :

[code]

[2018-08-22 17:04] knaveenr opened #5 "NameError: name 'LogManager' is not defined"
While trying to collect inventory using Ansible module, getting below error. Not sure what is preventing the LogManager import.

Env:
CentOS7 with Python 2.7.5

[code]
[code]

[2018-08-29 04:51] feisa commented on #3
any update on this?

[2018-08-29 20:56] anupamaloke commented on #5
LogManager module should have been installed as part of omsdk installation. Could you please check whether you have installed omsdk or not and is available in your PYTHONPATH?

`python -c "from omsdk.sdkinfra import sdkinfra"`

[2018-09-05 12:33] zlangi opened #6 "Error: Invalid attribute FreeSize"
When trying to create a new volume group on a Dell PowerEdge R640 with PERC H740P Mini, the creation process fails with the following:

PLAY [Create the RAID] *********************************************************

TASK [Create the RAID] *********************************************************
fatal: [node01]: FAILED! => {"changed": false, "msg": "Error: Invalid attribute FreeSize"}

To reprod

[2018-09-05 12:44] rajshekarp87 commented on #6
Hi,

Can you share below details.

Playbook used used for volume creation
Dell Ansible Module version

Thanks & Regards,
Rajshekar P

[2018-09-05 13:10] zlangi commented on #6
Hello,

Dell ansible version I use: v1.0.1-4-g687a717

My playbook looks like this:
---
- hosts: node01
  connection: local
  name: Create the RAID
  gather_facts: False

  tasks:
  - name: Create the RAID
    dellemc_configure_raid:
       idrac_ip:   "2.2.2.2"
       idrac_user: "root"
       idrac_pwd:  "xx"
       share_name: "\\\\1.2.3.4\\images\\dell"
       share_user: "dell"
       share_p

[2018-09-07 17:12] rajshekarp87 commented on #6
Hi,

Thanks for sharing required details. We will check this and get back to you.

Thanks & Regards,
Rajshekar P

[2018-09-17 12:01] rajshekarp87 commented on #3
Hi Feisa,

Apologies for delayed response.

We checked this in our lab. Its working fine. If you are using local path, "share_name" is sufficient. No need to use "share_mnt".

Please let us know If you are still facing this issue. Also let us know "Dell EMC Ansible Module" and OMSDK version.

[2018-09-18 00:11] vincentchong1 opened #8 "dellemc_export_server_config_profile issue; "Error: 'NoneType' object has no attribute 'format'""
Received "Error: 'NoneType' object has no attribute 'format'" issue when run the following playbook

$ cat hosts
[code]

$ cat dell_get_profile.yml
[code]
$ansible-playbook -i hosts dell_get_profile.yml -vvvv
[code]

[2018-09-18 06:05] rajshekarp87 commented on #8
Hi Vincen,

Share name should end with "/". share_name: /tmp/"

Please do let us know in case you face any further issue.

Thanks & Regards,
Rajshekar P

[2018-09-18 14:57] vincentchong1 commented on #8
The recommended solution work, thank you!

[2018-09-18 14:57] #8 closed

[2018-09-18 15:02] vidkun commented on #5
I'm getting pretty much the same error on MacOS with python 2.7.15.
Omsdk 1.1.267 is installed. The command you provided above returns nothing on my machine.

If I run python and then run in the interpretor `from omsdk.omlogs.Logger import LogManager` it executes just fine. Even running it via `python -c` like you listed above completes just fine.

[2018-09-19 16:49] rajeevarakkal commented on #5
Could you please check the followings and let us know

- Details of installed omsdk using "pip list | grep omsdk"
- The user which is running ansible playbook has necessary permissions to invoke omsdk modules.
- Do you have multiple pythons instances and any conflicting omsdk versions available on the system

Also, let us know you have multiple python installations

[2018-09-19 18:19] vidkun commented on #5
1)
[code]
2) yes. see [comment above](https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/issues/5#issuecomment-422429899)
3) There is an instance of python 3 on the box as well, but it does not have omsdk installed. Additionally, all the ansible logging output explicitly shows 2.7 as the python it is using. Also:
[code]

[2018-09-24 06:35] rajeevarakkal commented on #5
Even though all the modules including "LogManager" is individually getting imported, during playbook execution import error getting thrown.  This looks bit strange and happens mostly because of some inter module name ambiguity, multiple version of same module or software present or any other similar python conflicts. It will be great if you can try out the following

- Re-install omsdk & dellemc a

[2018-09-25 18:25] vincentchong1 opened #9 "dellemc_install_firmware use case"
I will like to know how to set up the firmware catalog and firmware directory properly, so that I can use the dellemc_install_firmware module to import firmware,

I received following error,
"msg": "Error: 'NoneType' object has no attribute 'name'"

My environment,
[code]

Executing the play below,
[code]
My roles, playbook and firmware catalog information,
[code]
[code]

[code]

[2018-09-27 12:54] gedia commented on #5
Are you running ansible-playbook inside a virtualenv? In my case, I had to install omsdk system-wide, which got rid of this error (something to do with the connection being local and ansible not copying all dependencies properly, I guess?).

[2018-09-27 13:15] felixs88 commented on #9
Hi,

Please, check your share_name parameter, it should be NFS/CIFS without a file name.
[code]

[2018-09-28 06:12] vincentchong1 commented on #9
is pointing to NFS/CIFS the only way?  Can it point to playbook 'files' folder, as indicated below?
[code]

[2018-09-28 09:45] anupamaloke commented on #9
@vincentchong1 , the firmware update module use Server Configuration Profiles for updating the firmware from a repository stored on a network share (CIFS, NFS).
Beginning with iDRAC9 firmware 3.00.00.00 and iDRAC7/8 firmware 2.50.50.50, SCP import files support a new attribute `RepositoryUpdate` which points to a PowerEdge firmware repository created by Dell Repository Manager. The repository file

[2018-10-01 12:48] gedia opened #10 ""Error: No type conversion found for 'DNSDomainFromDHCP_NICStaticTypes.Disabled'. Expected DNSDomainNameFromDHCP_NICTypes. Got DNSDomainFromDHCP_NICStaticTypes""
I'm getting the following error with iDRAC 2.60.60.60 and the latest devel (1.0.4) version of dellemc_configure_idrac_network module.

I believe this used to work with 1.0.3, although that version seems to have other bugs for which I'll open a separate ticket if they persist in 1.0.4.

[2018-10-01 13:53] gedia commented on #10
P.S. The other bugs I found in 1.0.3 seem to be fixed in 1.0.4.

I was able to work around this bug by substituting all instances of 'DNSDomainFromDHCP_NICStaticTypes' with 'DNSDomainNameFromDHCP_NICTypes' in dellemc_configure_idrac_network.py

[2018-10-01 15:24] gedia opened #11 "'NoneType' object has no attribute 'local_full_path'"
With current dev version (1.0.4) I'm getting:

"msg": "'NoneType' object has no attribute 'local_full_path'"

when running the idrac_network role with share_name set to a CIFS path. Samba log reports successful connection

[2018-10-01 17:57] gedia commented on #11
There's also a bug report on ansible's repo here:

https://github.com/ansible/ansible/issues/43050

which concerns the dellemc_configure_idrac_users module

[2018-10-01 18:06] gedia commented on #11
OK this is embarrassing: error is cause by not setting the share_mnt module option. I'm closing this.

[2018-10-01 18:06] #11 closed

[2018-10-04 18:46] alexskrc opened #12 "import scp"
Hi there, I am importing the RAID config on a server with 2 controllers (the AHCI SD mirrored controller and a PERC, it's an R640) and the standard controller always gets the 2 virtual disks setup, global hotspare, everything is good but the SD cards never get mirrored into a virtual disk, no errors reported. Is this a limitation of the module or am I missing something?
thanks!
Alex

[2018-10-05 04:38] rajeevarakkal commented on #10
As this issue is resolved in 1.0.4 release. I am closing the defect.

Lets us know in case you need further support

Thanks
Rajeev

[2018-10-05 04:38] #10 closed

[2018-10-05 04:40] rajeevarakkal commented on #12
Please let us know the module you are using and share us the playbook

[2018-10-05 04:45] rajeevarakkal commented on #5
Please try out our latest 1.0.4 devel branch release. We have discontinued the use of LogManager from this release.

[2018-10-05 12:07] gedia commented on #10
I've just tested v1.0.4 from the release archive and I'm still getting this...

[2018-10-05 14:08] alexskrc commented on #12
Hi, I am using the latest module, just reinstalled it from here to make sure; the server was "repurposed" through the LC, so all the config and data was removed. Here's what I am running:
    - name: Import RAID configuration to "{{ idrac_ip }}"
      register: raid_config_outcome
      dellemc_import_server_config_profile:
        idrac_ip: "{{ idrac_ip }}"
        idrac_user: "root"
        idra

[2018-10-09 09:14] rajshekarp87 commented on #6
Hi,

Apologies for delayed response.

We checked the scenario with Dell EMC Ansible Module v1.0.3. No issue observed and volume creation was successful.

Please let us know If you are still facing this issue. Also share below details.
OMSDK version
Ansible version
OS details
Python and PIP version

Thanks & Regards,
Rajshekar P

[2018-10-11 15:41] alexskrc commented on #12
hi there, just following up on this one, any insight will be greatly appreciated!

[2018-10-12 04:29] rajeevarakkal commented on #12
We will revert back to you soon.

[2018-10-12 15:02] rajshekarp87 commented on #12
Hi,

SpanDepth was mentioned as "0" instead of "1" for AHCI.Slot.1-1 controller.

Please make above changes and modify "scp_components" to "ALL" in the playbook and then apply SCP. Let us know If you still hit with the issue.

If we want to create VD on BOSS controller, then we need to set "scp_components" to "ALL". This is iDRAC limitation.

Thanks & Regards,
Rajshekar P

[2018-11-13 05:28] kumaresan078 opened #14 "pysnmp issues dell getfirmware"
Hi,

I am trying to run getfirmwareinventory.yml had below issues.Can someone help to fix it?

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'module' object has no attribute 'noValue'
fatal: [172.21.35.235]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_NQzfD_/ansible_modu

[2018-11-13 05:31] kumaresan078 opened #15 "Dell console login requirement"
Hi,

I am trying to achieve dell login check via ansible but couldn't get it.We have an requirement to check the dell drac console login authentication via automation through ansible.

Can someone help here? I tried simple "uri" module for web authentication doesn't seems to work.

[2018-11-13 07:35] rajshekarp87 commented on #14
Hi Kumaresan,

Thanks for trying out Dell EMC OpenManage Ansible Modules. Can you please share below details to root cause the issue better.

- Dell EMC OpenManage Ansible Modules version
- OMSDK version
- Python, PIP and PySNMP version
- Playbook

Thanks & Regards,
Rajshekar P

[2018-11-13 09:16] kumaresan078 commented on #14
Hi,

Please find below details.

Dell EMC OpenManage Ansible Modules version - 1.1
OMSDK version - 1.2
Python - Python 2.7.5
PIP - pip 18.0 from /usr/lib/python2.7/site-packages/pip (python 2.7)
pysnmp==4.4.6

Playbook:

---
- hosts: all
  connection: local
  name: Get Installed Firmware Inventory
  gather_facts: False

  tasks:
  - name: Get Installed Firmware Inventory
    dellemc_get_firmware_i

[2018-11-14 14:53] rajshekarp87 commented on #14
Hi Kumaresan,

Thanks for sharing required details. Your playbook and other details are proper. We tried reproducing the issue with playbook shared by you. It works fine and issue is not reproachable.

Could you please let us if you are still hitting with the issue.

Thanks & Regards,
Rajshekar P

[2018-11-15 11:41] praveenemc opened #16 "export scp in JSON failed"
Hello Team,
I'm testing the module dellemc_export_server_config_profile.yml and works fine with XML export for NFS shared directory. But export task as JSON is failing as below
"msg": {
        "Message": "Unable to export scp, exception occurred",
        "Status": "Failed",
        "file": "/home/praveen/NFSSHARE/X.X.X.X_20181114_050601_scp.json"
    }

I used devel branch for both Dell-EMC-Ansi

[2018-11-19 10:45] howels commented on #9
@anupamaloke Can we use HTTP/S for the RepositoryUpdate share path? The iDRAC web UI shows that option but it doesn't appear to exist in this module. Thanks!

[2018-11-20 06:19] rajshekarp87 commented on #16
Hi Praveen,

Thanks for trying out Dell EMC OpenManage Ansible Modules. Can you please share below details.

- Dell EMC OpenManage Ansible Modules version
- Playbook

Regards,
Rajshekar P

[2018-11-20 06:34] rajshekarp87 commented on #16
Hi Praveen,

Export/Import of Server configuration profile module is not supported on Server with iDRAC firmware 2.41.40.40. Ideally it will not work for NFS share as well. Please update iDRAC firmware to 2.50.50.50 and above and try running the module. Let us know if you still hit with an issue.

Thanks & Regards,
Rajshekar P

[2018-11-20 09:18] praveenemc commented on #16
Hi Rajshekar,

Thanks for your response !!
 - Playbook : is dellemc_export_server_config_profile.yml
- Dell EMC OpenManage Ansible Modules version
I cloned the devel branch of the git repo for both (below listed) and working on the same.
Dell EMC OpenManage Ansible Modules and
Dell EMC OpenManage Python SDK ((sh build.sh 1.2 345)

Is this the version you mentioned? if not Please suggest how to fin

[2018-11-20 10:53] rajshekarp87 commented on #16
Hi Praveen,

Thanks for providing required details. Both Master and devel has latest version (1.1). So you are using the latest version. Version details are available in "propereties.json" file (<Module_cloned_location>/Dell-EMC-Ansible-Modules-for-iDRAC/).

Please upgrade iDRAC firmware to 2.50.50.50 or above and then run the module. And let us know if you still hit with the issue.

Thanks & Rega

[2018-11-21 08:59] rajeevarakkal commented on #4
Issue has been resolved in latest release Version 1.1 (master & devel). I am closing this defect

[2018-11-21 08:59] #4 closed

[2018-11-21 09:00] rajeevarakkal commented on #5
1.0.4 devel changes has been merged to Master as part latest release version 1.1. With this I am closing the defect. Let us know in case you facing the same difficulty again

[2018-11-21 09:00] #5 closed

[2018-11-21 09:02] rajeevarakkal commented on #3
Hi Feisa,

Are we good with this?

Thanks,
Rajeev

[2018-11-21 09:06] rajeevarakkal commented on #6
Since there is no update sometime now and the original module where issue is reported has been deprecated with "devel" 1.0.3 release, we are closing this defect.

[2018-11-21 09:06] #6 closed

[2018-11-21 13:11] feisa commented on #3
Let me retest

Freddie

[2018-11-21 17:11] kumaresan078 commented on #14
Hi Rajshekar,

Thanks for the update.I have completely installed all the modules on another machine from scratch it works well.

Have another query? We have dell openmanage installed on windows machine through which we update firmware for all dell servers.Is there way to integrate dell openmanage ansible module with that?

Other query dell emc module supports only power generation 12 & above we ha

[2018-11-21 17:14] kumaresan078 commented on #15
Hi Rajeev,

Thanks for taking up.

Yes i am looking for to automate dell drac web page accessible and verify login authentication.

Regards
Kumaresan

[2018-11-21 20:18] kumaresan078 opened #17 "dell firmware update issue"
Hi,

I am trying to update firmware via ansible using dell-emc-ansible-module but it fails with below error.Can someone help me out?

Playbook:

---
- hosts: all
  connection: local
  name: Update Firmware Inventory
  gather_facts: False

  tasks:
  - name: Update Firmware Inventory
    dellemc_install_firmware:
       idrac_ip:        " {{ inventory_hostname }}"
       idrac_user:      "test"

[2018-11-21 21:05] kumaresan078 opened #18 "Device driver issue"
Hi,

I have trying to run getfirmwareinventory.yml on dell R710 servers it works with some servers and some servers not.

I know this module supports only power generation 12 & above dell R710 falls in power generation 11.

I found the server drac lower on not working server hence upgraded the drac firmware that matches working server but still same issue.

Playbook:

---
- hosts: all
  connection

[2018-11-22 09:48] rajshekarp87 commented on #18
Hi Kumaresan,

Modules might work with 11G servers. But we are not claiming official support. We recommend to use Modules only with 12G, 13G and 14G PowerEdge Servers.

Thanks & Regards,
Rajshekar P

[2018-11-22 13:31] praveenemc commented on #16
Hi Rajshekar,

Tested the playbook dellemc_export_server_config_profile.yml against the PowerEdge serverR630 with iDRAC version to 2.50.50.50 (build 33).

Given below is the playbook(dellemc_export_server_config_profile.yml) contents:
---
- hosts: hosts
  connection: local
  name: Export Server Configuration Profile to local folder
  gather_facts: False

  tasks:
  - name: Export Server Configurat

[2018-11-22 15:16] danvzla commented on #16
Hi Praven

Can you please run playbook in verbose mode and provide output

ansible-playbook dellemc_export_server_config_profile.yml -vvv

Regards

[2018-11-23 11:59] rajshekarp87 commented on #16
Hi Praveen,

Latest available iDRAC firmware is 2.60.60.60. Please update iDRAC firmware to latest version and let us know if you are still hitting with the issue. Below is the link.

https://www.dell.com/support/home/us/en/04/drivers/driversdetails?driverid=cx8n2

Thanks & Regards,
Rajshekar P

[2018-11-23 16:07] jjeganathan opened #19 "Use all the free disk space for new virtual disk"
Hello,

I'm trying to create two virtual disks with 7 disks, each VD on RAID 6.
The first one with 128Gb and the second with all the remaining disk space.

I can create the first VD without problem but I cannot find a way to create the second VD with left space.
I know this is possible on the GUI by leaving a blank box in "Capacity"

Thanks !

[2018-11-26 15:48] anupamaloke commented on #9
@howels, you can use HTTP/HTTPS based firmware repository for update. However, that code is not in the master branch yet and is available in [https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/tree/fw_update_url](https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/tree/fw_update_url) branch. You also need to build and install the omsdk from [https://github.com/dell/omsdk/tree/fw_upd

[2018-11-28 02:52] rajshekarp87 commented on #14
Hi Kumaresan,

Glad to hear that the issue is resolved.

Dell EMC OpenManage Ansible Modules cannot be integrated with any of the Dell EMC OpenManage products and we do not have modules that support PowerEdge 11G Servers.

Thanks & Regards,
Rajshekar P

[2018-11-30 11:56] anupamaloke commented on #15
@kumaresan078 , I guess you would be best served by running a simple CURL command with the iDRAC credentials to check whether that login is valid or not. Something like below:
[code]

[2018-11-30 12:03] anupamaloke commented on #17
@kumaresan078 , the firmware update modules expects a catalog file and a firmware repository on a network share (CIFS or NFS). You can use [Dell EMC Repository Manager](https://www.dell.com/support/article/us/en/04/SLN312652/en) to create a firmware repository for your servers and export the repository to a network share along with a catalog file.

All these modules work out-of-band by directly in

[2018-11-30 12:07] anupamaloke commented on #19
@jjeganathan , could you please share the playbook with us?

[2018-11-30 13:50] jjeganathan commented on #19
Sure.
[code]

Moreover, I have "Disk.Bay.7:Enclosure.Internal.0-1:RAID.Integrated.1-1" and I want it to be a Global hotspare. How should I proceed ?

Thanks ! :)

[2018-12-04 14:47] jjeganathan opened #21 "Use attributes in dellemc_configure_bios"
Hello,

When using dellemc_configure_bios from your example, I have an error.

[code]

No error found when using BootMode only.

Thanks !

[2018-12-05 10:30] liweibenz opened #22 "ansible-playbook dellemc_get_system_inventory.yml --Where is the result"
ansible-playbook dellemc_get_system_inventory.yml --Where is the result

[2018-12-05 11:04] felixs88 commented on #22
@liweibenz, verbose mode is required to add in the command line options, that gets the more output from the successful shown.

`ansible-playbook dellemc_get_system_inventory.yml -vvv`

[2018-12-05 12:43] rajshekarp87 commented on #21
Hi Jeganathan,

Thanks for trying out Dell EMC OpenManage Ansible Modules.

"Enabled" is not an applicable option for "OneTimeBootMode". You need to provide proper BIOS/UEFI boot source.
Example: OneTimeBootMode: "NIC.PxeDevice.1-1"

Thanks & Regards,
Rajshekar P

[2018-12-05 13:17] jjeganathan commented on #21
Thanks for your reply. I just wanted to try your example from the documentation.
But your solution doesn't seem to work in my usecase.

I debugged and indeed "Enabled is not <enum 'OneTimeBootModeTypes'>"
But when I was looking into the code, it looks like it only accepts:
- Disabled
- OnetimeBootSeq
- OneTimeHddSeq
- OneTimeHddSeq
- OneTimeUefiBootSeq
- OneTimeCustomBootSeqStr
- OneTimeCustomHddS

[2018-12-06 12:19] DanielFroehlich opened #23 "module' object has no attribute 'noValue'"
Hi! I am trying to use IDRAC Ansible Modules, but a simple dellemc_get_firmware_inventory from the samples directory fails with above error. I am using Python 2.7.5 with ansible 2.4.2.0 an RHEL 7.6

$ ansible-playbook -vvv -i inventory.yml get_firmware_storm5.yml
ansible-playbook 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/dfroehli/.ansible/plugins/m

[2018-12-06 13:41] DanielFroehlich commented on #23
This is version mismatch with pyasn, as described here: [](https://github.com/etingof/pysnmp/issues/69)

Can be fixed with:
`pip install pyasn1 --upgrade
`
I will file a pull request against omsdk requirements-python2x.txt, I think that would be the right place to fix.

[2018-12-06 13:41] #23 closed

[2018-12-06 14:17] DanielFroehlich commented on #14
I had the same issue - see  issue #23 . Can be fixed with
`pip install pyasn1 --upgrade
`

[2018-12-07 17:55] tsquillario opened #24 "Refactor dellemc_configure_idrac_users module to use state: present"
Refactor `dellemc_configure_idrac_users` module to use state: [present, absent] instead of action: [create, delete, modify]. Looking at the code you can check for the user and if it doesn't exist create it and if it does modify it.

This is a cleaner and more Ansible-y way to do things based on my experience. Otherwise I had to create two separate blocks one for create and one for modify.

Would y

[2018-12-08 22:11] kumaresan078 commented on #15
Hi,

The command works for drac 7 and above we have quit bit drac6 server where it fails due to drac6 doesn't support redfish.Is there any other option available for drac6?

Also i found when running getfirmwareinventory.yml or any other playbooks shipped with idrac ansible module throws below error for IDRAC 6 servers but when i login through DRAC 6 Web and then go idrac logs can see successful a

[2018-12-10 03:56] rajeevarakkal commented on #3
@feisa we are closing this defect as idle for sometime. In case you still facing the issue, please re-open

[2018-12-10 03:56] #3 closed

[2018-12-11 02:15] liweibenz commented on #22
thanks

Felix Stephen <notifications@github.com> 于2018年12月5日周三 下午7:04写道：

[2018-12-11 10:10] anshulawasthi commented on #9
@anupamaloke Can we have an Ansible module for getting the joblist from iDRAC job queue. I see omsdk supporting  list_idrac_jobs here https://github.com/dell/omsdk/blob/master/omdrivers/lifecycle/iDRAC/iDRACJobs.py

[2018-12-11 18:46] anupamaloke commented on #9
@anshulawasthi, at this point in time the 'list_idrac_jobs' just returns a list of Jobs URIs as similar to following output. If you just need to view the JOB status for a JOB ID, then you can use the [dellemc_get_lc_job_status](https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/blob/master/library/dellemc_get_lc_job_status.py) module.

Could you please tell me the exact use case that you a

[2018-12-11 18:55] anupamaloke commented on #22
@liweibenz, you need to turn on the verbosity option (-vvv or higher) to see the returned data. Alternatively, you can use the [debug module](https://docs.ansible.com/ansible/latest/modules/debug_module.html) to print the return value:

[code]

[2018-12-11 19:00] anupamaloke commented on #24
@tsquillario, I agree with your suggestion. In fact, if you take a look at the ["dellemc_idrac_user"](https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/blob/beta/library/dellemc_idrac_user.py) from the BETA branch, you can see that we were using the state: [present, absent].

If it is not a huge effort for you, could you please submit a pull request in our devel branch with your changes?

[2018-12-18 21:06] tsquillario commented on #24
The beta branch is looking very similar to the changes I made. I'll switch to that!

[2018-12-18 21:06] #24 closed

[2018-12-21 07:16] mories76 opened #25 "unexpected reboot when setting PxeDev1VlanId"
I have two issues,
The value of PxeDev1VlanId apparently needs to be quoted, otherwise I get the error message Failed to set values. The example form the manual show an unquoted example.
The above was just a little inconveniece.

When I set the PxeDev1VlanId with the quoted value, the caused a reboot which I didn't expect.

[2019-01-08 12:34] matt13rox opened #26 "dellemc_configure_idrac_users error"
Hi guys
When I use dellemc_configure_idrac_users module to update the password of a user, the module fails with the following error:
--------------------------------------------
autonomous-controller-automation ➤ ansible-playbook -i inventories/r640 r640-idrac-password-change.yml -vvv                                                                          git:master*
ansible-playbook 2.7.5
  conf

[2019-01-15 13:45] glitchcrab opened #28 "get config profile fails with a stack trace"
I'm using the 1.1 branch with ansible 2.7.1. Running the following:

[code]
Results in this:

[code]

[2019-01-22 10:30] anupamaloke commented on #26
@matt13rox , could you please share the following details:

- iDRAC FW version
- Do you get the error every time when you run the playbook ?
- Do you see a new SCP Import JOB created on the iDRAC even when the playbook fails?

[2019-01-23 22:04] tsquillario opened #29 "Forced reboot in dellemc_configure_bios module"
On line 321 of library/dellemc_configure_bios.py you are setting reboot=True. We should probably be making this a parameter. I checked the beta branch and didn't see the dellemc_configure_bios module. What is the plan for this module? Did it move to something else?

Did a quick search and this module needs updated as well library/dellemc_idrac_lc_attributes.py

I can submit a pull request for thes

[2019-01-25 18:42] jaichandran opened #30 "idrac module not available for configuring rsyslog server and port"
I see in the recent Dell EMC ansible module we not see the module for nabling the rsyslog and configuring the rsyslog server and port configuration . Please appreciate help on this,

[2019-01-29 21:17] tsquillario commented on #29
After some testing I think I found a bug. Even when manually setting idrac.config_mgr.apply_changes(reboot=False) the server automatically reboots. Is this how it's supposed to operate? I'm setting AcPwrRcvry: "On"

R640
iDRAC Firmware Version | 3.21.23.22
omsdk (1.2.345)
Latest master branch 1.1

[2019-01-29 21:59] tsquillario commented on #29
It appears the much better way to accomplish this is to switch to the redfish_config module. Seems redfish is the future of ansible and iDRAC.

[2019-01-30 09:08] qwertzlbert opened #31 "Unexpected return value when iSM is running on host"
System: VxRail E560
iDRAC Firmware:
OS: esxi 6.7

Ansible will return with the error message when using 'dellemc_change_power_state': "Error: unhashable type: 'list'" if the iSM Module is running on the host OS (see picture attached)

"Workaround": Shutdown the system before using 'dellemc_change_power_state' so iSM is not running anymore.

[ansible_requirements.txt](https://github.com/dell/Dell-E

[2019-01-30 09:17] qwertzlbert opened #32 "dellemc_boot_to_network_iso fails with "Cannot fetch OSD Job status""
System: VxRail E560
iDRAC Firmware:
OS: esxi 6.7

"dellemc_boot_to_network_iso" will return with the error message "Cannot fetch OSD Job status" if you are logged into the iDRAC and the virtual console is started,  when the call is executed.

[ansible_requirements.txt](https://github.com/dell/Dell-EMC-Ansible-Modules-for-iDRAC/files/2811761/ansible_requirements.txt)

[2019-02-01 10:48] jjeganathan commented on #19
I think the web browser makes the calculations to get the free space available.
But not sure.

[2019-02-05 09:48] anupamaloke commented on #30
@jaichandran, we do have the syslog configuration module, but it is currently available in BETA branch.

[2019-02-05 10:00] anupamaloke commented on #29
@tsquillario, whilst configuration of some BIOS attribute does not require server reboot, some do. I am assuming setting the "AcPwrRcvry" option does require a reboot for BIOS job to run. We will confirm and get back.

One advantage that dellemc_configure_bios module has over the redfish_config module is you can use just one task to set the entire BIOS attributes.

[2019-02-05 10:02] anupamaloke commented on #28
@glitchcrab , I am assuming that it might be an issue with the Ansible python interpreter. If you are running it in a virtualenv, then you might need to set the ansible_python_interpreter correctly.

[2019-02-05 10:04] anupamaloke commented on #25
@mories76, could you please share the playbook that you are running?

[2019-02-11 21:45] jimr6007 opened #33 "dellemc_idrac_storage_volume does not work"
I get this error whenever I try to create a volume:
"msg": "returned status code doesn't match with the expected success code"

What does work is using the Ansible raw module to run racadm commands directly
https://docs.ansible.com/ansible/latest/modules/raw_module.html

So that tells me that it's not likely an issue with my server etc.

If I create a volume manually and use the "view" module it w

[2019-02-11 21:47] jimr6007 commented on #33
this is on a 730xd, iDrac 8, Enterprise

[2019-02-11 23:03] jimr6007 commented on #33
I'm not much of a developer but with a little hacking I was able to make the SDK tell me a little more and what I now see is:

fatal: [127.0.0.1]: FAILED! => {"changed": false, "msg": "Unable to export scp, exception occurred"}

I thought an export of something was not happening in the case of RAID config operation.

Help please......

[2019-02-11 23:18] jimr6007 commented on #33
yes, I'm using omsdk-1.2.345 and the dellemc_idrac_storage_volume module

[2019-02-12 01:52] jimr6007 commented on #33
bios version 2.8.0
LC 2.61.60.60

[2019-02-12 02:10] jimr6007 commented on #33
WARN: Changing isFolder to false, as it is not directory
response.status_code:503, success_code:[202]
No handlers could be found for logger "omdrivers.lifecycle.iDRAC.iDRACConfig"

[2019-02-12 16:03] jimr6007 commented on #33
Got it to wok in Python 3 because with that I saw more logging info.

So the fix is obvious but it sure would have been nice to see that error message when running with Python 2.X

503, "error": {"error": {"@Message.ExtendedInfo": [
{"Message": "A job operation is already running. Retry the operation after the existing job is completed.", "MessageArgs": [], "MessageArgs@odata.count": 0, "MessageId

[2019-02-14 17:27] zogness opened #34 "Why can't I use /etc/ansible/hosts instead of individual IP addresses in playbooks?"
Why can't I use hostnames in /etc/ansible/hosts? I have dozens of iDRACs and they all have proper hostnames. How do I use them instead of IP addresses?

[2019-02-21 12:45] kumaresan078 opened #35 "Firmware Update issue"
Team,

I am trying to automate firmware upgrade with dell ansible module found below playbook not workings as expected.Can someone help to troubleshoot?

Playbook:

---
- hosts: all
  connection: local
  gather_facts: False

 tasks:
  - name: Update Firmware Inventory
    dellemc_idrac_firmware:
       idrac_ip:        " {{ inventory_hostname }}"
       idrac_user:      "{{ username }]"
       idr

[2019-02-25 20:57] AhmedSamyMerah opened #36 "Bios updates playbook ?"
Hi all,

Just wanted to know if there was any way to push a BIOS update onto a set of hosts using a playbook. I flipped through the guide and example playbooks and was wondering if anyone accomplished such.

Thank you.

[2019-02-27 16:03] cacack opened #37 "Documentation insufficent for first use"
Trying this out for the first time and the documentation seems to be missing something related to setting everything up.  I setup a new virtualenv for this, installed ansible, OMSDK and then this ansible module.  But this results in a failed task stating "Dell EMC OMSDK library is required for this module".

What am I missing?

Below is the details on what I ran on an Ubuntu Xenial system with the

[2019-02-28 22:19] #36 closed

[2019-03-04 09:21] saishivarcr commented on #37
Hi @cacack, As you are using virtual environment, I suggest you to use `ansible_python_interpreter` option while running the playbook. The complete command should look like this:
[code]

[2019-03-12 04:03] dfitz82 commented on #26
I have the same problem.
How do I look up the iDRAC FW version?

It only happens when a user updates themselves, idrac_user == user_name.

[2019-03-12 13:07] cacack commented on #37
Thanks @saishivarcr!  That has got be past the missing OMSDK library.  Now I'm getting an error -- `Could not find device driver for iDRAC with IP Address: <drac_fqdn_redacted>`.  I'm attempting to connecting to a R740 (iDRAC9) with firmware version 3.21.21.21, which I understand is a compatible DRAC.  Thoughts?

[2019-03-12 13:23] cacack commented on #37
Nevermind, got it working.  I was attempting to use my AD credentials.  Using a local DRAC account worked.

[2019-03-18 15:36] zeze92 opened #40 "Dell_emc_idrac_users"
Playbook
---
- hosts: all
  connection: local
  name: Configure the iDRAC users attributes
  gather_facts: False

  tasks:
  - name: Configure the create iDRAC users attributes
    dellemc_configure_idrac_users:
       idrac_ip:   "x.x.x.x"
       idrac_user: "root"
       idrac_pwd:  "calvin"
      share_name: "/NFS"
       share_name: "x.x.x.x:/TEST_NFS"
       share_mnt: "/mnt/share"
       act

[2019-03-18 15:47] zeze92 commented on #40
The problem is for FC640 with firmware :
 iDRAC with Lifecycle Controller => 3.21.21.21

[2019-03-20 16:31] Nathan-UK opened #41 "dellemc_idrac_firmware"
I've been developing process to deploy R740s and C6420 and have been using these modules from the fw_update_url branch.

On my Dev node (Centos 7.6 Ansible 2.7.8) all is fine. We've deployed new CENTOS7.6 hosts as part of our testing.
Now the dellemc_idrac_firmware is always failing with he following message:

or

An exception occurred during task execution. To see the full traceback, use -vvv. Th

[2019-03-20 16:35] Nathan-UK commented on #41
The full traceback is:
Traceback (most recent call last):
  File "/home/XXX/.ansible/tmp/ansible-tmp-1553099447.13-174085394283652/AnsiballZ_dellemc_idrac_firmware.py", line 113, in <module>
    _ansiballz_main()
  File "/home/XXX/.ansible/tmp/ansible-tmp-1553099447.13-174085394283652/AnsiballZ_dellemc_idrac_firmware.py", line 105, in _ansiballz_main
    invoke_module(zipped_mod, temp_path, ANSIBA

[2019-03-28 13:51] digifuchsi commented on #32
System: PowerEdge R740xd
iDRAC Firmware: 3.21.23.22
OS: ESXi 6.7

I get the same error even with resetting and not accessing the iDRAC before calling the module every other time.
Maybe it is a timing issue between creating the Job and monitoring the execution of the LC Job?

[2019-03-28 21:39] ja07657 opened #42 "idrac.use_redfish = True in dellemc_idrac_firmware.py question"
I am having issues with 14G servers running dellemc_idrac_firmware.yml from a network repo Catalog.xml - hope anyone can give me some ideas, please.

If trying to update firmware on 14G server, I get failed message: "Export of scp failed for firmware update".  it will work on 13G.
If I change the value of idrac.use_redfish in the the dellemc_idrac_firmware.py script from True to False, then 14G wi

[2019-03-29 01:08] ja07657 commented on #42
I see WS-MAN is used when = False

[2019-04-01 06:22] anupamaloke commented on #41
@Nathan-UK, on a first glance, this looks like a python path issue. Could you please try installing the ansible, omsdk, openmanage ansible modules in a python virtualenv and see if it is working? Make sure to set the ansible python interpreter to use the python from the virtualenv.

[code]

[2019-04-01 06:51] anupamaloke commented on #40
@zeze92, it looks like the share_mnt path is incorrect. I would suggest you to not use 'share_mnt' but use the local path on ansible controller. In iDRAC firmware version < 2.50.50.50, 'share_mnt' argument is required for writing a SCP to NFS/CIFS share and then importing the SCP from that CIFS/NFS share. However, in iDRAC firmware > 2.50.50.50, we support local file streaming. So, 'share_mnt' arg

[2019-04-01 07:13] anupamaloke commented on #42
@ja07657, that's right. When ```use_redfish``` is set to ```True```, then the modules use the Server Config Profile (SCP) to update the firmware.  Only caveat is that you need to locally mount the CIFS/NFS share where the firmware repository (update packages and catalog file) in read-write mode on the ansible controller host. The module then creates a SCP on the fly and writes it to the mounted pa

[2019-04-01 07:14] anupamaloke commented on #35
@kumaresan078, are you still facing this issue?

[2019-04-01 07:20] anupamaloke commented on #34
@zogness, you can use hostnames in the /etc/ansible/hosts. You just need to set the "idrac_ip" to the "{{ ansible_host }}" in your playbook. Let us know if you face any issue.

[2019-04-01 08:52] Nathan-UK commented on #41
@anupamaloke, Thanks for coming back on this. Have tried in virtualenv with the same results

[2019-04-01 09:37] anupamaloke commented on #41
@Nathan-UK, that is strange as it is working properly in my virtualenv setup. Are you setting the ansible_python_interpreter correctly, something like below in your playbook:

[code]
OR, from the command-line:
[code]

[2019-04-01 13:39] chaosblog opened #44 "VNC enable / disable"
Is there a possibility to enable or disable IDRAC-VNC via Ansible?

[2019-04-02 13:21] zeze92 commented on #40
Hi,

hi,
thank for your response.
I tried and the result is no good.
An error message appears with the iDrac's driver.

FAILED! => {"changed": false, "msg": "Could not find device driver for iDRAC with IP Address: 10.23.156.30"}

Regards,

[2019-04-03 09:22] anupamaloke commented on #40
@zeze92, good to know that it worked. If alright with you, I will close this issue then. You can reopen this issue if the problem still manifests.

[2019-04-03 09:22] #40 closed

[2019-04-05 08:47] #37 closed

[2019-04-20 18:11] kumaresan078 commented on #35
Hi,

Yes i still have issue.Bu this time have installed freshly on other server.

Appears to me the DRAC update firmware gets downloaded but fail with http timeout error.

fatal: [192.168.2.14]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "catalog_file_name": "Catalog.xml",
            "idrac_ip": "192.168.2.14",
            "idrac_port": 443,

[2019-04-25 08:40] anupamaloke commented on #44
@chaosblog, you can use the [idrac_redfish_config](https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/remote_management/redfish/idrac_redfish_config.py) module to do so. You need to make sure that you are at least using Ansible version 2.8. See below for example playbook:

[code]

[2019-04-25 08:42] anupamaloke commented on #42
@ja07657, if you are okay with the above explanation, then shall I close this issue now?

[2019-04-25 08:43] anupamaloke commented on #41
@Nathan-UK, if you are able to run the playbook with above changes, then could you please let us know whether I can close this issue?

[2019-04-25 09:48] anupamaloke commented on #35
@kumaresan078, can you check from your iDRAC GUI whether iDRAC is able to download the catalog file and update packages?

[2019-04-25 10:26] Nathan-UK commented on #41
I got re assigned to another priority, I'll be re looking at this shortly

[2019-04-25 19:08] MarlonRodriguez commented on #42
I'm not the user that created this issue but it seems to me that you are missing the part on why it works on 13G but not 14G.  Also, how does WS-MAN makes it successful?  I dont expect you to explain all of that but how about a link to the documentation that has the information?  BTW your explanation makes a lot of sense, just hoping for completeness.

[2019-04-29 15:20] qwertzlbert opened #45 "SCP import fails via CIFS"
Importing a SCP fails when using a CIFS share. Importing from local works.
Importing via WebGUI works.

# Details

System: R7415
iDRAC version: 3.30.30.30
BIOS: 1.7.6

inventory:
[code]

task:
[code]
Error Message:
[code]

# Repro Steps
Allways

[2019-04-29 15:28] qwertzlbert commented on #45
This bug seems to be originating from a typo in OMSDK.
My pull request there should fix it.
[https://github.com/dell/omsdk/pull/5](url)

[2019-04-29 16:55] qwertzlbert commented on #45
I did further testing and the iDRAC firmware version 3.30.30.30 seems to have changed the expected property from "UserName" to "Username".
I rolled back to iDRAC version 3.21.25.22 for testing now I've got the opposite error:
expected id "UserName" not "Username".

[code]

[2019-05-02 14:09] fxfitz opened #46 "Bundling This as an Ansible Role"
Hi there,

I'm just curious as to why this isn't bundled as an Ansible Role? Is there something different that's needed that couldn't be provided in the form of a role?

Thanks!

[2019-05-02 19:53] fxfitz opened #47 "How to Update from ftp.dell.com"
We are currently attempting to use these modules to update our iDrac firmware from ftp.dell.com.  To do that we needed to use the fw_update_url branch which is fine, however our problem is that ftp.dell.com has a gzipped Catalog.xml file (specifically, `Catalog.xml.gz`).

Is it possible to build this functionality into the module so we can just use this to update from the official Dell updates?

[2019-05-14 09:06] wioch opened #48 "dellemc_get_system_inventory returns syntax error"
Hello,

I'm trying to automate iDRAC deployment. Here is my very simple playbook. copy/paste from User Guide:
[dellemc_get_system_inventory_DEBUG.txt](https://github.com/dell/dellemc-openmanage-ansible-modules/files/3176744/dellemc_get_system_inventory_DEBUG.txt)

[code]

This is the result I get:
[code]

I used ANSIBLE_DEBUG=1 (full output attached) to check what could be wrong and I noticed the

[2019-05-15 17:58] kumaresan078 commented on #35
Hi Anupa,

I can see the catalog and update packages are downloaded from DRAC GUI.However the playbook exist before downloading those packages with below error?

fatal: []: FAILED! => {"changed": false, "msg": "Failed to update firmware.", "update_status": {"Fault.Data": {"Reason": {"Text": "HTTP Timeout error"}}, "Message": "HTTP Timeout error", "Status": "Found Client (SDK) Side Fault", "file":

[2019-05-21 06:01] wioch commented on #48
Got it working. I was missing:
connection: local

[2019-05-21 06:01] #48 closed

[2019-05-21 08:10] anupamaloke commented on #47
@fxfitz, thank you for sharing this requirement. We are actively looking into this request.

[2019-05-21 08:14] anupamaloke commented on #46
@fxfitz, we would love to provide ansible roles. Any pointers into top use cases that you want us to provide as a role?

[2019-05-21 08:15] anupamaloke commented on #45
@qwertzlbert, we are working on this at the moment and planning for a fix soon.

[2019-05-21 08:24] anupamaloke commented on #30
@jaichandran, a bit late but hopefully it will help others too.
You can use the ```idrac_redfish_config``` [[link]](https://docs.ansible.com/ansible/latest/modules/idrac_redfish_config_module.html) to configure the rsyslog servers and ports:

[code]
I will be closing this issue. If you still face any issue in syslog configuration, please feel free to open a new issue.

[2019-05-21 14:08] #30 closed

[2019-05-21 14:48] fxfitz commented on #46
Sure.

Well, overall, installing these Ansible modules seems to be a bit different than "the standard way" of installing new modules for Ansible to use. We landed up just modifying our build pipeline, but this stands out as the _only_ 3rd party library we've had to do that for.

For example, using [Ansible Galaxy](https://galaxy.ansible.com/docs/) is the typical way to install new modules/plugins

[2019-05-21 17:22] richardjohnallsopp opened #49 "The error was: KeyError: 'idrac_password'"
Hey all,

I'm trying to build some Ansible playbooks to configure iDrac moving forward and I can't seem to get the dellemc_get_system_inventory to work. It keeps failing with the following:

_An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'idrac_password'
fatal: [test_server]: FAILED! => changed=false
  ansible_facts:
    discovered_inter

[2019-05-22 06:45] wioch opened #50 "Is VRTX CMC supported ?"
Hello,

I'm trying to access VRTX CMC using simple playbook:
[code]

However I get following error:
[code]

Public key has been uploaded to CMC and it works.
So the question is, is VRTX CMC supported by your Ansible modules ?

Regards,

[2019-05-22 10:01] anupamaloke commented on #50
@wioch, CMC is currently not supported by OM Ansible modules. At present, only MX7000 chassis is supported. However, for VRTX, you can run racadm commands with ansible [command](https://docs.ansible.com/ansible/latest/modules/command_module.html) module. For, e.g. something like below:

[code]

[2019-05-22 11:55] wioch commented on #50
I was thinking exactly that, big thanks for confirmation.
BTW, first I went with _raw_ module, but _command_ seems to be nicer.

[2019-05-22 11:55] #50 closed

[2019-05-23 10:36] anupamaloke commented on #49
@richardjohnallsopp, it is an issue that we are going to be fixing. The issue manifests because in ansible v2.8.0, the module argument ```idrac_pwd``` was renamed to ```idrac_password``` in the [dellemc_idrac.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/remote_management/dellemc/dellemc_idrac.py) util file. In the meantime, you can use the following workaround to fix

[2019-05-23 10:45] anupamaloke commented on #26
@dfitz82, at this point in time, you can not use the openmanage modules to update the same user password. However, this functionality has now been provided in the [redfish_command](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/remote_management/redfish/redfish_command.py) module:

[code]

[2019-05-23 10:47] anupamaloke commented on #44
@chaosblog, I will be closing this issue. Please reopen the issue or log a new issue if you face any error while using idrac_redfish_config module.

[2019-05-23 10:47] #44 closed

[2019-05-28 14:45] anupamaloke commented on #49
@richardjohnallsopp, this issue has now been fixed. Please pull in the latest omsdk repo and re-install it. Let us know if you still face this.

[2019-05-28 15:09] richardjohnallsopp commented on #49
Yup that resolved my issue, thanks so much :-)

[2019-05-29 15:01] alexskrc opened #51 "dellemc_idrac_server_config_profile"
hi there, I recently upgraded to the latest openmanage ansible modules and ansible 2.8.0. I am trying to configure an R630 and I am getting the error below while running the export. I get the same error if I try to configure the BIOS, so I am thinking the problem is not this specific task. Any insights will be greatly appreciated!

MSG:

MODULE FAILURE
See stdout/stderr for the exact error

MODULE

[2019-05-29 17:17] alexskrc commented on #51
Oooops sorry, I found issue #49 having the same kind of error. The resolution was:
"
- edit/usr/lib/python2.7/site-packages/ansible/module_utils/remote_management/dellemc/dellemc_idrac.py ; If running python3.x, then change the file path accordingly
- On line#35, change module_params['idrac_password'] to module_params['idrac_pwd']
save and close the file.
- Run the playbook again and verify that y

[2019-05-29 17:17] #51 closed

[2019-06-02 05:15] vchevakula opened #52 "Not able to work with dellmc-openmange ansible-modules"
Hello All,

I'm first using this dellemc-openmanage-ansible-modules .
I have configured my virtual environment  in pycharm as dell-scripts. Installed ansible 2.8,  pip and installed omsdk by following this below article
https://github.com/dell/omsdk
Then installed dell open managed ansible module
https://github.com/dell/dellemc-openmanage-ansible-modules
`(dell-scripts) victorCS:dell-scripts vchev

[2019-06-03 08:48] anupamaloke commented on #52
@vchevakula, OpenManage Ansible modules use iDRAC REST APIs, so the modules need to be locally on the ansible controller. You can do that by using either of the following methods :
- **Using playbook header**
[code]
- **Use ```delegate_to``` in your playbook**
[code]
- **Using Ansible command-line**
[code]
- **Using inventory**
[code]
- **Using Ansible configuration file ansible.cfg**
[code]
I wou

[2019-06-03 13:38] richardjohnallsopp opened #53 "Error regarding share path for network boot"
Hey all,

I'm seeing an issue with trying to boot my idrac machine from a network boot iso. I've mounted the windows share containing the iso correctly and can access the iso from within via the ansible box. However, when I run the playbook pointing to the share and iso I see the error bellow:

flynn@ncl-ansible-01:~/ansible/playbooks/idrac$ ansible-playbook dell_idrac.yml --tags "network_iso" -i

[2019-06-03 16:03] Nathan-UK commented on #41
This made no difference

[2019-06-03 18:40] vchevakula commented on #52
Hello @anupamaloke,

Thanks for your input. I tried all the options and I'm getting this below  error. Please let me know if I'm missing anything. I just did follow the documentation
[code]

[2019-06-05 06:41] vchevakula opened #54 "dell Firmware idrac update issue"
Hello All,

I was just trying to update the dell firmware update using this below playbook
[code]
inventory file
[code]
invoke by running this command
[code]
I'm get this below output
[code]
Can anyone help me with update ?

[2019-06-05 14:05] alexskrc opened #55 "dellemc_idrac_firmware"
Hi there, I am trying to update the firmware on some R630's, IDRAC 2.63.60.61 using the latest May release SUU-WIN64_19.05.200.354.ISO and I am getting "The specified repository catalog is not supported."
I tried the Linux SUU ISO too; I found some older posts saying that a 32bit version is needed for this, not sure if this is still the case, but this specific SUU ISO has no 32bit version.
The "re

[2019-06-05 17:27] alexskrc commented on #55
Oooops nevermind, I was still pointing to the Linux ISO... replaced the ISO and all is good now.

[2019-06-05 17:27] #55 closed

[2019-06-07 12:07] anupamaloke commented on #54
@vchevakula, dellemc_idrac_firmware modules uses Server Configuration Profiles (SCP) to update the firmware on 14G servers. So,
- You need to have a firmware repository (including catalog file and the update packages) available in a remote network share (CIFS, NFS). The ‘share_name’ argument points to this path.
- ‘share_mnt’ refers to the local path on Ansible controller host where you have mount

[2019-06-07 12:09] anupamaloke commented on #53
@richardjohnallsopp, could you please share the playbook? Also, you need to make sure that ISO is accessible from iDRAC. The module basically tells iDRAC to download the ISO from the network path.

[2019-06-07 12:39] richardjohnallsopp commented on #53
@anupamaloke,

Sure here is the role:

---
# tasks file for install_esx_custom_image

  - name: "Install esx esx-6-0u3.iso"
    dellemc_boot_to_network_iso:
     idrac_ip:   "{{ host }}"
     idrac_user: "{{ idrac_user }}"
     idrac_pwd:  "{{ idrac_password }}"
     share_name: "/home/flynn/ansible/iso"
     iso_image: "esx_6_0_u3_custom.iso"
    tags:
     - network_iso

I use the same cifs shar

[2019-06-12 07:47] anupamaloke commented on #53
@richardjohnallsopp, sorry for a delayed response. I believe you need to provide the actual CIFS share path and not the mounted path in 'share_name', as below. The module just tells iDRAC to download the ISO image from the CIFS share path.

[code]

[2019-06-12 08:08] anupamaloke commented on #52
@vchevakula, I am guessing that the issue is due to some ansible module path issue. Can you post the output of the "ansible-playbook -vvvv  --connection=local playbook.yml -i inventory"?

[2019-06-13 14:32] richardjohnallsopp commented on #53
Hey thanks for that, you're correct and that did get past the error :-)

[2019-06-13 14:32] #53 closed

[2019-06-13 20:16] simonhill-atos commented on #32
I have been having the same issue 9 out of 10 times I try to deploy using this module.
I agree with @digifuchsi it appears to be a timing issue.  I have found a workaround by adding a sleep to omdrivers/lifecycle/iDRAC/iDRACJobs.py before it tries to get the job id.
I have created a pull request for this workaround hopefully it will be merged or someone will find a better fix.  https://github.com/

[2019-06-14 13:55] ibt23sec5 commented on #35
Hello,

I have reproduced the same issue on my server receiving `HTTP Timeout error` despite the fact that the connection outside still OK.

**iDRAC version:** 7
**Current firmware version:** 2.61.60.60

[code]
**Output:**
[code]

[2019-06-17 06:46] ibt23sec5 opened #56 "[dellemc_boot_to_network_iso] IP Address format is invalid"
**Model:** PowerEdge R640
**iDRAC Firmware Version:** 3.32.32.32

I'm trying to set my ISO as a boot CD and I'm receiving this weird message error. As you can see, the IP address is correct.

**Playbook:**
[code]
**Output:**
[code]
The Lifecycle Log reports this action without any error message:

**Message ID:** USR107
**Log Sequence Number:** 574
**Detailed Description:** The identified user has

[2019-06-18 09:08] ibt23sec5 commented on #56
I also tried to put raw IP address in the NFS storage path (instead of FQDN) and the error still be same.

[2019-06-20 04:06] rajeevarakkal commented on #14
closing this issue

[2019-06-20 04:06] #14 closed

[2019-06-20 04:08] rajeevarakkal commented on #15
closing this issue

[2019-06-20 04:08] #15 closed

[2019-06-20 04:08] rajeevarakkal commented on #16
closing this issue, no heard from submitter from long

[2019-06-20 04:08] #16 closed

[2019-06-21 19:31] vchevakula commented on #54
Yes I did and I still the see the same problem

[2019-06-24 11:19] glitchcrab commented on #28
i'm going to close this as i'm no longer working somewhere where i have access to any DRACs.

[2019-06-24 11:19] #28 closed

[2019-06-25 15:02] alexskrc opened #57 "dellemc_idrac_server_config_profile"
Hi there, I have a complex-ish playbook that configures R630 servers for ESXi w/VSAN, and I keep running into issues (the IDRAC AND LC are updated to 2.63.60.61 via ssh in a different task) when I try to setup one-time boot to UEFI PXE. If I load and SCP with the "OneTimeUefiBootSeq" set to "NIC.PxeDevice.1-1" it gets stuck in this condition, and every restart PXE boots, even when "UefiBootSeq" is

[2019-06-26 19:42] mariomelofilho commented on #41
@Nathan-UK , try become: False in your playbooks.

[2019-06-26 21:04] Nathan-UK commented on #41
I've been working with my Linux colleague on this, using the latest 2.01 release, virtualenvs & Ansible 2.8 we've got it working as expected. I'll get more details from him to share with the thread as I'm still new to this

[2019-06-26 21:48] mariomelofilho opened #58 "dellemc_idrac_user: "Error: 'NoneType' object has no attribute 'iDRAC'""
I'm trying to use dellemc_idrac_user to create/change a user passowrd in idracs and i'm getting bellow erro:

fatal: [localhost -> localhost]: FAILED! => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,
    "invocation": {
        "module_args": {
            "idrac": null,
            "idrac_ip": "10.99.4.122",
            "idrac_por

[2019-06-26 21:53] mariomelofilho commented on #58
Versions:
 - iDRAC FW: 2.61.60.60
 - python: 3.6.7
 - omsdk: 1.2.370
 - ansible: 2.8.1

[2019-06-27 08:37] anupamaloke commented on #58
@mariomelofilho, The error is due to share_name attribute. You don't have to specify a local directory path with ```"localhost:/"``` prefix, instead you can just provide a linux dir path. For e.g. in the below playbook I am passing in the ```{{ playbok_dir }}``` as the local directory path. Also there is no need to specify ```share_mnt``` when you are using a local directory path.

[code]
Let me k

[2019-06-27 13:52] ibt23sec5 opened #59 "Update firmware ends as successful but still not updated"
**Model:** PowerEdge R640
**IDRAC firmware version:**  3.21.26.22

Following play ends with success, but the returned message in verbose mode says:
`Import of Server Configuration Profile operation completed with errors`
And the version of firmware still same as before.
**Playbook:**
[code]
**Case details:**
* The catalog file was recently downloaded from official dell [repository](http://download

[2019-06-28 05:11] anupamaloke commented on #59
@ibt23sec5,  at present, the ```idrac_firmware``` module only tracks the successful completion of the Repository Update job. A repository update job just downloads the firmware update packages from the network share and stages them on iDRAC. If a iDRAC is unable to download any of the update packages then you will get error "Import of Server Configuration Profile operation completed with Errors".

[2019-06-28 06:35] ibt23sec5 commented on #59
@anupamaloke: Ok, I see now that's more problem about iDRAC upgrade.

[2019-06-28 06:35] #59 closed

[2019-06-30 15:37] mariomelofilho commented on #58
@anupamaloke , thank you for you answer. It worked.
A note: On documentation (beta branch) this fild (share_name) is marked as required.

[2019-07-01 10:23] Nathan-UK opened #60 "Updating firmware for HTTP share"
Hi,

Just working on testing our code on the 2.01 release and have noticed that there is now no obvious support for updating firmware using a HTTPs share.

Had previously used

using the module from:
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/bd29724dca151d9aead0f5e597939b5ee0ae3ee4/library/dellemc/idrac/dellemc_idrac_firmware.py

was going to update to idrac_firmware but that

[2019-07-01 14:07] rajshekarp87 commented on #60
@Nathan-UK,

Thanks for trying out Dell EMC OpenMange Ansible modules.

As you aware, latest version (2.0.1) of `idrac_firmware` module does not have support for HTTPS share. We do support CIFS/NFS share with Read/Write permission.

The previous `dellemc_idrac_firmware` module which you have used for updating from a HTTPS share is from one of our branch `fw_update_url` which is still available and

[2019-07-01 15:39] Nathan-UK commented on #60
Is there any plans to bring this back into the main version of this as it mimic the native abilities of iDRAC updating form a HTTP repo?

[2019-07-01 19:01] nextnely commented on #35
I experienced the same issue. Have you tried resetting the idrac prior to updating the firmware?

`- name: Reset iDRAC
  dellemc_idrac_reset:
    idrac_ip:   "{{ idrac_ip }}"
    idrac_user: "{{ idrac_user }}"
    idrac_password:  "{{ idrac_password }}"
- name: Waiting for iDRACs to respond
  wait_for:
    host: "{{ idrac_ip }}"
    port: 443
    delay: 60
    connect_timeout: 300`

[2019-07-04 11:36] anupamaloke commented on #60
@Nathan-UK, you can use ```idrac_firmware``` module from the [fw_update_url](https://github.com/dell/dellemc-openmanage-ansible-modules/tree/fw_update_url) branch for firmware update using a HTTP(S) repository. In the latest version, ```share_name``` argument now accept a domain name (for e.g. http://downloads.dell.com) in addition to an IPv4 address.

In order to use the ```idrac_firmware``` modu

[2019-07-04 19:00] anupamaloke commented on #47
@fxfitz, I just pushed in the ```idrac_firmware``` module in the ```fw_update_url``` branch that contains the changes to update the firmware from Dell online repository. You can now run the following playbook:

[code]

[2019-07-04 19:01] anupamaloke commented on #58
@mariomelofilho, I will be closing this issue now. We will fix the documentation on the beta branch.

[2019-07-04 19:01] #58 closed

[2019-07-04 21:52] Nathan-UK commented on #60
I'll look into using the fw_update_url branch in the library path of my playbook.

Will fw_update_url functionality ever be merged with into the master release?

I've got a workaround/option using the Ansible uri: module and going directly to the redfish api.

[2019-07-05 07:34] anupamaloke commented on #60
@Nathan-UK, we will be merging the functionality soon. Stay tuned for that.
Using the uri module is a good workaround for updating one component at a time. In order to do a repository based update for multiple components such as iDRAC, NICs, BIOS etc. using a catalog, you will have to use the ```idrac_firmware``` module.

[2019-07-05 07:36] anupamaloke commented on #56
@ibt23sec5, could you please post your playbook?

[2019-07-05 08:09] anupamaloke commented on #57
@alexskrc, if you need to perform a one-time boot to PXE, then maybe you can use the ```redfish_command``` module to do that. See https://github.com/dell/redfish-ansible-module/blob/master/playbooks/bios/set_onetime_boot.yml

[2019-07-05 14:24] alexskrc commented on #57
I ended up calling Dell support, I was able to reproduce this behavior using ssh and racadm.
Not sure if there will be a solution for this, we figured out a workaround though:
1. load the SCP setting the boot order to PXE, then SD card; force reboot after load so it applies right away;
2. right after the completion run the following to disable PXE on the next reboot, which will happen after the ES

[2019-07-05 14:24] #57 closed

[2019-07-05 23:41] majorgear opened #61 "Cannot parse ipv6 address"
This could be a documentation issue, as I can only find examples with IPv4 addresses.

When I run my playbook the reset and wait steps work fine, but the import config job failes.

PB
---
- name: Reset iDRAC
  dellemc_idrac_reset:
    idrac_ip: "{{ idrac_address }}"
    idrac_user: "{{ idrac_username }}"
    idrac_password: "{{ idrac_password }}"

- name: Waiting for iDRAC to respond
  wait_for:

[2019-07-11 03:26] johnrmiller opened #62 "Convert module parameters to module variables"
Hi folks,

It's a little crazy that I need to pass in a username, password, and IP/FQDN into the openmanage modules every single time that I invoke them.  That information is already taken care of by `ansible_user`.  Likewise with the hostname/IP: that's part of my inventory.  Please update the modules to convert the module parameters to variables, as is done with mainline Ansible modules.

[2019-07-11 04:54] anupamaloke commented on #62
@johnrmiller, you can use the ansible variables in your playbook with iDRAC or OpenManage Enterprise modules. For e.g.

**[inventory]**
[code]

**[Playbook]**

[code]

[2019-07-11 04:55] anupamaloke commented on #61
@jagooch, we are looking into this issue. Also, will it be possible for you to raise a support ticket with Dell support too?

[2019-07-12 20:15] cwhel commented on #47
I'm on the same team as fxfitz, and we're trying to get this to work... I'm using the exact format up above and getting this error:

[code]

Any ideas?

[2019-07-15 08:29] ibt23sec5 commented on #56
@anupamaloke I mentioned the playbook in my post on top. It makes part of several playbooks, but only one related to idrac operations is called before this one - it's the inventory getter as I mentionned too...
So here is simplified content:
- hosts: idrac
    connection: local
    gather_facts: no
    vars_files:
    - group_vars/vault_all.yml
    tasks:
    - name: Get inventory
      dellemc_ge

[2019-07-15 13:22] mting806 opened #63 "dellemc_idrac_storage_volume create failed"
its a very simple job

[code]

the error printout is

[code]

i have tried to update the playbook to below, its working, looks the driver list has problem

[code]

[2019-07-15 13:56] mting806 commented on #63
both python2 and python3 have same problem
[code]

[2019-07-15 22:40] jagooch commented on #61
certainly. I noted that the ImportSystemConfigurationLocalFilenameREDFISH.py script in [](https://github.com/dell/iDRAC-Redfish-Scripting) imports local xml configuration file fine. I haven't look at the source to what that script does differently. It doesn't use OMSDK, which may be the difference.

[2019-07-16 17:09] mting806 opened #64 "lifecycle controller not available after os installation"
it could be re reproduced.
now i am using idrac reset as a workaround.
[code]

[2019-07-16 17:29] mting806 commented on #63
looks system cant assign right span_length auto, by adding it , create could be done successful

[2019-07-16 17:29] #63 closed

[2019-07-19 09:48] ibt23sec5 commented on #64
The same issue reproduced.
When I'm retrying to boot again, the LifeCycle controller says:

`LC is not ready`

Even if I provide `racreset soft` via racadm console, the problem persist and LC is again available after one half of day. But setting the image manually + boot order via web interface works immediately.

**Model:** PowerEdge R640
**Firmware version:** 3.34.34.34
**Playbook:**
[code]
**Ou

[2019-07-22 12:32] ibt23sec5 commented on #32
Reproduced too.

**Model:** PowerEdge R640
**Firmware version:** 3.34.34.34
**Playbook:**
[code]
Output:
[code]

[2019-07-29 20:21] tyagian opened #66 "ssl handshake error during cert validation"
I am getting this error. This module doesn't accept validate_cert=False.

[code]

[2019-07-31 08:51] anupamaloke commented on #66
@tyagian, could you please let us know the module name that you are using?

[2019-07-31 08:55] anupamaloke commented on #64
@mting806 @ibt23sec5, thank you for reporting this issue. we are looking into this and working on adding an attribute that will allow users to specify the attach duration for an ISO image. On the expiry of this duration, the ISO image will get auto-detached so that LC does not remain busy.

[2019-08-05 14:28] tyagian commented on #66
It's resolved now.

[2019-08-05 14:28] #66 closed

[2019-08-08 22:47] fxfitz commented on #47
@anupamaloke Sorry this took so long, we solved the problem described by Christa above. It essentially stems from [what I believe to be] a bad `omsdk` release. I've opened a (ticket)[https://github.com/dell/omsdk/issues/9] in that repository, but we have a workaround for now.

Besides that, the module seemed to work just fine for us. I'll close this out.

[2019-08-08 22:47] #47 closed

[2019-08-19 16:30] tyagian opened #67 "Error: Ansible not installed when it's already installed"
root@anuj:~/dellemc-openmanage-ansible-modules# python install.py
Dell EMC OpenManage Ansible Modules installation has started.
Checking prerequisites...

Ansible is not installed.
FAILED: Dell EMC OpenManage Ansible Modules installation failed.
root@anuj:~/dellemc-openmanage-ansible-modules#
root@anuj:~/dellemc-openmanage-ansible-modules# python install.py
Dell EMC OpenManage Ansible Modules inst

[2019-08-19 16:36] tyagian commented on #67
oh! It's expecting to run using python3.
Can close it

[2019-08-19 16:37] #67 closed

[2019-08-20 13:00] cwhel opened #68 "HTTPS firmware update catalog filename extension support"
We're using the branch fw_update_url branch to update our idracs via the dell repo directly.  They've recently changed to requiring the use of HTTPS to pull from their repo and utilize the `.cab` file extension now instead of `.xml` or `.xml.gz`.  Is there anyway we can get the module updated to support the new file extension?  Thanks!

[2019-08-21 11:18] an-t-oine opened #69 "dellemc_configure_idrac_users : custom privileges"
is there a way to create custom privileges instead of "Administrator/Operator/Readonly/No-Access" ?

My goal is to create on readonly role with the privilege to launch virtual console.

With UI, you can do that by attribute the Readonly privilege to a user and then modify by checking the box for launch virtual console.

[2019-08-30 05:57] rajeevarakkal commented on #32
@ibt23sec5 Comments has been added in the omsdk PR -  dell/omsdk#8

[2019-08-30 16:16] jb185t commented on #49
Thanks for the resolution. It worked for me too!

Python3 path to the dellemc_idrac.py;

/usr/local/lib/python3.6/dist-packages/ansible/module_utils/remote_management/dellemc/dellemc_idrac.py

[2019-09-03 05:00] rajeevarakkal commented on #32
@qwertzlbert; fix in omsdk - dell/omsdk#8 is merged and closing this issue

[2019-09-03 05:00] #32 closed

[2019-09-05 14:56] jb185t opened #70 ""Failed to update firmware" and "Export of scp failed for firmware update" error msg."
Using OpenManage Ansible Module, I'm trying to update firmware on below server.

Model | PowerEdge   R740xd
-- | --
Host   Name |  
Operating   System |  
Operating   System Version |  
Service   Tag |  xxxxxx
Asset   Tag |  
Express   Service Code | xxxxx
BIOS   Version | 2.2.11
Lifecycle   Controller Firmware | 3.34.34.34

Against the machine, below Ansible playbook was applied. NFS is mounted o

[2019-09-10 19:29] richardjohnallsopp opened #71 "Error trying to gather facts from Dell idrac"
Hey I'm trying to run a playbook to gather facts from a gen 13 Dell T430 server:

BIOS Version | 2.9.1
Firmware Version | 2.63.60.61
IP Address(es) | 10.10.1.22
Lifecycle Controller Firmware | 2.63.60.61
IDSDM Firmware Version | 1. 7

I have Redfish enabled and I keep receiving the following:

  ansible_facts:
    discovered_interpreter_python: /usr/bin/python
  msg: 'Could not find device driver

[2019-09-10 19:43] richardjohnallsopp commented on #71
I tried using curl to the host which seems to indicate it's working -
{"@odata.context":"/redfish/v1/$metadata#SessionCollection.SessionCollection","@odata.id":"/redfish/v1/Sessions","@odata.type":"#SessionCollection.SessionCollection","Description":"Session Collection","Members":[{"@odata.id":"/redfish/v1/Sessions/3"}],"Members@odata.count":1,"Name":"Session Collection"}

[2019-09-10 19:48] richardjohnallsopp commented on #71
Totally user error, it was a DNS issue due to not specifying the FQDN of the host :-(

[2019-09-10 19:48] #71 closed

[2019-09-19 16:51] luisico commented on #46
Another vote for this. The current installation method modifies ansible in a global way instead of per-role.

[2019-09-24 14:18] Wobak commented on #70
Hi,

I just faced the same issue, and fixed it by running a disable / enable of the redfish on the iDRAC.

Using
```racadm -r <remoteip> -u <user> -p <pass> set iDRAC.Redfish.Enable Disabled```

And then:
```racadm -r <remoteip> -u <user> -p <pass> set iDRAC.Redfish.Enable Enabled```

Now I have other errors, but I got rid of this one :)

[2019-09-24 19:34] Wobak commented on #70
Hi,

I had the same issue, and I think I figured it out.

Might be something to do with the mounted folder.

The share_mnt folder needs to be the exported folder mounted as NFS on your machine (NFS3 specified).

ie if your files are in /mnt/shared, you should mount them elsewhere using :

```mount -t nfs 192.168.100.150:/mnt/shared /mnt/nfsmount/ -o vers=3 ```

which will then show like this in yo

[2019-09-25 00:00] jb185t commented on #70
Thanks for the reply, Wobak!

Your display from mount command hinted me what was my bad. In /etc/exports file, I set the read only ro as permission mode. Once I change it to rw as below, the "Export of scp failed for firmware update" was disappeared.

```/mnt/shared        x.0.0.0/8(rw,sync,no_subtree_check)```

However, after rerun, another error popped up;

``` IOError: [Errno 13] Permission den

[2019-09-25 07:54] Wobak commented on #70
Can you try with no_root_squash instead of all_squash ?

[2019-09-25 14:19] jb185t commented on #70
No luck with no_root_squash.

I noticed that each time the playbook is executed, new SCP_xxxxx.xml with time stamp is created. Wonder how it is created. It seems the Python code remotely copied by Ansible running in target iDrac server creates the XML file but not 100% sure. The file does have some XML contents.

If my assumption is right, we should not get the "Permission error" as the file was c

[2019-09-26 22:22] lostongoogle opened #72 "Idrac_os_deployment"
I am attempting to use the new way of remote os deployment. I currently am receiving an error `PLAY [Booting to Network Operating System image] *******************************

TASK [Booting to Network Operating System image] *******************************
fatal: [10.51.0.33]: FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "msg": "boot_to_netw

[2019-09-27 05:13] rajeevarakkal commented on #72
@lostongoogle ; this "devel" code is require OMSDK to be updated to the latest devel copy. Kindly ensure that you have the latest omsdk present. Follow the README instructions

Lets know the result

[2019-09-27 10:02] gisyrus opened #73 "Cannot connect to OME"
I tried to use the module to get device inventory but it gives the following error:

[code]
My inventory and playbook:
inventory:
[code]

playbook:
[code]

Can someone figure out why?

[2019-09-27 12:28] lostongoogle commented on #72
i tried uninstalled the omsdk using "pip uninstall omsdk" and then following the steps.
I am able to install the requirements but when I get to the `sh build.sh 1.2 379` it fails and says
[code]

[2019-09-27 13:03] lostongoogle commented on #72
Thanks Rajeevarakkal, that did work. im faced with a different issue at this time.

i receive that error but i am able to mount the share on my machine so I know the share is accessible, any ideas? is there a way to use idrac_os_deployment from a local iso?

[2019-09-30 01:31] #73 closed

[2019-09-30 01:32] gisyrus commented on #73
Just found that my Ansible server cannot ping the ome server's ip address but can ping the ome server's hostname.

[2019-09-30 06:20] jagadeeshnv commented on #72
- The idrac is unable to access the network share using the credentials specified or the firewall might be enabled and is preventing access to the share. Make sure that the firewall is disabled, and that the credentials (username, password) are correct.
- As of now we have no support for local iso

[2019-10-01 14:57] lostongoogle commented on #72
just a bit of further clarification.
both the nfs share, ansible controller, and idrac are all on the same internal network. i have verified that I can mount the nfs share from the nfs server to the ansible controller. my playbook is as follows  `---
-
  connection: local
  gather_facts: false
  hosts: general
  name: Booting to Network Operating System image
  tasks:
    - name: "Booting to Netwo

[2019-10-02 16:23] #72 closed

[2019-10-02 16:24] lostongoogle commented on #72
i found the issue was my nfs exports, i had it exporting to the ansible controller but not the idrac.

[2019-10-03 17:30] lostongoogle opened #74 "Dellemc_idrac_storage_volume question"
Im attempting to use the module to create a raid array for my dell poweredge r620. the question I have is in regards to the controller_id and drives: Id: syntax.
I see in the examples `RAID.Integrated.1-1` and `"Disk.Bay.1:Enclosure.Internal.0-1:RAID.Integrated.1-1"`  im not sure where to get that information from. I am currently running this playbook
`
---
- hosts: general
  connection: local
  n

[2019-10-04 17:29] #74 closed

[2019-10-09 09:30] wioch opened #75 "idrac_os_deployment failed with unexpected keyword argument 'expose_duration'"
Hello,

I'm trying to automate configuration of Dell servers, including ESXi installation. Here is error I get:
[code]

I'm using ansible role for this. So, Inventory:
[code]

Master .yml file:
[code]

Task file:
[code]

and variables:
[code]

I saw issue #72 that was about the same problem. However, omsdk is installed and NFS exports are fine:
[code]

What is more, I'm using the same role for sen

[2019-10-09 09:31] wioch commented on #69
Do you mean this:
[code]
?

[2019-10-09 10:31] rajshekarp87 commented on #70
Hi jb125t/Woback,

We have tried this scenario and were successfully able to perform the update operation. However, below are the NFS share permission.

*(rw,sync,no_subtree_check) with 755 folder permission (recommended).

Kindly re-check if you have adequate NFS share and mount permission and let us know the status.

Thanks & Regards,
Rajshekar P

[2019-10-09 13:05] an-t-oine commented on #69
i'm sorry, i don't understant your answer.
I want to create a new role with custom privileges OR customize an existing role.
In the screenshot here [,](https://ibb.co/JyFcHJY) i customize "operator" role. But i can do that with GUI not with CLI.

[2019-10-10 04:49] rajeevarakkal commented on #64
@mting806  @ibt23sec5 ; the latest devel version added support for "expose_duration" option which will help you specify timeout for OSD operation after that ISO will be detached and LC become free for further operations. Please Try this out and let us know the status

[2019-10-10 04:50] rajeevarakkal commented on #75
@wioch ,this "devel" code is require OMSDK to be updated to the latest devel copy. Kindly ensure that you have the latest omsdk present. Follow the README instructions
Lets know the result

[2019-10-10 05:06] wioch commented on #69
I meant this:
[code]

with this:
[code]

All you have to do is to set privileges as a number.
I cannot tell you how to convert privileges to number (it has something to do with binary), but you can create a user with privileges you want, dump config, get the number from that config.
I hope that's clear now.

[2019-10-10 10:07] wioch commented on #64
I have the same issue. I set _expose_duration: 180._
I'll let you know the result.

[2019-10-15 04:52] rajeevarakkal commented on #64
@wioch, let us know the update

[2019-10-15 04:53] rajeevarakkal commented on #75
@wioch ; Let us know the update

[2019-10-15 11:08] mihai-satmarean commented on #26
Hi there,
dell is finally making some good stuff,
even if same functionality is provided by redfish would be useful to find out the answer to this question too @matt13rox can you paste the playbook contents too?
Thanks!

[2019-10-15 20:07] tsquillario commented on #64
I have been running into this issue for a while! As mentioned above the workaround is to reset the iDRAC `racadm racreset`

[2019-10-17 09:58] gisyrus opened #76 "dellemc_ome_template attribute Networkbootisomodel not work"
I tried to automate the os deployment by using dellemc_ome_template module. However, the module doesn't work at all. The job is successfully created but when it finish the hareware configuration and go to boot the network iso, an error message will be shown:

[code]

I have checked with the module dellemc_boot_to_network_iso and I can successfully deploy the os using the iDRAC module.

Here is my

[2019-10-17 14:53] HugoLS opened #77 "Can't change power state"
Hi,

I have an issue with the module "dellemc_change_power_state".
I'm not able to change the state, whatever is the value i put in "change_power".
Before this task i run another task on the iDRAC that works well:

[code]
[code]

I tried with a -vvvv but there is no more information on issue.
Someone already met this problem?

Thanks

[2019-10-18 07:06] rajeevarakkal commented on #75
Thanks am closing this issue

[2019-10-18 07:08] rajeevarakkal commented on #64
@tsquillario  the latest module have a `expose_duration` parameter which will help you to set a time out and make LC free. No longer need to use `racadm racreset`

[2019-10-21 02:19] gisyrus commented on #76
And the version of my module is 2.0.1 . Does it matter?

[2019-10-21 12:10] HugoLS commented on #75
Hi,

I've the same issue.
I'm able to get the firmware_inventory (only to test the access to idrac), but i'm not able to boot on network because of "expose_duration" parameter.

[root@ansible esxi]# pip list | grep omsdk
omsdk (1.2.370)
[root@ansible esxi]# ansible --version
ansible 2.8.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules',

[2019-10-21 12:14] rajeevarakkal commented on #75
@HigoLS, this "devel" code is require OMSDK to be updated to the latest devel copy. Kindly ensure that you have the latest omsdk present. Follow the README instructions
Lets know the result

I am reopening this defect for tracking

[2019-10-21 12:37] HugoLS commented on #75
Hi Rajeevarakkal,

It solved the issue, thank you.
Pip was not able to find the latest version, so i followed instructions in OMSDK Readme. Clone the git, then install it manually. I have now the version 387

[code]

[2019-10-21 12:41] rajeevarakkal commented on #75
great 👍  Actually pip omsdk is compatible with master copy of OMAM. Hence we have updated readme instructions for "devel" copy on how to get latest OMSDK.

Closing this issue

[2019-10-21 12:41] #75 closed

[2019-10-23 21:28] Unalloyedcube opened #78 "Error: boot_to_network_iso() missing 1 required positional argument: 'expose_duration'"
I am facing a similar issue as [https://github.com/dell/dellemc-openmanage-ansible-modules/issues/75](https://github.com/dell/dellemc-openmanage-ansible-modules/issues/75 ) and have verified that the correct OMSDK is installed from the `devel` branch.

main.yml file

    ---
     - connection: local
      gather_facts: false
      hosts: server
      name: Booting to Network Operating System image

[2019-10-28 15:23] jb185t opened #79 "Is 20 seconds execution time of dellemc_get_system_inventory module normal ?"
Hi;

I'm using dellemc_get_system_inventory module to retrieve system hardware inventory from RX740XD, which takes about 20 seconds to complete the playbook for one server. Wanted to hear about others how long does it usually takes.

Thanks a lot,

Joon

[2019-10-28 18:05] Unalloyedcube commented on #78
Ran a `pip install omsdk` which resolved the issue.

[2019-10-28 18:05] #78 closed

[2019-11-05 13:50] matt13rox commented on #26
Sorry I missed the notifications.
I was trying to update the password of the same user and ended up using redfish_command module.

[2019-11-05 16:25] mpunix opened #80 "ome_device_info - detailed_inventory - error"
Hi,
Need help on the ome_device_info module where it failing to fetch the inventory.  Error message "Failed to fetch the device information".

I am getting mixed inventory results for the blades on the same Chassis. Failing one is similar configuration and completes the Discovery/Inventory from the OME. From the Modular I can see the Blade information.

No issues on the credentials, I can run the

[2019-11-06 13:11] rajshekarp87 commented on #76
Hi Gisyrus,

Input for options "IsoPath" and "ShareName" should be in below format. With below modifications, issue will not be observed.

**"IsoPath" : /home/iso/bootoiso.iso"** ; Complete iso path
**"ShareName" : "iso"** ; Share name

Thanks & Regards,
Rajshekar P

[2019-11-07 03:48] cheppalli opened #81 "Storing inventory in a variable and to a file"

[2019-11-07 03:49] cheppalli commented on #81
How to store the Firmware inventory to a variable or file in nice format? I can only see when i use verbose

[2019-11-11 10:29] anupamaloke commented on #81
@cheppalli, you can register the output of the firmware inventory task in a variable that you can access later in your playbook.

[code]

I will be closing this issue.

[2019-11-11 10:29] #81 closed

[2019-11-11 11:06] cheppalli commented on #81
can I get it in the form of csv or ini format? component=version type. The output is hard to read

[2019-11-11 15:36] anupamaloke commented on #81
@cheppalli, you can use the [jq](https://stedolan.github.io/jq/) to accomplish something like this.  Following thread has some good information on generating csv out of the JSON output using 'jq':
https://github.com/dell/redfish-ansible-module/issues/35

[2019-11-13 12:45] tomkivlin opened #82 "dellemc_idrac_server_config_profile - uses idrac_pwd instead of idrac_password as in dellemc_idrac.py"
[code]

I've installed the OMSDK and prerequisites as per the instructions [here](https://github.com/dell/omsdk#prerequisites) (for python3, inside my virtualenv).  Installed these Ansible modules as per the instructions [here](https://github.com/dell/dellemc-openmanage-ansible-modules#installation).

I'm on macOS Mojave 10.14.6.

Here's my playbook:
[code]

Here's my inventory (relevant details):

[2019-11-13 16:58] tomkivlin commented on #82
OK, the title of this issue is totally misleading -this is more about the change from `idrac_pwd` to `idrac_password`. I found the workaround through #49, but not quite the same. Instead I change line 33 to `self.idrac_pwd = module_params['idrac_pwd']` from `self.idrac_pwd = module_params['idrac_password']` (because the module won't accept `idrac_password`.

However, it feels like a fix would be t

[2019-11-17 03:53] Kdy77k opened #83 "About firmware updating with playbook "idrac_firmware""
Hi,
I have two issues:
1. I use playbook "idrac_firmware" to update idrac 9's firmware with parameter "repo_share_name" http://downloads.dell.com/Catalog" and share_name "catalog.xml" with error code 40X
I find that there is catalog.xml.gz not catalog.xml within the url. how to walk round it?
2. I also want to update firmware with specific one (not search from official website).
I use playbook "de

[2019-11-17 12:12] tomkivlin commented on #82
OK, my mistake. I was using `dellemc_idrac_server_config_profile` in the playbook instead of `idrac_server_config_profile` for some reason. Changing that made it all work as expected.

[2019-11-17 12:12] #82 closed

[2019-11-19 09:47] rajeevarakkal commented on #9
@anshulawasthi, Our latest module "idrac_firmware" supports now HTTPS repos as well. Am closing this defect as of now; Let us know in case you are facing any issues with the latest versions

[2019-11-19 09:47] #9 closed

[2019-11-19 10:19] rajeevarakkal commented on #17
Closing this issue now since there is no update for a long time. Try out our latest `idrac_firmware` module and let us know in case you still face any issues

[2019-11-19 10:19] #17 closed

[2019-11-19 10:22] rajeevarakkal commented on #22
I hope this issue is closed with appropriate verbose level while invoking the playbook. Closing the defect now

[2019-11-19 10:22] #22 closed

[2019-11-19 10:23] rajeevarakkal commented on #25
@mories76 Since there is no update, we are closing this issue for now

[2019-11-19 10:23] #25 closed

[2019-11-19 10:25] rajeevarakkal commented on #33
@jimr6007 The latest issue you have encountered is because iDRAC is busy with a running job. Hope that is closed and the module is working fine.

[2019-11-19 10:28] rajeevarakkal commented on #35
Are you still facing this issue? Try once with our latest` idrac_firmware` module and update us

[2019-11-19 10:31] rajeevarakkal commented on #80
@mpunix it could be possible that OME is unable to cater this particular device information back to ome_device_info module at that particular point of time. Are still facing the same issue?

[2019-11-19 11:28] mpunix commented on #80
@rajeevarakkal  - Yes, we did a fresh install of OME 3.3 and did the discovery. Initially it was working for a two days and starting failing again. Failure is more random on the devices in the MX group.

[2019-11-21 09:42] rajeevarakkal commented on #64
@tsquillario Not heard anything from you yet; also we have timeout feature enabled for OS deployment, I am closing this defect now.

[2019-11-21 09:42] #64 closed

[2019-11-21 09:42] rajeevarakkal commented on #76
@gisyrus Any update on this?

[2019-11-21 09:45] rajeevarakkal commented on #70
@jb185t  @Wobak Have you tried the above settings? Also we have now enhanced "idrac_firmware" module to support more reposotiry types such as HTTP/S, FTP also using non-SCP approach for firmware updating. Let us know in case you are still facing the issues

[2019-11-21 09:47] rajeevarakkal commented on #31
@qwertzlbert  Are you still facing this issue?

[2019-11-21 09:50] rajeevarakkal commented on #83
@Kdy77k; currently we support Catalog.xml; we will check the feasibility to support Catalog.xml.gz

Regarding `dellecm_ome_fimware` module issue, share us the exact playbook inputs

[2019-11-21 09:53] rajeevarakkal commented on #80
@mpunix Since the failure intermittent and first couple of days module was returning proper inventory; looks like we have to look into device refresh has some issues on MX device OME. Give us some time to get back to you

[2019-11-21 09:58] rajeevarakkal commented on #77
@HugoLS Are you still facing the issue? Let us know the iDRAC version

[2019-11-21 10:00] rajeevarakkal commented on #69
@an-t-oine are good to close this issue

[2019-11-21 10:01] rajeevarakkal commented on #68
@cwhel we currently support `Catalog.xml ` extension. We will update you once we support .`cab `extension

[2019-11-21 10:03] rajeevarakkal commented on #62
@johnrmiller Hope query has been addressed. Let us know in case you are facing other issues. closing this issue now

[2019-11-21 10:03] #62 closed

[2019-11-21 10:06] rajeevarakkal commented on #61
@jagooch Care still facing this issue?

[2019-11-21 10:08] rajeevarakkal commented on #60
@Nathan-UK; our latest devel support firmware update from HTTP repository. Closing this request now

[2019-11-21 10:08] #60 closed

[2019-11-21 10:09] rajeevarakkal commented on #56
@ibt23sec5 Hope you are still not facing this issue, closing this issue as of now

[2019-11-21 10:09] #56 closed

[2019-11-21 10:16] rajeevarakkal commented on #54
@vchevakula we have recent enhancement on `idrac_firmware` module. Let us know  in case you are still facing the issue

[2019-11-21 10:18] rajeevarakkal commented on #52
@vchevakula Closing this issue since there is no update since long

[2019-11-21 10:18] #52 closed

[2019-11-21 10:21] rajeevarakkal commented on #45
@qwertzlbert We have fixed this issue in the latest `devel`. Closing the issue as of now

[2019-11-21 10:21] #45 closed

[2019-11-21 10:24] rajeevarakkal commented on #42
@ja07657 We have a uniform approach for 13G and 14G in the latest `idrac_firmware` and also we have deprecated the `dellemc_idrac_firmware`; Let us know in case you facing any issues with this latest module. Closing this defect as of now

[2019-11-21 10:24] #42 closed

[2019-11-21 10:31] rajeevarakkal commented on #35
@nextnely Closing this issue as of now since no hear back

[2019-11-21 10:31] #35 closed

[2019-11-21 10:33] rajeevarakkal commented on #41
@Nathan-UK Thanks for update. As you got things back on working we are closing issue

[2019-11-21 10:33] #41 closed

[2019-11-21 10:35] rajeevarakkal commented on #34
@zogness Closing this issue Hope your Query has been clarified

[2019-11-21 10:35] #34 closed

[2019-11-21 10:36] rajeevarakkal commented on #29
@tsquillario Are you still facing the issue?

[2019-11-21 10:38] rajeevarakkal commented on #26
@matt13rox Are you still facing this issue?

[2019-11-21 10:39] rajeevarakkal commented on #21
@jjeganathan Closing this issue as @rajshekarp87  answered your issue

[2019-11-21 10:39] #21 closed

[2019-11-21 10:41] rajeevarakkal commented on #19
@jjeganathan  Are you still facing the issue?

[2019-11-21 10:41] rajeevarakkal commented on #18
@kumaresan078 Closing this issue as @rajshekarp87 answered the query

[2019-11-21 10:41] #18 closed

[2019-11-21 13:47] jb185t commented on #79
Thanks a lot for confirmation, rajeevarakkal !

[2019-11-21 13:47] #79 closed

[2019-11-21 16:00] tsquillario commented on #29
Yes. Just tested with the latest modules. There is no `reboot` option. It just reboots the server without the user knowing it will. How is a customer supposed to know that changing `AcPwrRcvry` requires a reboot and they should stage it? I run into this quite a bit with customers with other attributes, it's a mystery.

[2019-11-21 16:13] tsquillario opened #84 "idrac_firmware module update from single EXE file"
One scenario that I see my customers try to do again and again is they want to update from a single file EXE. There is no way to do this in Ansible currently.

You can do this via racadm currently from an NFS share. `racadm update -f BIOS_F7R7C_WN64_1.9.3.EXE -l 192.168.1.100:/mnt/data/drm`

This can be done via Redfish as well. It may be valuable to have 2 implementations, one via Redfish and one

[2019-11-21 16:37] tsquillario opened #85 "Update idrac_os_deployment to support Redfish"
This module should support mounting VirtualMedia and setting the OneTime boot device over Redfish.

[2019-11-21 16:43] tsquillario opened #86 "Ability to set System attributes"
We can set BIOS attributes and iDRAC/Manager attributes but not System attributes. This needs to be added to the `idrac_redfish_config` module as well.

Example
`racadm set System.Power.Hotspare.Enable 0 (ServerPwr.1.PSRapidOn)`
`racadm set System.Power.RedundancyPolicy 1 (ServerPwr.1.PSRedPolicy)`

[2019-11-21 16:46] tsquillario opened #87 "Update idrac_server_config_profile to support Redfish"
The `idrac.use_redfish` variable exists but is still using OMSDK. Add support for Redfish and expose it to the module.

[2019-11-22 08:59] rajeevarakkal commented on #84
@tsquillario We are working on this. You can except an feature support in month or two

[2019-11-22 09:00] rajeevarakkal commented on #87
@tsquillario  this module already support Redfish via OMSDK. Could you elaborate the exact requirement or challenges

[2019-11-22 09:02] rajeevarakkal commented on #86
@tsquillario ; Share us your playbook and error details

[2019-11-22 09:03] rajeevarakkal commented on #85
@tsquillario We will check the feasibility and timeline to enable this featre

[2019-11-22 09:24] gisyrus commented on #76
@rajshekarp87 @rajeevarakkal
Yes it is correct.
IsoPath represents the full path where the iso is located at and ShareName represents the folder that containing the iso image.
However, in the example of the module it states like this:
[code]

It is somehow misleading to the user that they will think IsoPath represents the name of iso image and ShareName represents the complete iso path.

Can you e

[2019-11-22 14:52] tsquillario commented on #87
No requirement, just following up on making sure Redfish gets supported on all the modules.

[2019-11-22 14:52] #87 closed

[2019-11-22 14:59] tsquillario commented on #86
Taking another look at this it looks like `idrac_redfish_config` was updated to support System Attributes. It's in the devel branch in the main Ansible repo so it will eventually make it into the mainstream release.

[2019-11-22 14:59] #86 closed

[2019-11-23 11:43] matt13rox commented on #26
I ended up using redfish_command module and it works fine with it. You can close this issue

[2019-11-25 10:25] anupamaloke commented on #29
@tsquillario, all BIOS configuration changes require a reboot for them to be applied. ```dellemc_configure_bios``` module automatically takes care of the reboot.

Other option would be to use the ```redfish_config``` module to set the BIOS attributes, schedule a BIOS configuration job using ```idrac_redfish_command``` modules followed by graceful restart using ```redfish_command```. You can refer

[2019-11-28 13:39] manualbashing opened #88 "'iDRACEntity' object has no attribute '_get_update_from_repo_list_using_redfish'"
I keep running into the following error, when I try to update firmware on R740 servers, using a CIFS share:

[code]

My task looks like this:

[code]

The CIFS share is mounted with rw permission to the ansible node in the path `/tmp/dell`.

[2019-11-28 16:29] richardjohnallsopp commented on #49
Has there been a regression in this bug when using ansible 2.9 for some reason all my playbooks are failing since the upgrade. Happy to open a new issue if you feel it's needed.

[2019-11-28 16:30] richardjohnallsopp commented on #49
Has there been a regression in this bug when using ansible 2.9 for some reason all my playbooks are failing since the upgrade. Happy to open a new issue if you feel it's needed.

[2019-11-28 17:22] #49 closed

[2019-12-05 13:23] Kdy77k commented on #83
Hi,
How to update firmware with binary file name directly?

[2019-12-09 07:36] rajeevarakkal commented on #83
@Kdy77k  We are working on this. You can except an feature support in couple of weeks

[2019-12-09 07:39] rajeevarakkal commented on #54
@vchevakula closing this issue since there is no update for sometime. In case you are facing any issues `idrac_firmware` let us know

[2019-12-09 07:39] #54 closed

[2019-12-09 07:42] rajeevarakkal commented on #26
@matt13rox  We currently doesn't support  password modification same user used for connecting to iDRAC.

[2019-12-09 07:43] rajeevarakkal commented on #77
@HugoLS Since there is no response for sometime now, closing this issue. Let us know in case you are facing issue

[2019-12-09 07:43] #77 closed

[2019-12-09 07:44] rajeevarakkal commented on #70
@jb185t @Wobak Since there is no update for sometimes,we are closing this issue.

[2019-12-09 07:44] #70 closed

[2019-12-09 07:47] rajeevarakkal commented on #88
@manualbashing This OMAM "devel" code is require OMSDK to be updated to the latest devel copy. Kindly ensure that you have the latest omsdk present. Follow the README instructions
Lets know the result

[2019-12-09 07:48] rajeevarakkal commented on #33
@jimr6007 Since there is no response for sometimes; closing this defect now. Let usknow if ou are facing any issues

[2019-12-09 07:48] #33 closed

[2019-12-09 10:55] rajeevarakkal commented on #80
@mpunix  We are working on this; will revert back to you soon

[2019-12-09 10:57] rajeevarakkal commented on #69
@an-t-oine closing this issue as there is no update

[2019-12-09 10:57] #69 closed

[2019-12-09 11:28] mpunix commented on #80
@rajeevarakkal  - thank you for the update

[2019-12-09 11:33] rajeevarakkal commented on #80
@mpunix; please share us the playbook you are executing

[2019-12-09 12:00] mpunix commented on #80
@rajeevarakkal  - sent you an email, we have Dell Service request relate to this issue.  you may refer the details. Sorry if it is anything duplicated.

[2019-12-09 12:56] kplantjr commented on #88
@manualbashing also if you're using a virtualenv be sure to add '-e ansible_python_interpreter=/path/to/venv/python' to your ansible call

[2019-12-13 11:35] mapdeep commented on #33
i am getting the same error
"module_stdout": "WARN: Changing isFolder to false, as it is not directory\nmsg_id=SYS043\nSeverity=Informational\n",
    "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error",
    "rc": 1

[2019-12-13 13:28] mapdeep opened #89 "dellemc_idrac_storage_volume is not working"
i am getting the bellow error message while creating the RAID using  "dellemc_idrac_storage_volume"
"module_stdout": "WARN: Changing isFolder to false, as it is not directory\nmsg_id=SYS043\nSeverity=Informational\n",
"msg": "MODULE FAILURE\nSee stdout/stderr for the exact error",
"rc": 1

[2019-12-17 09:55] rajeevarakkal commented on #89
@mapdeep; share us your playbook

[2019-12-17 09:58] rajeevarakkal commented on #76
@gisyrus; example is updated and this time we have elaborated description of each payload attributes as well. With I think we are good with this issue

[2019-12-17 10:36] rajeevarakkal commented on #84
@tsquillario you can update the firmware from a HTTP location or local directory using "redfish_firmware" module.

[2019-12-17 10:37] rajeevarakkal commented on #83
@Kdy77k you can update the firmware from a HTTP location or local directory using "redfish_firmware" module.

[2019-12-17 16:21] tsquillario commented on #84
Perfect! I will test it out and create a new issue if it doesn't work as expected. I like that the redfish_ modules don't use the omsdk

[2019-12-17 16:21] #84 closed

[2019-12-20 11:55] rajeevarakkal commented on #83
@Kdy77k closing this defect now.

[2019-12-20 11:55] #83 closed

[2019-12-20 11:55] rajeevarakkal commented on #76
@gisyrus closing this defect now

[2019-12-20 11:55] #76 closed

[2019-12-20 11:56] rajeevarakkal commented on #89
@mapdeep any update on this?

[2019-12-20 12:01] rajeevarakkal commented on #88
@manualbashing hope we are good with this issue

[2019-12-26 08:34] #80 closed

[2019-12-26 08:34] jagadeeshnv commented on #80
Issue Fixed in v2.0.6

[2019-12-27 09:05] mpunix commented on #80
thank you.

[2020-01-02 05:27] rajeevarakkal commented on #88
@manualbashing; closing this query

[2020-01-02 05:27] #88 closed

[2020-01-02 07:25] rajeevarakkal commented on #29
@tsquillario;  `dellemc_configure_bios` is leverages iDRAC's `System Configuration Profile` feature capabilities (import) to apply desired BIOS configuration changes. `System Configuration Profile` doesn't support staging the parameter concept rather it offers you a end-to-end configuration apply in one go, however you can schedule the playbook execution in an appropriate maintenance window.

Like

[2020-01-02 14:56] tsquillario commented on #29
I haven't really had any complaints from customers on this issue so I'll close it for now.

[2020-01-02 14:56] #29 closed

[2020-01-06 11:18] rajeevarakkal commented on #89
@mapdeep we will be closing this issue as there is no update from your end.

[2020-01-06 16:45] nextnely opened #90 "idrac_firmware failing on newest idrac version"
Hello,

After updating to idrac version 2.70.70.70, the idrac_firmware module fails with

[code]
This is running against an fc630 with idrac8. Using latest version of dell omsdk and dell Ansible modules.

Full traceback
[code]
Task
[code]

[2020-01-13 16:02] kingil commented on #90
Same issue on 2.9 ansible with omdrivers 1.1.268 and omsdk 1.2.370.

`FAILED! => {"changed": false, "msg": "HTTP Error 405: Method Not Allowed", "update_status": {"error": {"@Message.ExtendedInfo": [{"Message": "Unable to run the method because the requested HTTP method is not allowed.", "MessageArgs": [], "MessageArgs@odata.count": 0, "MessageId": "IDRAC.1.6.SYS402", "RelatedProperties": [], "Rel

[2020-01-13 16:34] nextnely commented on #90
I tried via HTTP, HTTPS and NFS and received the same error.

[2020-01-13 16:36] kingil commented on #90
I found this: https://github.com/dell/omsdk/issues/9

[2020-01-14 16:05] alxlcr opened #91 "Unsupported Reset Type:GracefulRestart"
Hi there, I just upgraded the IDRAC to 2.70.70.70 on some R630 servers and now the dellemc_change_power_state gets me the "Unsupported Reset Type:GracefulRestart" message. Is anyone else seeing this?

[2020-01-14 21:39] alxlcr commented on #91
as a workaround, I added logic to do a graceful shutdown and power back on, pls see below if anyone finds it useful:

- name: First, try restart the server to make sure any pending jobs are completed; any error here will be addressed next
  delegate_to: localhost
  dellemc_change_power_state:
    idrac_ip:          "{{ansible_host}}"
    idrac_user:        "{{ansible_user}}"
    idrac_pwd:

[2020-01-16 15:31] pkolakow opened #92 "dellemc_configure_bios module fails to reboot after setting boot sources"
dellemc_configure_bios module fails to reboot after setting applicable boot sources.

Problem occurred on iDRAC9 (FW: 3.36.36.36) on DELL PowerEdge R640 platform.

**Ansible Task**
[code]
**Execution Output**
[code]

**Possible problem cause:**

Trying to reboot with "GracefulRestart" command while it is no longer available with firmware version: 3.36.36.36.

*omsdk/omdrivers/lifecycle/iDRAC/iDRAC

[2020-01-17 06:17] rajeevarakkal commented on #90
@nextnely have you updated your omsdk component to the latest devel copy (https://github.com/dell/omsdk) ?

[2020-01-17 06:18] rajeevarakkal commented on #91
@alxlcr We will check this and get back to you

[2020-01-17 06:19] rajeevarakkal commented on #92
@pkolakow we are analyzing this issue. we will get back to as soon as possible

[2020-01-17 11:32] rajeevarakkal commented on #89
@mapdeep its looks like insufficient/improper input or dependency related issues. However there is no update since sometime, we are unable to help you on this. Closing this defect currently. Let us in case you still faces any issues with requested details.

[2020-01-17 11:32] #89 closed

[2020-01-20 10:42] kingil commented on #90
We use branch fw_update_url, becouse that make possible mount by http.

[2020-01-20 11:26] rajeevarakkal commented on #90
@kingil, all the capabilities of `fw_update_ur`l can be found in latest "devel" idrac_firmware module. (requires latest omsdk devel copy).  Let us know this helps

[2020-01-20 20:18] davisglenn commented on #64
@rajeevarakkal - I just started using the idrac_os_deployment module and even with expose_duration set to 180, after I deploy my windows server, I still get "Lifecycle Controller not available".  I tried a number of different things, but the only thing that seems to work is a racadm racreset.  I have a Poweredge R740 with iDRAC version 3.36.36.36

[2020-01-20 21:04] tsquillario commented on #64
@davisglenn Since you're using the modules from the devel repo I think you need to update your OMSDK. This may be why it's not working. See https://github.com/dell/dellemc-openmanage-ansible-modules/issues/75

[2020-01-21 13:58] davisglenn commented on #64
@tsquillario - I was hoping that was the case.   But I did do a fresh clone and build yesterday and it looks like I have the latest.
# pip list | grep omsdk
omsdk (1.2.387-)

[2020-01-21 17:47] tsquillario commented on #64
I would suggest opening a new issue since this one is closed.

[2020-01-21 18:44] davisglenn opened #93 "Lifecycle Controller not available after running Ansible idrac_os_deployment"
Hi,
I am not able to get the Lifecycle Controller to become available after running an idrac_os_deployment task.
Poweredge R740 with iDRAC version 3.36.36.36
ansible 2.9.1 / python version = 2.7.5
I am running the latest omsdk (1.2.387-) I built from git repo.
I have added expose_duration: 180

It seem like the only way to get the LC to work is to racadm racreset
thanks.

[2020-01-22 05:16] rajeevarakkal commented on #93
@davisglenn; can you share the playbook. We are checking this issue.

[2020-01-22 13:14] davisglenn commented on #93
Sure, here you go...

---
- name: Build Bare Metal Servers
  hosts: baremetal_provision
  gather_facts: false
  connection: local
  tasks:
  - name: Boot to Network ISO
    idrac_os_deployment:
      idrac_ip:       "{{ idrac }}"
      idrac_user:     "{{ user }}"
      idrac_password: "{{ password }}"
      share_name:     "{{ share }}"
      share_user:     "{{ user }}"
      share_password: "{{

[2020-01-23 16:33] vmisson opened #94 "dellemc_idrac_storage_volume failed to create RAID 10"
Hello,

I tried to create a RAID 10 but I got the following error : "Failed to perform storage operation"
I used exactly the same config in RAID 5 or RAID 6 and it's working.

My config is the following :
[code]

Any idea ?
Thansk in advance.

[2020-01-26 07:49] alexander-red commented on #47
I've just started testing the module and ...  experiencing the issue described here ...
I can not download updates from dell...

I am using the "fw_update_url" branch ... should I use another branch...?

# Playbook
  - name: firmware_update
    idrac_firmware:
      idrac_ip :  "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password:  "{{ idrac_password }}"
      share_name: "ht

[2020-01-26 20:33] kevinhuy opened #95 "Could not find imported module support code for idrac_firmware. Looked for either iDRACRedfishAPI.py or idrac_redfish.py"
Hi

When i try to execute a simple playbook for firmware update, i got this error below

"Could not find imported module support code for idrac_firmware.  Looked for either iDRACRedfishAPI.py or idrac_redfish.py"

My playbook

---
- hosts: localhost
  connection: local
  name: Update Firmware Inventory
  gather_facts: False

  tasks:
  - name: Update firmware from repository on a HTTP/HTTP/FTP rep

[2020-01-27 13:32] cwhel commented on #47
The last time I checked on this Dell required pulls from their repo over HTTPS… The problem is that they changed the file extension to be a .cab in their repo.  The module will only accept a .xml or .xml.gz.  So, this module won’t work until they add support for that additional file extension… I have this issue open requesting for it to happen:

https://github.com/dell/dellemc-openmanage-ansible-m

[2020-01-27 20:51] #95 closed

[2020-01-27 21:02] kevinhuy opened #97 ""Failed to update firmware with http/https idrac_firmware.py""
hi

my environnement :
python 2.7
ansible 2.9.4
i m using the branch devel

i m trying to execute this simple playbook below

---
- hosts: localhost
  connection: local
  name: Update Firmware Inventory
  gather_facts: False

  tasks:
  - name: Update firmware from repository on a HTTP/HTTP/FTP repository
    idrac_firmware:
       idrac_ip: "xxxxx"
       idrac_user: "xxxx"
       idrac_password:

[2020-01-28 06:39] rajeevarakkal commented on #97
@kevinhuy , Looks like iDRAC is unable to download the required packages from the Repo you have provided for update job submitted.

`"Message": "The network file transfer of an update package was not successful.",`

OMAM is able successfully submit your update job to your respective server iDRAC with below JOB details
/redfish/v1/Managers/iDRAC.Embedded.1/Jobs/JID_801548181219

Ensure that `share_

[2020-01-28 06:47] kevinhuy commented on #97
Hi

I m able to download from the web interface Of idrac. Seem to be an issue with ansible.

Envoyé de mon iPhone

[2020-01-28 06:49] rajeevarakkal commented on #94
@vmisson Can you try out below span length and depth value for RAID 10

[code]

[2020-01-28 06:50] rajeevarakkal commented on #93
@davisglenn, even after 3 hours (180 minutes) LC remains busy and not available for further operations right.

[2020-01-28 06:53] rajeevarakkal commented on #97
@kevinhuy we will double check. We pass on the details provided in playbook to iDRAC and allow iDRAC to contacts the share and download the packages. We will see any path formatting issues plays in between.

However, tryout the another example I have commented above and let us know

[2020-01-28 07:06] kevinhuy commented on #97
Hi

below result with the sample you ask. it is the same error. Fyi , we have already update manually with the gui , and it works.

ansible-playbook 2.9.4
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansibl

[2020-01-28 07:08] rajeevarakkal commented on #97
@kevinhuy we will check this out and get back to you.

[2020-01-28 09:52] vmisson commented on #94
Thanks a lot @rajeevarakkal !

It's working using span_length: 2 and span_depth: 2

[2020-01-28 09:52] #94 closed

[2020-01-28 15:05] davisglenn commented on #93
I thought this time was in seconds.  I now see after looking at the python code that this time is in minutes.  I am closing the ticket because now that I lowered the time to something more reasonable (10 min), it seems to work a lot better.
BTW - The time doesn't seem to be an exact match to getting back the LC.  For example, I set it for 10 minutes, but I get the LC back in anywhere from 13-15 mi

[2020-01-28 15:05] #93 closed

[2020-01-29 08:34] kevinhuy commented on #97
@rajeevarakkal any good news ? :)

[2020-01-29 10:34] thizmo opened #98 "Questions to different modules - smtp, syslog and ip vs dns"
Dear all,

thx a lot for that great work!
I managed to configure a bunch of new 14G idracs in less then one hour.

Yet i have some questions regarding different modules
a) SMTP
- in the idrac9 webinterface you can have a DNS instead of IP for SMTP-Server. Not yet with the ansible module. I would need to set a DNS there for my SMTP-server.
- I need to set a sender mail-adress as well as the target

[2020-01-29 18:09] nextnely commented on #90
@rajeevarakkal I tested again with the latest devel omsdk and i experience the same issue.

[2020-01-30 05:17] rajeevarakkal commented on #98
@thizmo Its great that OMAM modules helped you in configurating the server within an hour.  Thanks :)

The missing points you have pointed out, lets have a look and get back to you

[2020-01-30 05:21] rajeevarakkal commented on #90
@nextnely The right combination is latest devel omam 2.0.7 with latest devel omsdk. Hope you are using this combination. Please confirm.

[2020-01-30 14:36] nextnely commented on #90
@rajeevarakkal I confirmed i am using the latest devel of both the modules and sdk.

[2020-02-04 22:57] shelkro opened #99 "unexpected keyword argument 'expose_duration'"
Running ansible playbook with idrac_os_deployment returns    "msg": "boot_to_network_iso() got an unexpected keyword argument 'expose_duration'".

The latest OMSDK is installed.
bash-4.4# pip3 freeze | grep omsdk
omsdk==1.2.387
bash-4.4# python --version
Python 3.6.8

This playbook is working correctly on another ansible system with python 2.7.
bash-4.2# pip freeze | grep omsdk
omsdk===1.2.387-
ba

[2020-02-10 10:16] mikeletux opened #100 "Executing dellemc_configure_idrac_users twice fails the second attempt"
Hello there,

I've been experiencing issues running the dellemc_configure_idrac_users module.
Turns out that if you use it for creating a user that does not exist, it works, but if you run the exact same thing twice, it gives an error. My conclusion on this is that the module is not idempotent.
I use the parameter "action" with "create" value.

- name: Create the iDRAC users
    dellemc_configure_

[2020-02-11 09:08] thizmo commented on #100
I see the same problem here.
It fails on the second run. Then i am not able to log in any more.

[2020-02-11 10:29] jagadeeshnv commented on #100
Thank you for reporting @mikeletux and @thizmo. We will look into it and do the needful

[2020-02-11 11:04] thizmo opened #101 "idrac_firmware failing on 14G and idrac fw 4.00.00.00"
I have again the following error while trying to update the firmware.
Seemed like a bug in the pyhton module.

Used Dell Repo-Manager to export everything to a NFS share and used idrac_firmware for update.

This is the error thrown at execution of the playbook:

An exception occurred during task execution.
To see the full traceback, use -vvv.
The error was: AttributeError: 'NoneType' object has no

[2020-02-11 16:51] jjeganathan commented on #19
@rajeevarakkal Yes.
And I have the following message when I don't specify the <code>capacity</code>

I still have to do the calculation of the exact amount of space available.
So based on your documentation which says:

    required: False
    description: Virtual disk size in GB.

I think this is still a bug :p

[2020-02-14 14:15] jallyn18 opened #102 "dellemc_idrac_firmware failing with job_wait set to true"
Hello,

I have the firmware update module working, but it seems that the job_wait parameter causes the playbook to fail when it's set to true.

Version info:
Ansible 2.9.3
Dell opensdk 1.2.387
Dell OME Ansible modules 2.0.8
iDRAC versions 3.30.30.30 and 3.34.34.34

My playbook is this:

---
- hosts: localhost
  connection: local
  name: Update Firmware Inventory
  gather_facts: False

  tasks:
  -

[2020-02-17 05:53] rajeevarakkal commented on #102
@jallyn18 this `dellemc_idrac_firmware` is one of the deprecated module. Can you try with the 'idrac_firmware' module and let us know the details

[2020-02-17 05:54] rajeevarakkal commented on #101
@thizmo please update your omsdk library to latest "devel" copy as mentioned in the README. Let us know still you are facing the issue

[2020-02-17 05:56] rajeevarakkal commented on #99
@shelkro , Can you try pointing to right python environment or reinstalling omsdk latest "devel" copy. Looks like omsdk is not reflecting the changes or in a different python environment.

[2020-02-17 15:15] jallyn18 commented on #102
Thanks Rajeev, that works better, but I guess it's not a true indicator of "waiting" for the job to complete.

The job it is looking at seems to be the repository update job and not the actual updating of firmware components. I don't really know how that could be architected though.

"JobState": "Completed",
        "JobType": "RepositoryUpdate",
        "Message": "Job completed successfully.",

[2020-02-17 15:15] #102 closed

[2020-02-18 05:51] rajeevarakkal commented on #102
@jallyn18  thanks. We will check the input you have given and do the needful enhancement if any

[2020-02-24 00:08] silvam11 opened #103 "idrac_firmware firmware is not idempotent"
I ran the idrac_firmware module (idrac_firmware) to upgrade firmware for a R640 server and the module failed with the following error:

`{"changed": false, "msg": "'GetRepoBasedUpdateList_OUTPUT'"}`

As the message above does not allow to identify the root cause of the issue, I started debugging the code and I figured out that the issue happens because all the components of my server are already o

[2020-02-24 00:16] silvam11 opened #104 "GetRepoBasedUpdateList_OUTPUT error message should be more descriptive"
During the execution of the idrac_firmware module I received the following error message:

`{"changed": false, "msg": "'GetRepoBasedUpdateList_OUTPUT'"}`

Debugging the code, I was able to see the following exception:

[code]
Looking at the snippet above, it is possible to see that the root cause is **returned status code doesn't match with the expected success code** because **Firmware versions o

[2020-02-24 22:53] dside9371 opened #105 "invalid member name: u'UsbManagedPort -- only alpha/numeric and underscore (_) characters are supported"
Hello,
I'm new to using Ansible with idrac and running to this error when I run my Playbook
` FAILED! => {"changed": false, "msg": "invalid member name: u'UsbManagedPort ' -- only alpha/numeric and underscore (_) characters are supported"}`

the error is generating from this file

` File "/home/ansible/.local/lib/python2.7/site-packages/enum/__init__.py", line 463, in _create_
    raise ValueError

[2020-02-25 00:39] dside9371 commented on #105
the solution was using ansible with Python 3.6 instead of Python 2.7

[2020-02-25 00:39] #105 closed

[2020-02-27 12:43] thizmo commented on #101
Hi,

i did what was written on the README in the omsdk.
Ended up installing this: pip install omsdk-1.2.387-py2.py3-none-any.whl

After running my playbook again, i now get this error:

 FAILED! => {"changed": false, "msg": "No module named 'omdrivers.enums'"}

Thx for your help!

[2020-02-28 00:12] richardjohnallsopp opened #106 "Error running playbooks with the latest version - only alpha/numeric and underscore (_) characters are supported"
Hey I'm seeing this issue running any playbook with the latest version:

flynn@NCL-WL-16612:~/ansible-redfish$ ansible-playbook dell_idrac.yml -i inventory/inventory

PLAY [<hostname>] ****************************************************************************************************************************************************************************************

TASK [Gathering Facts] ******

[2020-02-28 09:58] felixs88 commented on #101
@thizmo we are not able to reproduce this error, can you reinstall the packages and give a try, make sure that latest version of OMAM and OMSDK downloaded from Github.

[2020-03-02 10:06] thizmo commented on #101
Hi @felixs88,

did all that again. Used -vvv to get more information.
Still not working, this the output.

File "/home/username/.local/lib/python3.5/site-packages/omdrivers/iDRAC.py", line 29, in <module>
    from omdrivers.enums.iDRAC.iDRACEnums import *

And the rest still fails...

Thx.

[2020-03-02 11:10] thizmo commented on #101
Hi,

i solved it. Problem (from my point of view) is in the few different versions and if you don't look carefully into all the different READMEs.

So what i did.
- Remove/uninstall the old omsdk
- Remove the formerly clone repo.
- Doing exactly what is in the readme with -b devel devel and single-branch
- Cloning again the omsdk, running the build.sh with parameters
  - Ending up having two files

[2020-03-02 11:10] #101 closed

[2020-03-03 14:29] thizmo commented on #104
Hi, thx for the ticket.
Having this problem too. Yet not with the latest versions available vor iDrac.

Reason
My latest Dell DRM (3.3, Cli-Only, on Ubuntu 18.04) doesn't update the repository.

03-03-20 15:21:33 Saving Repository Version Dell:1,01
03-03-20 15:21:33 SCHW com.dell.drm.datamanager.RepositoryDataManager nextVersion                  Invalid Version Name For input string: "1,01"
03-03-

[2020-03-04 00:26] yuji-myst opened #108 "dellemc_get_system_inventory failing on idrac9"
Hello,
Executing dellemc_get_system_inventory resulted in an error. Do you know the cause and how to deal with it?

Playbook contents
[code]
Error description
[code]
iDRAC firmware version version
iDRAC9 version: 3.21.26.22

Can run successfully for this version
iDRAC8 version: 2.70.70.70

Since the following command can be executed successfully for the same iDRAC, we believe that there is no prob

[2020-03-05 16:11] silvam11 commented on #104
@thizmo I did some investigation regarding this issue and the root cause seems to be on redfish APIs implemented by iDRAC. In a nutshell, I was able to reproduce the same issue using postman calling the following APIs:

1. DellSoftwareInstallationService.InstallFromRepository
2. DellSoftwareInstallationService.GetRepoBasedUpdateList

[2020-03-10 03:18] topzy2000 opened #109 "HTTP error updating firmware using OME"
![error_ome](https://user-images.githubusercontent.com/17653530/76275921-849ddd00-6252-11ea-97c8-841721534f3e.JPG)

![ome playbook](https://user-images.githubusercontent.com/17653530/76276145-1574b880-6253-11ea-8b36-5076cbe95baf.JPG)

Hello,

I get an HTTP error 404 when i try to update a firmware using ome. I attached images of my playbook and the error. I put the correct path to the file on the

[2020-03-11 19:31] davisglenn opened #110 "Error: invalid member name: u'UsbManagedPort '"
I am having an issue running the dellemc openmanage ansible modules.  Specifically I tried:
dellemc_get_system_inventory
dellemc_get_lcstatus
Can anyone tell me why this is happening?  I am using Python 2.7.5 and omsdk 1.2.370

ansible-playbook 2.8.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/export/home/pl80488/.ansible/plugins/modules', u'/usr/share/ansible/pl

[2020-03-11 19:59] tsquillario opened #111 "Feature Request: idrac_server_config_profile local file import"
I would like to Import a local XML file in the ansible role directory, no share. Users will expect this functionality as ansible makes heavy use of files and templates. This would allow you to manage the XML files in source control as well. Eventually I would like to use variables to dynamically generate XML files using templates.

Local file import is currently possible via Redfish https://github

[2020-03-13 08:36] rajeevarakkal commented on #91
This is fixed in the latest "devel"

[2020-03-13 08:37] #91 closed

[2020-03-13 08:37] rajeevarakkal commented on #92
@pkolakow This is fixed in the latest "devel"

[2020-03-13 08:37] #92 closed

[2020-03-16 11:01] jagadeeshnv commented on #106
Hi @richardjohnallsopp , this issue was due to the update in the enum34 library. this will be seen in enum34==1.1.8 and 1.1.9. We had reported the issue to https://bitbucket.org/stoneleaf/enum34/issues/29/member-keys-with-special-characters. They have fixed it and released 1.1.10. So updating enum34 to 1.1.10 will solve this issue. "pip install enum34==1.1.10"

[2020-03-16 11:02] jagadeeshnv commented on #110
Hi @davisglenn  , this issue was due to the update in the enum34 library. this will be seen in enum34==1.1.8 and 1.1.9. We had reported the issue to https://bitbucket.org/stoneleaf/enum34/issues/29/member-keys-with-special-characters. They have fixed it and released 1.1.10. So updating enum34 to 1.1.10 will solve this issue. "pip install enum34==1.1.10"

[2020-03-16 15:55] davisglenn commented on #110
Thanks!  I have confirmed that upgrading to enum34 v1.1.10 solved my issue.

[2020-03-16 15:55] #110 closed

[2020-03-19 12:17] jagadeeshnv commented on #104
We are working on it, fix will be posted by 3/31

[2020-03-20 13:41] silvam11 commented on #104
@jagadeeshnv First of all, thanks! Secondly, what is the root cause? Is it on the redfish side?

[2020-03-24 17:26] grantcurell opened #112 "Dell EMC OMSDK library is required for this module"
Does not seem to be related to: https://github.com/dell/dellemc-openmanage-ansible-modules/issues/37

I have installed the OpenManage library, but using both Python 3 and Python 2 interpreters with Ansible I receive "Dell EMC OMSDK library is required for this module". Is additional installation required outside of what is listed in the readme?

## Error Message

![image](https://user-images.githu

[2020-03-24 17:53] grantcurell commented on #112
I fixed this error by manually installing the OMSDK module. To the devs - is this by design or did I miss the mark on something? If so, I can provide updated instructions via a pull request. To fix:

1. `git clone https://github.com/dell/omsdk.git`
2. `cd omsdk`
3. `pip3 install wheel`
4. `pip3 install -r requirements-python3x.txt`
5. `sh build.sh 1.2 423` # Note: Numbers may change based on curre

[2020-03-26 05:36] jagadeeshnv commented on #99
@shelkro could you install the devel copy from omsdk. That has the required update

[2020-03-26 05:37] jagadeeshnv commented on #112
Thanks @grantcurell. Can we close this Issue?

[2020-03-26 06:48] jagadeeshnv commented on #111
@tsquillario idrac_server_config_profile supports import and export locally. Can you confirm the exact scenario

[2020-03-26 18:31] tsquillario commented on #111
Sorry I guess I didn't test this well enough. I can confirm it works as expected! Thanks.

[2020-03-26 18:31] #111 closed

[2020-03-31 05:38] jagadeeshnv commented on #106
@richardjohnallsopp Can we close on this?

[2020-03-31 16:09] jagadeeshnv commented on #104
Hi @silvam11
The issue has been addressed in latest devel release, Please verify with
[https://github.com/dell/dellemc-openmanage-ansible-modules/tree/v2.0.10 ](url)

[2020-04-18 05:48] markatdxb commented on #46
Actually would be great if you could make modules available as part of Ansible Galaxy collection, similar to other providers like VMware, F5 etc...

[2020-04-23 05:22] markatdxb opened #113 "dellemc_configure_idrac_users is unreliable - errors"
Hello,  i spent last few developing code to configure idrac using modules. Part of it is reset of root password.
I have ran this module many times and 7 out 10 i get always the same error bellow. My approach is to create temp_root, user temp_root to change root and delete temp_root.
Is there anything you can do about it to fix it ?
Error usually comes before the module configuration export part is

[2020-04-23 12:34] spoer78 opened #114 "Disable Default Password Warning"
Hello there,

i am trying to figure out how to disable the password warning for the default idrac admin user "root". I know how to do it via racadm (if installed), but is there a way to do it directly via these ansible roles an the api/redfish without racadm?

Thank you,
sp

[2020-04-24 17:05] tsquillario opened #115 "dellemc_change_power_state not idempotent"
When you try to power on a server that is already powered on you receive an error. The dellemc_change_power_state module should catch this error and report status as unchanged.

Current workaround is to ignore_errors.

```FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "msg": {"Data": {"Message": "returned status code doesn't match with the expe

[2020-04-26 18:32] mariolenz commented on #46
I agree that it would be great to have this available as a Galaxy [collection](https://docs.ansible.com/ansible/2.9/dev_guide/developing_collections.html). After all, they seem to be the preferred distribution format for Ansible content.

I've started to [re-factor this into a collection](https://github.com/mariolenz/dellemc-openmanage-ansible-modules/tree/collection) in the namespace [dellemc](ht

[2020-04-28 02:48] markatdxb opened #116 "idrac_firmware - error 403"
hi,
i just wrote a simple playbook trying to update fw on my idrac but always getting error:
urlopen error Tunnel connection failed: 403 Forbidden
here is complete info:
[code]

[2020-04-28 03:34] markatdxb commented on #116
sorry my mistake - i figured that problem was on share configuration

[2020-04-28 03:34] #116 closed

[2020-04-28 14:05] markatdxb opened #117 "idrac_firmware - error when using https://downloads.dell.com"
Hello, been testing this module extensively over the last few days.
I'm getting following errors when trying to use https://downloads.dell.com
Need to mentioned that in our environment we need to use proxy for internet access.
Ansible is configured for proxy internet access.

{
    "msg": "Failed to update firmware.",
    "update_status": {
        "Data": {
            "InstallFromRepository_OUTP

[2020-05-07 09:34] dids50x commented on #98
Hello,

I have exactly the same needs as @thizmo .

Please Dell (@rajeevarakkal ), could you make the changes available soon?

Regards.

[2020-05-08 04:32] goetzk opened #118 "Support for 11G servers"
Hi,
I'm wondering if support for 11G servers (C6145's in my case) is feasible or if the BMC is just too limited to make this level of automation workable. Depending on how much work would be required I could try and contribute some code towards the goal.

thanks,
Karl.

[2020-05-08 19:46] tsquillario commented on #103
I'm experiencing this as well. The module should exit with OK status if no firmware needs updated or downgrade of firmware is not allowed.

[2020-05-08 19:48] tsquillario opened #119 "idrac_firmware allow downgrade option"
If you run against a DRM repo with older firmware it will downgrade the firmware. I think we should have an option to allow that or not because it can be useful in certain scenarios.

[2020-05-11 09:26] jagadeeshnv commented on #118
We don't support 11G, neither do we have legacy support from ansible, as this project started recently

[2020-05-11 09:28] jagadeeshnv commented on #115
Thank you @tsquillario we have taken note of this issue. Will fix in the next releases

[2020-05-11 09:28] #112 closed

[2020-05-11 09:29] #106 closed

[2020-05-11 09:30] jagadeeshnv commented on #99
@shelkro it has been fixed if you get the latest devel from omsdk and OMAM

[2020-05-11 09:30] #99 closed

[2020-05-11 09:31] jagadeeshnv commented on #104
@silvam11 Did you get a chance to try with the latest version?

[2020-05-11 09:46] silvam11 commented on #104
@jagadeeshnv Sorry no. I will do this week and let you know

[2020-05-11 11:22] jagadeeshnv commented on #108
@yuji-myst Sorry about the delay. We are Looking into the issue. As it is not reproducible in all iDRACs. we will get back after the investigation

[2020-05-11 15:38] tsquillario commented on #103
Guess I spoke too soon. I'm rerunning a playbook after the firmware was updated and I'm getting an error instead of a passing green. @jagadeeshnv thoughts?

OMAM 2.0.11
omsdk 1.2.439
iDRAC 4.11.11.11

```FAILED! => {"changed": false, "msg": "HTTP Error 400: Bad Request", "update_status": {"error": {"@Message.ExtendedInfo": [{"Message": "Firmware versions on server match catalog, applicable updates

[2020-05-12 15:44] mariolenz commented on #46
I found some time to work on [re-factoring this into an ansible collection](https://github.com/mariolenz/dellemc-openmanage-ansible-modules/tree/collection), specifically on the unit tests.

`ansible-test units --requirements` is quite happy now, but while 542 tests pass there is 1 that fails and 4 errors. At the moment, I don't understand why... it would be great if someone could have a look into

[2020-05-13 11:40] mariolenz commented on #46
I got rid of one error, but there are still 3 more. But it looks like there is only one underlying problem as `test_idrac_os_deployment.py` tries 3 times to acces `sdkinfra` in module `dellemc_idrac` which doesn't exist:

https://github.com/dell/dellemc-openmanage-ansible-modules/blob/7a2411efdc76050e0345b3188bbca8b60849dab3/test/units/library/test_idrac_os_deployment.py#L42-L47

And this one look

[2020-05-13 13:23] anupamaloke commented on #119
@tsquillario, thanks for providing this feedback. I have added this requirement to our backlog.

[2020-05-13 13:42] anupamaloke commented on #119
@tsquillario, thanks for providing this feedback. I will have this added to backlog for next release. please stay tuned for update

[2020-05-14 15:44] mariolenz commented on #46
@fxfitz @luisico @markatdxb @goetzk
I've issued PR #120. We don't use these modules (yet) so I couldn't do any real-world tests, but I hope it works nevertheless. Would love to get your feedback!

[2020-05-15 07:34] jagadeeshnv commented on #118
Hi @goetzk
Sorry for closing, abruptly
Can you give details of the exact use case so that we can look into it

[2020-05-18 21:56] goetzk commented on #118
@jagadeeshnv We have a mixed fleet, but its > 50 C6145's plus some newer, already supported, platforms.
Upgrading C6145's causes us the most trouble since we have had to get a particular version of Centos to run the installer.
Some of our systems are so old they require multi step bios upgrades so the process (a problem which caused a couple of bricks before we realised) and can take quite a while

[2020-05-18 23:33] GreyGnome commented on #49
This is still an issue for me with the latest dellemc-openmanage-ansible-modules (downloaded today 2020 05 18) and with ansible 2.9.1. This time, I needed to edit line 33, and make it look like this:

`self.idrac_pwd` = module_params['idrac_pwd']`

If I try to use "idrac_password" in my Ansible YML file, the system will complain that it's an unsupported parameter, and I need to use idrac_pwd:

`Su

[2020-05-19 16:04] GreyGnome opened #121 "Issue #49: KeyError: idrac_password"
As I mention at the end of issue 49:

This is still an issue for me with the latest dellemc-openmanage-ansible-modules (downloaded today 2020 05 18- version 2.0.12) and with ansible 2.9.1. This time, I needed to edit line 33, in /usr/lib/python2.7/site-packages/ansible/module_utils/remote_management/dellemc/dellemc_idrac.py and make it look like this:

self.idrac_pwd = module_params['idrac_pwd']

[2020-05-19 22:17] GreyGnome opened #122 "Cannot turn on the blinky (System ID) light!"
Hello,
If I try to import my scp with this setting:
https://gist.github.com/GreyGnome/e013313f1d1bebb426282d376a88433f

I notice that it doesn't change. It will stay at 0. If I go into my iDRAC via the web and change the setting, the number remains unchanged when I try to modify it from Ansible.

Am I doing something wrong? I've checked the "RESTful Server Configuration with iDRAC RESTful API" Del

[2020-05-21 09:54] jagadeeshnv commented on #121
Hi @GreyGnome
Looks like the old version of dellemc-openmanage-ansible-modules is still in your system. Do you have both Python-2 and Python-3 in you system. Our code has been changed in 2.0.1 for this issue
See this. https://github.com/dell/dellemc-openmanage-ansible-modules/blob/7a2411efdc76050e0345b3188bbca8b60849dab3/utils/dellemc_idrac.py#L33

[2020-05-21 11:09] silvam11 commented on #104
@jagadeeshnv Sorry for the delay, I have tested the changes and they look ok. I could see that now the ansible module no longer fails, returning the following message:
[code]

[2020-05-21 11:17] jagadeeshnv commented on #104
Thanks @silvam11

[2020-05-22 05:12] jagadeeshnv commented on #118
Thanks @goetzk
If i understand correctly, the module "dellemc_configure_bios" needs 11G support? or is it idrac_os_deployment?
If we get details we may be able help you with the changes for this case

[2020-05-25 13:25] muffetman opened #123 "dellemc_get_system_inventory return data"
Hi,

On line 110 of dellemc_get_system_inventory.py we have:
`module.exit_json(ansible_facts={idrac.ipaddr: {'SystemInventory': msg['msg']}})`

When retrieving the facts from this output it is necessary to extrapolate the iDRAC host's IP address due to the fact the data is put in the idrac.ipaddr dict. I am wondering why this is so and if it is necessary? For my playbooks I am using DNS names to r

[2020-05-26 19:29] GreyGnome commented on #121
You are correct. I performed a fresh install on a freshly-built RHEL 7.4 system and it worked great. Thanks.

[2020-05-26 19:29] #121 closed

[2020-05-29 21:12] ssaammoo commented on #15
I saw the problem and then it is closed with solution provided ... can someone advise plz ?

[2020-06-01 10:27] jagadeeshnv commented on #103
Hi @tsquillario
We will have a look and get back

[2020-06-03 08:28] anupamaloke commented on #123
@muffetman, you are absolutely right. There is no need to pur iDRAC host IP address in the output.
@jagadeeshnv, @rajeevarakkal,  comments?

[2020-06-05 08:53] markatdxb opened #124 "ome_firmware - option to stage updates"
Hello,
any plans to add option for staging the FW updates using ome_firmware module ?
thx

[2020-06-06 05:39] robertpriedl commented on #49
For me, this is also an issue with the latest dellemc-openmanage-ansible-modules (downloaded yesterday 2020 06 05)
The module_params on line 33 have to be changed from idrac_password to idrac_pwd.

[2020-06-08 10:27] muffetman commented on #123
Hi,
I can submit a PR if that helps?

[2020-06-11 15:53] markatdxb opened #125 "idrac_firmware failing"
hello,
just installed the latest omsdk and latest open manage modules from dev branch
when i run simple playbook i get error that apply_update is not correct parameter.
after removing apply_update it complains that share_mnt is missing.
im confused what i doing wrong as im following your documentation

[code]

[2020-06-17 12:32] jagadeeshnv commented on #125
Hi @markatdxb
At first sight, looks like the "idrac_firmware" module is not updated/upgraded.
Can we get the ansible and python version you are using, so that we can reproduce the issue and analyze further?

[2020-06-23 12:28] qwertzlbert opened #126 "ome_device_info with filter fails with 400 bad request error"
# ome_device_info fails

## Error Overview
Hi the following error occurs when I try to use the ome_device_info module together with url filters:

[code]

## Environment
### Target
OpenManage Enterprise 3.4.0
### Ansible control host:
OS: Arch linux 5.7.4-arch1-1
Python: 3.8.3
ansible: 2.9.10
OMAM: v2.0.14
omsdk: 1.2.445
### Jump/Bastion-Host
OS: ubuntu 18.04 (4.15.0-101-generic)
Python: 2.7.17 (de

[2020-06-23 12:57] qwertzlbert commented on #126
Added pull request for fixing the issue in python3 environments #127
A fix for python 2 is still needed

[2020-06-24 05:01] jagadeeshnv commented on #126
Thanks @qwertzlbert. We have fixed the issue, will upload it soon

[2020-06-24 08:10] qwertzlbert commented on #126
@jagadeeshnv  Ok, I will close the pull request and close the issue when the fix is pushed to the repo

[2020-06-24 21:40] mariolenz commented on #46
@fxfitz @luisico @markatdxb @goetzk
In case you're still interested, the DellEMC guys opened a new branch `collections`to work on this issue (hooray!) and I've created a new PR #128 for this branch instead of against the `devel` branch.

[2020-06-25 07:05] markatdxb commented on #46
@mariolenz  That's a great news, thanks for info and all your hard work in this.

[2020-06-25 17:08] jjeganathan commented on #19
I just found out that I can create a VirtualDisk with capacity "278.875" GB but not with "278.88" GB.
278.88GB is the value displayed in the storage panel of the IDRAC.
278.875GB is the value found in the menu of the virtual disk configuration (when you want to increase its size)
It seems that it's waiting for the exact size. I've never thought that value would work before :thinking:

Anyway, do y

[2020-06-25 17:15] jjeganathan opened #129 "Parameter number_dedicated_hot_spare for raid 1"
Hello,

I have 3 disks of 278.875GB on location 12/13/14 and all the others locations are used with other disks (1.1TB)
I'm trying to initialize a virtual disk with two of them and use the third one as a dedicated hot spare

[code]

The virtual disk is created but the hot spare is not configured to the virtual disk.
Can you please explain me how to configure the hot spare for this virtual disk ?

[2020-07-07 19:06] mariolenz commented on #46
@markatdxb

Actually, the work wasn't that hard... I quite enjoyed it because I've learned a lot about Ansible collections. The real problem is to make the maintainers of this project work with me on this. At the moment, they simply refuse to talk with me :-(

[2020-07-08 07:11] markatdxb commented on #46
thats quite sad :( these guys need a lot of help i would say as lot of
things are immature and buggy :( - lets just hope it will change soon . we
starting with automation some Dell related processes and depend on Dell
modules reliability

On Wed, 8 Jul 2020 at 02:07, Mario Lenz <notifications@github.com> wrote:

[2020-07-08 07:12] markatdxb commented on #125
hi actually i think i figured that out. there seems to be python cached version of the idrac_firmware module. after deleting the that bit, module seems to work as expected

[2020-07-08 07:12] #125 closed

[2020-07-08 09:23] jagadeeshnv commented on #126
hi @qwertzlbert
The issue has been addressedin the latest release v2.1. Kindly check and let us know, i fit is fixed

[2020-07-08 19:34] mariolenz commented on #46
@jagadeeshnv told me they're still reviewing my changes, so it looks like it's probably only a communication problem.

Yep, I agree... it's a mess. I hope that re-factoring into a collection will improve things as this would mean we'll have some kind of standardization. I think the ansible guys are **very** good at keeping their code base healthy and a collection can `ansible-test units --requirem

[2020-07-09 09:07] qwertzlbert commented on #126
Yes I have seen the changes utils/ome.py here https://github.com/dell/dellemc-openmanage-ansible-modules/commit/847517c23ab032b7eeb0901b30d67b181c0a2d41#diff-71860c3ba6ee8b937bbe923abd75b0ebL95

I'm not fully sure if this completely removes the problem, as I did not test it with other characters defined as reserved under  RFC3986 (https://tools.ietf.org/html/rfc3986#section-2.2) (e.g. '_.-~' ). Bu

[2020-07-09 09:09] qwertzlbert commented on #31
Sorry I tried to get hands on another vxrail to test, but I failed. As this is  an old issue I would close this for now and see it as fixed (Codewise quite a lot happend between my issue request and now).

[2020-07-09 09:09] #31 closed

[2020-07-09 09:34] jagadeeshnv commented on #126
Thanks @qwertzlbert , the issue can be closed, its tested

[2020-07-09 21:23] #126 closed

[2020-07-16 07:11] #117 closed

[2020-07-16 07:13] markatdxb opened #130 "idrac_firmware - add proxy option"
hi,
any chance you could add option to specify http proxy as part of the idrac_firmware module ?
We need it in order to access donwloads.dell.com
thanks

[2020-07-21 06:47] anupamaloke commented on #123
@muffetman, please submit a PR.

[2020-07-22 09:42] samalv opened #131 "dellemc_configure_bios fails and returned status code doesn't match with the expected success code"
I tried the module dellemc_configure_bios to change Boot mode and the modules always fails regardless of parameter value

Server Model: PowerEdge C6420
BIOS Version | 2.6.3
iDRAC: 9
iDRAC Firmware Version | 4.10.10.10

[code]

The output is:

[code]

The credentials are OK and other modules work Ok. I would to know please if there is any workaround/alternative to set Boot mode in case the module c

[2020-07-23 00:26] jhg03a commented on #46
In my case, I wanted to embed the dell modules into an existing role so I used [Python GILT](https://pypi.org/project/python-gilt/) to blend it in.
[code]
Sofar I havn't run into any issues solong as you also ensure the running environment has omsdk available.

[2020-07-23 13:50] dmc5179 opened #132 "dellemc_change_power_state fails if host is already on"
When using the following tasks:

[code]

I get the following error message if the server is already on:
[code]

This shouldn't happen. If the server is already on then this tasks should succeed. For example, I can use the VMWare ansible modules to tell a VM to poweron many times. The first time causes the VM to turn on. All subsequent times result in no change and no error.

[2020-07-24 03:38] dmc5179 opened #133 "Examples are just json return output"
All of the sample files that I've looked at in this repository are not sample yaml for ansible. They are the json output that is returned when a module is run. This is not helpful or useful at all. Every single file in here is json output....

https://github.com/dell/dellemc-openmanage-ansible-modules/tree/devel/samples/idrac

[2020-07-27 17:12] mariolenz commented on #46
@fxfitz These modules were released as an [ansible collection](https://galaxy.ansible.com/dellemc/openmanage) today. Is that OK for you, can this issue be closed?

[2020-07-27 19:54] fxfitz commented on #46
Collection works for me! Awesome job guys! Closing the issue! :ty:

[2020-07-27 19:54] #46 closed

[2020-07-28 05:38] jagadeeshnv commented on #133
Hi @dmc5179
please look into the examples https://github.com/dell/dellemc-openmanage-ansible-modules/tree/devel/examples for yaml

[2020-07-28 12:00] jagadeeshnv commented on #132
@dmc5179 We will analyze and get back on this

[2020-07-28 12:03] jagadeeshnv commented on #131
@samalv We will look into it and get back. Meanwhile Can you share us the omsdk version you are using and the current boot mode of the system.

[2020-07-28 12:17] jagadeeshnv commented on #122
@GreyGnome Can you share the exact playbook for further analysis?

[2020-07-28 12:24] jagadeeshnv commented on #109
@topzy2000 Wanted some details. Can you please let us know the OME version you are using?

[2020-07-28 12:44] #104 closed

[2020-07-28 12:44] jagadeeshnv commented on #108
@yuji-myst Please update to the latest omsdk, This has been fixed

[2020-07-28 13:18] dmc5179 commented on #133
@jagadeeshnv Yes, I noticed a day or so after I submitted the issue that there is an examples and a samples folder. Examples has the example yaml for the ansible tasks. Samples has json output. What exactly is the json output for? I certainly don't see this json output in ansible unless maybe there is an issue with the tasks.

[2020-07-28 13:40] jagadeeshnv commented on #133
@dmc5179 With verbose mode  you can see detailed output. This is just for reference

[2020-07-29 05:31] samalv commented on #131
Thanks a lot @jagadeeshnv

Below is the version:
omsdk                              1.2.445

I tried the play when boot mode was set to BIOS and UEFI and in both cases the module fails

[2020-07-29 12:46] jagadeeshnv commented on #108
@yuji-myst  Can you confirm and close this if resolved??

[2020-07-29 16:06] markatdxb commented on #46
Great job guys, thanks a lot

On Tue, 28 Jul 2020, 00:13 Mario Lenz, <notifications@github.com> wrote:

[2020-07-31 14:01] #108 closed

[2020-07-31 14:41] tsquillario commented on #100
The dellemc_configure_idrac_users module does not adhere to Ansible best practices. It should use a 'state' parameter instead of 'action' and accept 'present' or 'absent'. Then it should detect if this users already exists and modify it accordingly.

[2020-07-31 15:10] tsquillario commented on #100
This module also needs rewritten to remove the dependency on the liaison share. I set 'share_name' to /tmp and I get "Unable to export scp, exception occurred"

[2020-08-10 08:32] anupamaloke commented on #85
@tsquillario, Virtual Media support has now been enabled in the [redfish_command.py](https://github.com/ansible-collections/community.general/blob/main/plugins/modules/remote_management/redfish/redfish_command.py). In order to use the virtual media commands, please make sure that you install community.general ansible collection using `ansible-galaxy` CLI:

[code]
You can also include it in a ```re

[2020-08-10 10:13] anupamaloke commented on #114
@spoer78, there are two ways in which you can disable the secure default password warning:

1. use the ```idrac_redfish_config``` module from ```community.general``` ansible-collection and set the iDRAC attribute ```SecureDefaultPassword.1.ForceChangePassword``` to ```False```:

[code]

2. Create a server configuration profile (SCP) file to set the ```SecureDefaultPassword.1.ForceChangePassword```

[2020-08-10 10:14] anupamaloke commented on #114
@spoer78, let us know if that works and whether we can close this issue.

[2020-08-12 06:20] spoer78 commented on #114
Thanks for your reply, but after 4 months this issue isn't relevant for us anymore. But maybe it can help someone else. Therefor much appreciated.

[2020-08-12 06:20] #114 closed

[2020-08-13 17:59] ThierryBesancon commented on #103
Hello

Same problem. With OMAM 2.0.14. I use a SUU iso image instead of a live DRM repository but it changes nothing in the final to the error.

Here is my workaround: ignore the raised error from `idrac_firmware`, register its output and parse it yourself to decide what to do.

[code]

More precisely i got this error:
[code]
By reading the full information, it is obvious you can ignore the failur

[2020-08-13 18:04] ThierryBesancon commented on #131
Hello

This is an old bug. It was notified in issue #21 but the issue was closed too much hastingly.

[2020-08-13 18:26] ThierryBesancon commented on #129
Hello

I don't have so many disks but here is my recipe for OMAM 2.0.14. This is a DELL server with 4 disks. I build a RAID1 virtual disk with disks 0 and 1. Then my present post will add disk 2 as a dedicated hotspare and disk3 as a global hotspare.

To build the virtual disk:
[code]
with volumes defined in the `host_vars` for this server:
[code]

To add a disk as a dedicated hot spare disk, docu

[2020-08-13 19:20] ThierryBesancon opened #136 "dellemc_idrac_reset needs precision about what it does"
Hello

I run OMAM 2.0.14. i tried some `dellemc_idrac_reset` thinking it could do a factory reset of the configuration but it does not (i had `DNS iDRAC Name` set to a custom name and it is never reset to default value).

Please note that OMAM 1.0.1 says (OK that's long ago but it is confusing):
[code]
https://www.dell.com/support/manuals/fr/fr/frbsdt1/openmanage-ansible-modules-v1.0.1/omam_1.0.1_

[2020-08-13 19:27] ThierryBesancon commented on #133
It is useful. With the description of the dict you get in the answer (see `md` file), you can decide by yourself if your task encountered a real failure or not, by your own definition of a failure (see #103 where the answer dict circumvents a false failure).

[2020-08-14 08:51] ThierryBesancon opened #137 "idrac_server_config_profile improvement requested (request)"
Hello

When you export the server config profile with `idrac_server_config_profile`, you can not specify the destination file. You can provide a `scp_file` definition but it is silently ignored. When you read `idrac_server_config_profile.py`, you clearly see the parameter is ignored and the profile is always named `ipaddr_YYYYmmdd_HHMMSS`( extension `.xml` or `.json`). That makes the name quite un

[2020-08-14 13:10] janr7 opened #138 "ome_job_infoy.yml : ome Module. The error was: json.decoder.JSONDecodeError"
Hello Team

Question: Can you please get me on track?

Am using: https://galaxy.ansible.com/download/dellemc-openmanage-2.1.0.tar.gz

Running simple ome_ playbook giving error as pasted below.
dellemc and redfish modules is working fine.

By adding a print(s) in decoder.py before line 337, this is printed:

print(s) result:
[WARNING]: Module invocation had junk after the JSON data: <!DOCTYPE HTML

[2020-08-17 06:11] samalv commented on #131
I hope we get a solution for it this time ;-)

[2020-08-17 12:32] anupamaloke commented on #138
@janr7, what is the version of the OpenManage Enterprise? Also, can you access your OpenManage Enterprise IP address  10.14.1.3 using a web browser?
The Ansible module sends a POST request to "/api/SessionService" in order to create a user session on OME. It seems that the module received a "404 - Not Found" response.

[2020-08-17 12:48] anupamaloke commented on #137
@ThierryBesancon, thank you for submitting this feature request. While the team will triage this and add to our internal backlog for appropriate prioritization, in the meanwhile, I can think of the following workaround to achieve your workflow:

[code]

[2020-08-17 12:50] anupamaloke commented on #136
@ThierryBesancon, I believe it is a documentation bug. ```dellemc_idrac_reset``` just performs a iDRAC reset.

[2020-08-18 18:33] ThierryBesancon commented on #137
Hello

Thanks for your workaround but as i use a NFS share, `result.scp_status.file` is something like `share_name/ipaddr_YYYYmmdd_HHMMSS_scp.xml` that's to say that `share_name` is for example `192.168.0.1:/some/path/to/my/nfs/share/`. More ansible work on characters strings is needed to get the SCP to the name i would like. It is not that it can't be done but count the ansible lines to do so we

[2020-08-18 18:38] ThierryBesancon commented on #136
Hello

OK but do read between the lines as well. If `dellemc_idrac_reset` is a soft reset (and it should be said so in the documentation), the next question is of course how to do a full factory reset of the iDRAC using OMAM? That's something i would need in my use case.

Thanks in advance for your help.

[2020-08-18 18:57] ThierryBesancon commented on #113
Hello.

I encounter errors too when using `dellemc_configure_idrac_users`. OMAM 2.0.14, iDRAC 4.20.20.20.

On a first run, i create a user. Either using OMAM or using the web interface. Not important.

Then with OMAM `dellemc_configure_idrac_users` i delete that user. No error. On the same playbook i continue with creating the same user again (after all, it was removed so i should be able to recre

[2020-08-18 19:03] ThierryBesancon opened #139 "Missing feature in dellemc_configure_idrac_users. Enhancement request."
Hello

It seems to me that there is no way of getting a list of existent iDRAC users. `dellemc_configure_idrac_users` creates, modifies, removes users but does not return a list of defined users...

Or course, you can get the list of users using a SCP file and then parse the XML/JSON but to do so you need to know the way the information is written in XML/JSON.

Thanks in advance for your analysis

[2020-08-18 19:15] ThierryBesancon opened #140 "Documentation improvement request"
Hello

Thanks for the quite good documentation coming with OMAM. Let's make a step beyond and make it better.

`examples/idrac/idrac_redfish_storage_controller_job_tracking.yml` checks for the completion of a job doing it the low level way with repeatedly calling `uri:`. Why not change this to use `dellemc_get_lc_job_status`?

From
[code]
to
[code]

Hope it helps.

Thanks for the examples/samples.

[2020-08-19 07:52] janr7 commented on #138
Hello anupamaloke.
  Your question sparked a search with me.
  Did you mean one of these three? If so, we do not have it installed.
  Does OME for Ansible require one of these in order to function??
  ( https://www.dell.com/support/manuals/us/en/04/dell-openmanage-enterprise/ome-3.4_ug/minimum-system-requirements-for-deploying-openmanage-enterprise?guid=guid-54cbd632-cf9e-40b1-8420-085d49196e10&la

[2020-08-19 09:49] SainAbraham opened #141 "OS deployment using Ansible modules"
Can we deploy os in multiple poweredge servers at the same time using Ansible modules

[2020-08-19 11:06] janr7 opened #142 "Set hardware dellemc_configure_bios - attributes:"
Hello Team

The 2.1 users guide states on page 22:
Please use the
I(attributes) for BIOS attributes configuration instead.

From this I understand that all settings can be set using the I(attributes) retrieved with:
"curl -s  https://10.145.103.135/redfish/v1/Systems/System.Embedded.1/Bios" ?
Like shown below.

- it is giving a depreciation error and fail
- setting deprecation_warnings=False, give

[2020-08-22 16:31] Arislen opened #143 "idrac_os_deployment failing after firmware upgrade"
Dell EMC OpenManage Ansible Modules: Version 2.0.11
Dell EMC OpenManage Python SDK: Version 1.2.445
Python: 3.6.8
Ansible: 2.9.11
Dell System: PowerEdge R730xd
BIOS Version: 2.11.0
iDRAC/Lifecycle: 2.75.75.75

When running an Ansible playbook (snippet below):

  - name: Boot to Network ISO
    idrac_os_deployment:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_pa

[2020-08-25 10:08] #142 closed

[2020-08-25 10:30] janr7 opened #144 "dellemc_idrac_storage_volume Fails to create RAID 1"
Hello,
Please help why this Raid 1 create fail.

    - name: Create Raid boot volume
        dellemc_idrac_storage_volume:
        idrac_ip:               "{{ rmb_address }}"
        idrac_user:             "{{ rmb_username }}"
        idrac_password:         "{{ rmb_password }}"
        raid_reset_config:        "True"
        state:                     "create"
        controller_id:

[2020-08-25 14:44] anupamaloke commented on #144
@janr7, could you please share the drive inventory of the server? Also it would be good to check whether an import SCP job was created on the server? If yes, then could you please export the LC log and search the log using the import SCP JOB ID to see what was the issue?

[2020-08-25 14:47] anupamaloke commented on #141
@SainAbraham, yes you can deploy OS on multiple servers. Please take a look at [idrac_os_deployment](https://github.com/dell/dellemc-openmanage-ansible-modules/blob/devel/library/dellemc/idrac/idrac_os_deployment.py).

[code]

[2020-08-25 16:06] MallocArray opened #145 "ome_firmware_catalog.yml example errors"
In the file ome_firmware_catalog.yml the final two examples of a CIFS and NFS share have the wrong module listed.
The task shows
ome_job_info:
when it should be the same as previous tasks in this same file
ome_firmware_catalog:

[2020-08-25 16:23] MallocArray opened #146 "ome_firmware_catalog and ome_firmware_baseline not idempotent"
If the specified catalog or baseline is not present, the commands run correctly.  If a catalog already exists with the same name, an error is thrown, which is contrary to the standard Ansible use case.

 FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/libexec/platform-python"}, "changed": false, "error_info": {"error": {"@Message.ExtendedInfo": [{"Message": "Unable to create o

[2020-08-25 20:25] anupamaloke commented on #131
@samalv, could you please check whether an import SCP job was created on iDRAC? If yes, then please export the LC log and search the JOB ID of the import SCP job to check the error that caused the SCP import failure. That will help narrow down the root cause.

[2020-08-26 07:55] janr7 commented on #144
Hi anupamaloke

Thank you for looking at this.
There were only an export job log  - no import job.
R740xd
BIOS Version | 2.8.1
iDRAC Firmware Version | 4.22.00.00

Here the output  of a view request:

{
     "result": {
         "changed": false,
         "failed": false,
         "msg": "Successfully completed the view storage volume operation",
         "storage_status": {
             "Message"

[2020-08-26 07:56] janr7 commented on #144
Closed by mistake.

[2020-08-26 08:26] anupamaloke commented on #144
@janr7, for the first issue, where you were trying to configure RAID 1 on BOSS drives (Embedded AHCI controller), a virtual drive already existed.
Regarding your next issue, it seems you are trying to create RAID 10 on NVMe drives. The current module will not work for software RAID. You need to use the software raid S140 for creating RAID volumes on NVMe drives. See [here](https://www.dell.com/sup

[2020-08-26 09:38] janr7 commented on #144
Hi anupamaloke

Thank you for the info in the NVMe drives.

The BOSS drive issue:
The 'view' I attached above was from this morning after a re-install of the OS. Sorry should have done that.
A new view is pasted below after the 'delete' task ran and another 'create' play ran.
Also no Import LC JOB, only an export.

After delete Task a new View output.

{
    "result": {
        "changed": false,

[2020-08-26 13:15] janr7 commented on #144
Hi anupamaloke

Running with debug on: ANSIBLE_DEBUG=1

The paste is from after the export LC Job.

 20740 1598441981.06662: done communicating
 20740 1598441981.06703: done with local.exec_command()
 20740 1598441981.06774: _low_level_execute_command() done: rc=1, stdout=WARN: Changing isFolder to false, as it is not directory
msg_id=SYS043
Severity=Informational
could not convert string to float

[2020-08-27 07:57] anupamaloke commented on #141
@SainAbraham, I am closing this issue. Please feel free to open a new issue in case you run into errors.

[2020-08-27 07:57] #141 closed

[2020-08-27 08:03] anupamaloke commented on #144
@jan7, could you please raise a support ticket with us so that the support team can get engaged and collect as much information as needed for troubleshooting this issue?

[2020-08-27 08:54] anupamaloke commented on #144
@jan7, could you also please try using the following module ```redfish_storage_volume``` to create the VD? I am just trying to narrow down the issue. If the following module works, then we will know for sure that the issue is with ```dellemc_idrac_storage_volume```.

[code]

[2020-08-27 09:23] anupamaloke commented on #139
@ThierryBesancon, you can use the following module to get the list of users. I will be closing the request

[code]

[2020-08-27 09:23] #139 closed

[2020-08-27 09:40] anupamaloke commented on #137
@ThierryBesancon, I agree that this becomes a little cumbersome when working with CIFS or NFS shares.

[2020-08-27 11:18] janr7 commented on #144
Hi Anupam

Thank you, we will try this, thanks so much.

Some environment information.

ansible --version
ansible 2.9.11
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /global/instserv/ansible/ansible_venv/lib/python3.7/site-packages/ansible
  executable location

[2020-08-27 13:47] janr7 commented on #144
Hi Anupam

The JOB schedules to create the virtual disk with correct Name: VD_R1_1_a but never runs.
Did a IDRAC reset and cancelled JOB and re-scheduled.

Storage Configuration -> Virtual Disk Conf - all greyed out.
JOB status 0%
Still this.
RAC0659: Unable to perform the storage configuration operation(s) on BOSS-S1 because a job is currently pending or is running on the device. Wait for the job

[2020-08-27 14:41] anupamaloke commented on #144
@jan7, the ```redfish_storage_volume``` module will create a Virtual Drive creation job. Once that job is created, you will have to restart your server (not iDRAC) to kick start the VD creation. If you take a look at the sample playbook that I posted, it has four tasks:

1. Submit a VD creation job. This returns a JOB ID on success.
2. Check if job is running or pending. If running then track the

[2020-08-27 15:04] samalv commented on #131
@anupamaloke  thanks for your reply, the server was already installed and in production. I will try to find a server to replicate the issue

[2020-08-28 05:43] janr7 commented on #144
Hi Anupam

I did notice. :)  However idrac_lifecycle_controller_job_status_info seems to be part of 2.1.1, this will be loaded : 28 Aug.
Raid was successfully created after the reboot.
This is such good news and appreciated.
Thank you so much.

[2020-08-31 06:49] janr7 commented on #144
Hi anupamaloke

After 2.1.1 had been installed, dellemc_idrac_storage_volume does not give the failed message anymore.
It gives a new message but will open a new issue.
Thank you.

[2020-08-31 06:49] #144 closed

[2020-08-31 07:57] janr7 opened #147 "dellemc_idrac_storage_volume: 2nd VD request, schedules delete of existing VD on PERC controller."
Hello

dellemc_idrac_storage_volume is used to create a RAID1 VD just fine.
If dellemc_idrac_storage_volume is used to create a RAID5 VD this works as well.

However: If a second VD is added to the PERC controller, the 2nd request schedules a delete of the existing VD.
No matter which type RAID1 or RAID2 were created first.
Creating the 2nd VD manually is no problem. It stays there.

Please advise

[2020-08-31 09:11] janr7 opened #148 "redfish_storage_volume: on PERC controller fails to create mirrored VD"
Hello

Should  redfish_storage_volume  work to create a mirror with mentioned server and inventory?
Thank you.

Used:
https://galaxy.ansible.com/download/dellemc-openmanage-2.1.1.tar.gz

Model | PowerEdge R740
BIOS Version | 2.8.1
iDRAC Firmware Version | 4.22.00.00
No OS installed on server.

    - name: Create a volume with supported options
      redfish_storage_volume:
        baseuri: "{{ rmb

[2020-08-31 09:44] janr7 commented on #148
Subsequent try worked.

TASK [debug] *************************************************************************************************
ok: [localhost] => {
    "result": {
        "changed": true,
        "failed": false,
        "msg": "Successfully submitted create volume task.",
        "task": {
            "id": "JID_988667797975",
            "uri": "/redfish/v1/TaskService/Tasks/JID_9886677

[2020-08-31 09:44] #148 closed

[2020-09-01 07:36] anupamaloke commented on #147
@janr7, one workaround would be to create both RAID 1 and RAID 5 volumes using a single task. That way, both the volumes will created in one shot.

[code]

[2020-09-01 10:24] janr7 opened #149 "dellemc_idrac_storage_volume: Raid 1 fail on BOSS adapter."
Hi

We would like to be able to use dellemc_idrac_storage_volume to standardize on as module to create our Raid VD.

Could you please assist in achieving this?
Thanks so much.

  - name: Create Raid boot volume
     dellemc_idrac_storage_volume:
        idrac_ip:                  "{{ rmb_address }}"
        idrac_user:                "{{ rmb_username }}"
        idrac_password:            "{{ rmb_

[2020-09-01 21:48] qwertzlbert commented on #149
Hi,

I think your issue is your configured 'span_length: 1' option. RAID 1 requires a span length of 2, as you want to create a mirror with 2 disks, otherwise the creation will fail. I will post a more detailed example/execution log later.

Best Regards

[2020-09-02 08:31] soundcha0s opened #150 "idrac_os_deployment : IP Address format is invalid"
Model: **PowerEdge R6525**
iDRAC Firmware Version: **4.20.20.20**

Hello,

I'm opening this issue as I fail to mount an ISO on a PowerEdge R6525 while it works well on a PowerEdge R640/R630/R620.
This looks similar to [[dellemc_boot_to_network_iso] IP Address format is invalid #56](https://github.com/dell/dellemc-openmanage-ansible-modules/issues/56).

The only difference about the IP addresses in

[2020-09-02 12:42] janr7 opened #151 "Using IPV6 only addresses to address IDRAC : use eof backets - ipwrap"
Hi

We are going to deploy new servers with IDRAC IPv6 address only.
Using the IPv6 address on different modules/programs gives different results.

For an enhancement we would like to see 'ipwrap' to always work for all tasks/commands:
  baseuri: "{{ rmb_address | ipwrap }}"

configured as: rmb_address: "2a03:1e80:f804:502::1000:135"
or as:  rmb_address: "192.1.3.4"

Unless you have another way to

[2020-09-02 13:59] qwertzlbert commented on #149
Here's the example as promised

Example playbook `configure-boss.yml`:
[code]

Stdout of `ansible-playbook -i localhost configure-boss.yml -vvv`:
[code]

[2020-09-02 14:12] janr7 commented on #149
Hi

Modified play to use "span_lengh  2"

A view was requested before this run, there were no existing VDs at all.

The result while there are no Raid VD on the controller with span_length 2:

Thanks so much.

ok: [localhost] => {
    "result_setup_raid": {
        "changed": false,
        "failed": false,
        "msg": "No changes found to commit!",
        "storage_status": {
            "Mess

[2020-09-02 14:15] janr7 commented on #147
Hi anupamaloke

Thanks so much, should have done this, will try.

Jan

[2020-09-02 15:12] janr7 commented on #147
Hi anupamaloke

This worked as expected, thanks so much.
Appreciated.

[2020-09-02 15:12] #147 closed

[2020-09-04 06:43] rajeevarakkal commented on #140
@ThierryBesancon ; appreciate the feedback.
In this module, as you can see we are using `baseuri` `ip:port` connectivity approach unlike in our idrac based modules where we have `idrac_ip` and `port` as separate parameter. Hence  third line in the proposed play enhancement may fail `idrac_ip: "{{ idrac_ipaddr }}"`

With this we are closing this issue now, in case you need further assistance feel f

[2020-09-04 06:43] #140 closed

[2020-09-07 05:50] janr7 commented on #149
Will close this issue as as BOSS controller can be configured by redfish module.
Thank you.

[2020-09-07 05:50] #149 closed

[2020-09-08 15:55] Diddely opened #152 "VxRail E460 dell_get_system_inventory"
Ansible 2.9.9
Python 3.6.8
OMAM 2.1.1
omsdk 1.2.445

****E460F, 13G, idrac  H/W Version:1, F/W 2.60.60.60 failing** to collect system inventory with playbook
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/devel/playbooks/idrac/dellemc_get_system_inventory.yml

**R740 14G idrac H/W Version:1, F/W 3.21.21.21 passing**

Should i be using a different version of OMAM for 13G?

TASK [Ge

[2020-09-11 10:19] elikkayaemircan opened #153 "OS Deployment Using HTTP,FTP Share"
Current modules have oppurtunity to deploy OS using NFS and CIFS shares, but HTTP and FTP could be helpfull, too. Issue #141 did not mention these protocols. Also HTTP, FTP is available on firmware installations. Any suggestion to implement this feature?

[2020-09-11 16:29] bvivi57 opened #154 "dellemc_idrac_storage_volume: status code doesn't match with the expected success code"
When I try to create a new virtual disk by deleting the existing configuration, I get this error message.

**status code doesn't match with the expected success code**

My playbook (I use a Operator Account for connexion to IDRAC)

[code]
I use ansible 2.9.7 with python3.6 omsdk 1.2.442

Ouput from Ansible

[code]

[2020-09-14 13:19] Diddely commented on #152
I did manage to get access to some other nodes with with different versions of idrac..
Yhe issue exists when idrac <=2.60.60.60

Idrac version | HW | Pass/Fail
2.40.40.40 | P470 |  F
2.43.43.43 | P470 | F
2.60.60.60| E460F | F
2.61.60.60 | E460  | P
2.63.60.61 | P470  | P
2.70.70.70 | P470  | P

[2020-09-15 05:29] samalv commented on #131
@anupamaloke I got a new server and there was no logs related to (SCP job) or changing BIOS settings under:

Maintenance --> Lifecycle Log

[2020-09-16 12:19] Diddely opened #155 "dellemc_get_system_inventory trailing ' ,' module args IP and user"
https://github.com/dell/dellemc-openmanage-ansible-modules/blob/devel/guides/OMAM_2.1.1_Users_Guide.pdf..
Running your first iDRAC Playbook :
_inventory:[PowerEdge]R740.example.com, idrac_ip='192.168.10.10', idrac_user='root', idrac_password='idrac_password'_

Running with this causes trailing ,'s to be added the module args, IP and User, but not the FQDN..

<loci-h13.infra.lab.local,> EXEC /bin/s

[2020-09-22 11:31] anupamaloke commented on #155
@Diddely, most probably it might be an issue with iDRAC user credentials. Could you please verify that you are passing in the correct iDRAC User name and password?

[2020-09-23 06:37] Sajna-Shetty commented on #132
@dmc5179 We have replaced 'dellemc_change_power_state' module with newer module 'redfish_powerstate'. Verify this issue in newer module.

[2020-09-23 06:38] Sajna-Shetty commented on #115
@tsquillario We have replaced 'dellemc_change_power_state' module with newer module 'redfish_powerstate'. Verify idempotency behaviour in the newer module.

[2020-09-23 06:43] Sajna-Shetty commented on #145
@MallocArray We have corrected the example.

[2020-09-23 07:26] #145 closed

[2020-09-23 07:30] jagadeeshnv commented on #137
@ThierryBesancon We have added this feature with the latest commit, where "scp_file" option can be used to specify custom file name. Kindly verify and let us know

[2020-09-23 07:45] jagadeeshnv commented on #100
@tsquillario We have addressed this issue with the new module "idrac_user" Kindly verify and let us know

[2020-09-23 07:48] jagadeeshnv commented on #26
@matt13rox We have addressed this issue with the new module "idrac_user" Kindly verify and let us know

[2020-09-23 07:49] jagadeeshnv commented on #113
@markatdxb We have addressed this issue with the new module "idrac_user" Kindly verify and let us know

[2020-09-24 20:36] MikeDaSystemAdmin opened #156 "idrac_firmware: AttributeError: 'OpenURLResponse' object has no attribute 'code"
Playbook is below:

---
- hosts: localhost
  connection: local
  name: Update Firmware Inventory
  gather_facts: False

  tasks:
  - name: Update firmware from repository on a HTTP/HTTP/FTP repository
    idrac_firmware:
       idrac_ip: "{{ idrac_ip }}"
       idrac_user: "{{ idrac_user }}"
       idrac_password: "{{ idrac_password}}"
       share_name: "https://downloads.dell.com"
       reboot:

[2020-09-25 18:21] Diddely commented on #155
creds are correct, they are default..

if my inventory file looks like it does in the example
Running your first iDRAC Playbook :
inventory:[PowerEdge]R740.example.com, idrac_ip='192.168.10.10', idrac_user='root', idrac_password='idrac_password'
the comma separating items was included, for ip and user..
I changed my inventory file look more like another host file example i saw with variables and i

[2020-09-28 11:02] jagadeeshnv commented on #132
@dmc5179 Can you please verify and close this issue?

[2020-09-28 11:03] jagadeeshnv commented on #115
@tsquillario Can you please verify and close this issue?

[2020-09-28 11:03] jagadeeshnv commented on #113
@markatdxb Can you please verify and close this issue?

[2020-09-28 11:03] jagadeeshnv commented on #100
@tsquillario Can you please verify and close this issue?

[2020-09-28 11:04] jagadeeshnv commented on #26
@matt13rox Can you please verify and close this issue?

[2020-09-28 11:54] anupamaloke commented on #156
@MikeDaSystemAdmin, what is the server model and the iDRAC firmware version?

[2020-09-28 12:00] apaqd commented on #156
I've got the same issue. Server: PowerEdge R740xd2 ; IDRAC FW: 4.22.00.53

[2020-09-28 12:01] anupamaloke commented on #155
@Diddely, it seems that the issue was with credentials
The sample inventory is just an example. You can choose to setup your inventory file anyway you want. It just conveys that you must have the ```idrac_ip```, ```idrac_user``` and ```idrac_password``` attributes defined as they are used by the OpenManage Ansible modules to read the iDRAC IP address and user credentials. You can define them in ei

[2020-09-28 12:02] anupamaloke commented on #155
@Diddely, I will be closing this issue. Please reopen if you are still facing this issue.

[2020-09-28 12:02] #155 closed

[2020-09-28 12:25] Diddely commented on #155
Thanks...
but just to be clear i had set user/password correctly..
inventory:[PowerEdge]R740.example.com, idrac_ip='192.168.10.10', idrac_user='root', idrac_password='calvin'

I was following the example in accompanying docs, as I'm relatively new to ansible and this resulted in the error, when i updated my inventory with variables shown above it passed. I was a pointing it out that either the doc

[2020-09-28 14:56] roumano opened #158 "Exemple in OMAM_2.1.1_Users_Guide.pdf are not working"
Exemple in  OMAM_2.1.1_Users_Guide.pdf are not working and haven't been tested at all

Few example of issues :

# Configure the iDRAC services attributes

Follow example of Page 31 of OMAM_2.1.1_Users_Guide.pdf
[code]

Issue :
* alert_port :
[code]
remove the alert_port attribut as it's not mandatory

Rerun the ansible playblook :

* trap_format
[code]

update field trap_format,

Rerun the ansible

[2020-09-28 16:09] MikeDaSystemAdmin commented on #156
I am connecting to a PowerEdge R440
  The drac is 4.22.00.53 / 4.22.00.00 (Both versions cause the same error)

I have been able to replicate this on another machine with OMSDK installed, and both machines are using OMSDK Version 2.1.2

[2020-09-28 16:17] markatdxb commented on #113
@jagadeeshnv  - we will run tests within this week and provide feedback

[2020-09-29 15:31] MikeDaSystemAdmin commented on #156
As an update, I setup a Venv (My above examples were doing it straight from ansible).  My Venv is running ansible 2.9.13, and I get the same error.

[2020-10-01 13:51] ibt23sec5 opened #159 "Dellemc modules not taken in account after Ansible upgrade to 2.10"
After upgrade of `ansible`  to version 2.10 and reinstall of `dellemc` modules (with recommended method mentioned in README), these are no more available:

`ERROR! couldn't resolve module/action 'idrac_os_deployment'. This often indicates a misspelling, missing collection, or incorrect module path.`

And don't appears in the list of available modules:

`ansible-doc --list -t module`

Versions:
[co

[2020-10-02 09:40] bvivi57 opened #160 "idrac_bios : 'NoneType' object has no attribute 'BIOS'"
Hi

When I try to use module "idrac_bios" for change paramater on my server, i have this error

`"module_stderr": "172.18.94.165 : 'NoneType' object has no attribute 'BIOS'\n172.18.94.165 : 'NoneType' object has no attribute 'BIOS'\
`

My playbook is

[code]

I use Release 2.1.2 and omsdk-1.2.445 with ansible 2.9.7

My server is PowerEdge R640

- BIOS Version | 2.8.1
- iDRAC Firmware Version | 4.2

[2020-10-02 12:15] markatdxb commented on #113
Im closing this - seems to be working as expected now. Thanks

[2020-10-02 12:15] #113 closed

[2020-10-02 20:30] 00-eight opened #161 "Example Playbooks for TemplateService.Deploy are missing new 3.4 manadatory parameter"
The provided example ome_template.yml playbook is missing newly added mandatory parameter when the NetworkBootIsoModel-> BootToNetwork is set to true

https://github.com/dell/dellemc-openmanage-ansible-modules/blob/devel/playbooks/ome/template/ome_template.yml

OM Enterprise 3.4
API Guide: https://topics-cdn.dell.com/pdf/dell-openmanage-enterprise_reference-guide_en-us.pdf
+ TemplateService.Deploy

[2020-10-05 07:06] anupamaloke commented on #159
@ibt23sec5, with ansible 2.10, you will have to use ansible-collections.
You can install [openmanage ](https://galaxy.ansible.com/dellemc/openmanage) collection from ansible galaxy:

[code]

Once you have installed the collection, then you will have to modify your playbook to either use the FQCN (fully qualified collection name) for a module or you can use ```collections``` keyword. Please see [An

[2020-10-05 09:04] janr7 opened #162 "IPV6 not parsed: idrac_server_config_profile"
Hi

Our IDRAC have both IPV4 and IPV6 configured.
If idrac_ip is configured to used the IP name, itadell135c,, the IPV6 address is looked up and used in the play.

Could you please assist?

If this is used it works as no lookup is needed:  idrac_ip:  "10.145.103.135"
This does not work:
      idrac_ip:       "itadell135c"     ( this looks up the IPV6 and cannot parse )
      idrac_ip:       "2a03:

[2020-10-06 06:10] jagadeeshnv commented on #132
@dmc5179 This has been fixed module 'redfish_powerstate' as stated by @Sajna-Shetty. Hence closing this issue. Thank You

[2020-10-06 06:10] #132 closed

[2020-10-06 06:10] jagadeeshnv commented on #115
@tsquillario  This has been fixed module 'redfish_powerstate' as stated by @Sajna-Shetty. Hence closing this issue. Thank You

[2020-10-06 06:10] #115 closed

[2020-10-06 06:11] jagadeeshnv commented on #100
@tsquillario This has been fixed module 'idrac_user' as stated above. Hence closing this issue. Thank You

[2020-10-06 06:11] #100 closed

[2020-10-06 06:12] jagadeeshnv commented on #26
@matt13rox This has been fixed module 'idrac_user' as stated above. Hence closing this issue. Thank You

[2020-10-06 06:12] #26 closed

[2020-10-06 06:14] jagadeeshnv commented on #137
@ThierryBesancon This feature has been added with the latest commit. Hence closing issue. Thank you for the good suggestion

[2020-10-06 06:14] #137 closed

[2020-10-06 06:27] janr7 commented on #151
Logged #162 that now is a showstopper.

[2020-10-06 06:27] #151 closed

[2020-10-06 11:11] jagadeeshnv commented on #156
@MikeDaSystemAdmin Team is analyzing the issue, Thanks for the details

[2020-10-06 13:58] benfab commented on #156
@anupamaloke @jagadeeshnv We are facing the exact same issue, we will be happy to get the outcome of your analyze.

[2020-10-06 15:40] hvdkooij commented on #109
It seems you are getting closer then I ever got:

[code]

With a playbook like:
[code]

Oddly enough it works fine for `dellemc.openmanage.dellemc_get_system_inventory:`

My details are:
[code]

[2020-10-09 11:24] samalv commented on #131
any update on this one ?

[2020-10-12 08:51] anupamaloke commented on #131
@samalv, could you please try this with the latest version of OpenManage Ansible modules and omsdk library? I just tried this on a M640 server and it worked. I did not try to set the ```BootMode``` attribute as this server was running a workload; instead I just tried to set the non-disruptive ```NumLock``` attribute.

**Setup:**
- PowerEdge server model: M640
- iDRAC firmware version: 4.22.00.00
-

[2020-10-14 20:02] ibt23sec5 commented on #159
@anupamaloke I see, thanks !

[2020-10-14 20:02] #159 closed

[2020-10-15 08:10] BiochemLouis commented on #154
:+1:

[2020-10-15 13:11] anupamaloke commented on #162
@janr7, I tried the ipwrap filter to wrap the IPv6 address and it properly wraps it in square brackets.

***[inventory]***
[code]

***[playbook]***
[code]

***[playbook run]***
[code]

[2020-10-20 10:57] jagadeeshnv commented on #156
@MikeDaSystemAdmin @benfab @apaqd We have committed the fix in devel, please verify

[2020-10-22 04:39] jagadeeshnv commented on #156
Thank you for the quick repsonse

[2020-10-22 04:39] #156 closed

[2020-10-22 08:54] Wobak commented on #162
Hi

I can confirm that the IPv6 works in certain modules but not this one, even in ipwrap.

So it probably needs reviewing :
[code]

[code]

[code]

[2020-10-28 06:34] rajeevarakkal commented on #161
@00-eight , updated examples are available with latest commit today

[2020-11-03 11:09] #161 closed

[2020-11-03 14:51] MallocArray opened #169 "ome_template_network_vlan and Identity Pools"
The module "ome_template_network_vlan" does not appear to have a parameter to set the Identity pool, but when the module is applied to a template, it resets the Identity Pool to not selected.  If a template is already deployed with identities, the vlan update fails because it tries to modify the IO Pool which is not allowed.

The module needs to either not attempt to modify the Identity Pool at al

[2020-11-03 14:52] MallocArray commented on #169
Error message:
FAILED! => {"changed": false, "error_info": {"error": {"@Message.ExtendedInfo": [{"Message": "Unable to complete the request because  IO Pool update on template not allowed.  does not exist or is not applicable for the resource URI.", "MessageArgs": ["IO Pool update on template not allowed."], "MessageId": "CGEN1004", "RelatedProperties": [], "Resolution": "Check the request resourc

[2020-11-03 17:38] MallocArray commented on #146
Still present in 2.1.3

[2020-11-03 18:19] MallocArray opened #170 "ome_user and Import Directory Group"
Unable to figure out how to use the ome_user: module to create an imported directory group account.  I have set it up manually and found the proper DirectoryServiceId value, but creating/confirming the user is not working.

If I provide UserName, DirectoryServiceId, RoleID, and Enabled, I get an error about only being able to modify the Role
FAILED! => {"ansible_facts": {"discovered_interpreter_py

[2020-11-05 16:36] mrhollywoodgates opened #171 "ome_firmware_baseline_compliance_info API limit"
When using ome_firmware_baseline_compliance_info with the `baseline_name` option, the query only returns the top 100 results from the baseline report, instead of all the results.

This seems to be a result of the url:

baselines_compliance_report_path = "UpdateService/Baselines({Id})/DeviceComplianceReports"

which defaults to 100 responses.

Using:
baselines_compliance_report_path = "UpdateServic

[2020-11-09 11:06] anupamaloke commented on #170
@MallocArray, at present, the ```ome_user``` module only support local ome user configuration. Directory services account configuration is on the roadmap though. You are always welcome to submit a PR if you have already worked it out.

[2020-11-12 14:27] TrevorSquillario opened #172 "ome_discover module needed"
To automate the setup of OME this is an important module to get on the roadmap if it's not already on there.

[2020-11-20 10:39] jagadeeshnv commented on #146
@MallocArray OME 3.0 had support for creation only, hence such behaviour. With latest OME we have support for modification of catalog and baseline. Will enhance the module with modification and delete support soon

[2020-12-01 15:03] MallocArray opened #179 "ome_smart_fabric Fabric management is not supported on the specified system"
I'm not sure if this is related to this module not being idempotent, but I am trying to add a task using ome_smart_fabric to a playbook that will ensure the fabric is configured according to our existing configuration.  I have added all of the required fields to match what we already have setup, so I'm expecting the task to complete with an OK status since it is already present in the exact config

[2020-12-01 18:03] MallocArray opened #180 "check mode on ome_network_vlan_info skipping execution"
Using 2.1.4 of the collection and when a task uses the ome_network_vlan_info module, if Ansible is executed with --check then the entire task is skipped.  If ran in normal mode, then it executes as expected.  This is causing problems with a playbook that I'm wanting to use the check mode to see if modifying a smart fabric uplink would make any changes, but it relies on information from ome_network

[2020-12-01 18:14] MallocArray opened #181 "Documentation 2.1.4 ome_smart_fabric_uplink choices incorrect"
In the PDF for version 2.1.4 on page 110 for the module ome_smart_fabric_uplink, there are options listed for the ufd_enable parameter.

The options in the PDF are shown as "Enabled, or disabled".  The actual module is case sensitive and requires either option be capitalized:
`FAILED! => {"changed": false, "msg": "value of ufd_enable must be one of: Enabled, Disabled, got: disabled"}`

Documentati

[2020-12-01 18:35] MallocArray commented on #180
Temporary workaround is to add check_mode: no to the task so it always executes, even when ansible is running in check mode

`
    - name: Collect current VLAN information

      ome_network_vlan_info:
        hostname: "{{ inventory_hostname }}"
        username: "{{ dell_ome_username }}"
        password: "{{ dell_ome_password }}"
      register: current_vlans
      check_mode: no
`

[2020-12-02 15:50] MallocArray commented on #181
Adding to this, in the list of parameters for ome_smart_fabric_uplink, only new_name is listed, but there is no reference to just "name" as a parameter in the table, although it is used in the examples.  Both should be listed in the parameter list.

[2020-12-04 10:26] jagadeeshnv commented on #181
@MallocArray Thank you, we will fix this on priority

[2020-12-10 05:54] jagadeeshnv commented on #179
@MallocArray We are looking into it, we will get back in case we need any data.

[2020-12-16 04:34] Sajna-Shetty commented on #179
@MallocArray  Could you confirm if you are using an **IP address** or **hostname**?

[2020-12-16 17:45] MallocArray commented on #179
@Sajna-Shetty I am using the FQDN hostname of the Lead Chassis.  VIP is not being used in this current configuration.

[2020-12-17 09:11] elikkayaemircan opened #185 "ome_firmware_baseline and ome_firmware_baseline_compliance_info modules return DeviceServiceTag is invalid"
When I try to use ome_firmware_baseline module with ServiceTag option I get error;
    "msg": "Unable to complete the operation because the entered target DeviceServiceTag 'ABCDV63' is invalid."

When I try to use ome_firmware_baseline_compliance_info module with ServiceTag options I get error;
    "msg": "Device details not available as the service tag(s) provided are invalid."
but the same modul

[2020-12-17 11:43] jagadeeshnv commented on #133
@dmc5179 We have renamed the directory for better clarity. Please check

[2020-12-22 09:32] pineappleray66 opened #186 "Firmware update Module returns a HTTPresponse error"
Hello Team

we are running a simple firmware update playbook against our servers. the firmware update works. however we are not geting a return code so the job is reporting at failed in the play book

playbook is as follows
- name: Update firmware from repository on a internally hosted CIFS repository.
  delegate_to: localhost
  idrac_firmware:
     idrac_ip: "{{ item.key }}-lom.oob.mgmt.local"

[2020-12-22 14:54] MallocArray opened #187 "ome_application_network_proxy is skipped in check mode"
When running an ansible playbook with --check enabled, the task ome_application_network_proxy is skipped entirely, instead of running and reporting if it would change something.

Typically with check mode, a task still executes and reports OK or Changed if the task would make changes, but does not actually make any changes. I use this to ensure that things are set as desired or to understand if th

[2020-12-23 06:17] VDI-Tech-Guy opened #188 "Dell M620 (VRTX) fails to get inventory with IDRAC build 2.63.60.62 (01)"
Running simple playbook for testing fails on IDRAC 2.63.60.62 (01) on Dell M620 which is supposed to work as per readme

---
- hosts: localhost
  connection: local
  name: Get system inventory
  gather_facts: False

  tasks:
  - name: Get system inventory
    dellemc.openmanage.dellemc_get_system_inventory:
       idrac_ip:   "{{ idrac_ip }}"
       idrac_user: "{{ idrac_user }}"
       idrac_pass

[2020-12-23 14:50] davehouser1 opened #189 "Documentation for ansible collections module dellemc.openmanage?"
I am running ansible 2.10.4.
From the following post it seems that I must use the ansible collections module:

https://github.com/dell/dellemc-openmanage-ansible-modules/issues/159

There does not seem to be much documentation on how to use your dellemc.openmanage collection module. The only documentation I found for dellemc ansible was at this link, however no where does the documentation detail

[2020-12-23 15:03] #189 closed

[2020-12-23 15:08] davehouser1 commented on #189
nm, comments in the python modules detail how to use them.
Go to your collections (mine was in ~/.ansible/collections/ansible_collections/dellemc/openmanage/plugins/modules). Any specific module you want to use, open the module and read the comments in line.

[2021-01-06 09:23] weili302 opened #194 "module dellemc.openmanage.idrac_network use share_name as mandatory"
Hi, I'm new to use the openmanage modules and met this issue. When I wanted to use module dellemc.openmanage.idrac_network to update some idrac network settings like idrac name and dns domain etc, then I got error:

fatal: [localhost]: FAILED! => {"changed": false, "msg": "missing required arguments: share_name"}

But I don't use share at all. so why share_name is needed as mandatory in module del

[2021-01-07 10:50] jagadeeshnv commented on #162
@janr7 Can you please verify with the latest code, for idrac_server_config_profile

[2021-01-07 11:04] jagadeeshnv commented on #181
@MallocArray Can you check with the latest commit. It has been addressed.

[2021-01-07 12:07] #133 closed

[2021-01-07 12:10] jagadeeshnv commented on #169
@MallocArray The Issue has been fixed. Kindly Verify this

[2021-01-07 12:27] jagadeeshnv commented on #194
@weili302 that is used to provide the local path

[2021-01-07 12:35] jagadeeshnv commented on #188
@VDI-Tech-Guy Looks like more of authentication or reachability issue. Will check on this

[2021-01-07 12:42] jagadeeshnv commented on #158
@roumano This has been fixed. Thank you

[2021-01-07 12:42] #158 closed

[2021-01-07 12:59] jagadeeshnv commented on #180
@MallocArray For any of our info modules, this feature is not enabled. This is expected

[2021-01-07 16:14] VDI-Tech-Guy commented on #188
Just to let you know i did the upgrade to 2.65.65.65 (no other changes) and it worked fine.

[2021-01-07 16:56] MallocArray commented on #180
ok, but why?  Especially for info modules, there is no risk of running them while in check mode, so why would they be configured to skip?

[2021-01-07 17:04] #181 closed

[2021-01-12 06:52] jagadeeshnv commented on #103
@silvam11 Please verify this against the latest commit. It has been addressed

[2021-01-12 07:16] jagadeeshnv commented on #90
@nextnely Please check with the latest committed code. This has been fixed

[2021-01-12 07:18] jagadeeshnv commented on #186
@pineappleray66 This issue has been addresse din the latest copy, Kindly Verify

[2021-01-12 09:21] silvam11 commented on #103
Thanks @jagadeeshnv

[2021-01-12 09:34] jagadeeshnv commented on #180
@MallocArray Our team had a discussion on this. Will update you regarding it.

[2021-01-12 13:23] nextnely commented on #90
@jagadeeshnv I recently tested again with the latest code and can confirm this is now working against the newest iDRAC firmware. Thank you!!!

[2021-01-12 13:23] #90 closed

[2021-01-14 10:25] benfab commented on #130
We are also hitting this limitation, so very keen on having this option avaible as part of the idrac_firmware module.

[2021-01-14 15:39] jjeganathan opened #212 "Module dellemc_idrac_storage_volume.py broken"
Hello !

The module dellemc_idrac_storage_volume.py isn't working anymore. I think since `Release 2.1.5 `

[code]
Playbook fails with this error:
```AttributeError: 'str' object has no attribute 'get'```

---

IMO, it should be
[code]

Best regards,
Jeya

[2021-01-15 08:53] jagadeeshnv commented on #97
@kevinhuy We have added this with the latest commit, Please verify and let us know

[2021-01-15 09:00] #103 closed

[2021-01-15 13:13] pineappleray66 commented on #186
hello yes this is now working